::ng-deep .mat-horizontal-content-container
  overflow: hidden
  padding: 0px!important

.svg
  width: 100%
  height: 67px
.column
  padding: 10px

#secondary
  background-color: #3f51b5
.loginButton
  width: 25%
  padding: 6px
  font-size: 17px
.myspinner
  height: 400px
  width: 100%
