<div class="block-space block-space--layout--after-header"></div>
<div class="block mt-3">
  <div class="container container--max--xl">
    <div class="row" *ngIf="!mobileQuery.matches">
      <div class="col-12 col-lg-3 d-flex">
        <div class="account-nav flex-grow-1">
          <h4 class="account-nav__title">Navigation</h4>
          <ul class="account-nav__list">
            <li class="account-nav__item" routerLink="general-information" routerLinkActive="account-nav__item--active">
              <a>Tableau de bord</a>
            </li>
            <li class="account-nav__item" routerLink="garage" routerLinkActive="account-nav__item--active">
              <a>Mes voitures</a>
            </li>
            <li class="account-nav__item" routerLink="order-tracking" routerLinkActive="account-nav__item--active">
              <a>Suivi des commandes</a>
            </li>

            <li class="account-nav__divider" role="presentation"></li>
            <li class="account-nav__item"><a class="btn" style="background-color: #3f51b5; color: white;"
                (click)="logout()">Logout</a></li>
          </ul>
        </div>
      </div>
      <div class="col-12 col-lg-9 mt-4 mt-lg-0">
        <router-outlet></router-outlet>
      </div>
    </div>
    <ng-container *ngIf="mobileQuery.matches">
      <div class="m-2 row d-flex justify-content-between">
        <a class="btn" style="background-color: #3f51b5; color: white;" (click)="logout()">Logout</a>
      </div>
      <nav mat-tab-nav-bar [tabPanel]="tabPanel">
        <a mat-tab-link routerLink="general-information">
          Tableau de bord
        </a>
        <a mat-tab-link routerLink="garage">
          Mes voitures
        </a>
        <a mat-tab-link routerLink="order-tracking">
          Suivi des commandes
        </a>
      </nav>
      <mat-tab-nav-panel #tabPanel>
        <router-outlet></router-outlet>
      </mat-tab-nav-panel>
    </ng-container>
  </div>
</div>
<div class="block-space block-space--layout--before-footer"></div>
