<div class="block-header block-header--has-breadcrumb block-header--has-title mt-5">
  <div class="container">
    <div class="block-header__body">
      <h1 class="block-header__title">Contactez nous</h1>
    </div>
  </div>
</div>
<div class="block">
  <div class="container container--max--lg">
    <div class="card contacts">
      <div class="card-body card-body--padding--2">
        <div class="row">
          <div class="col-12 col-lg-6 pb-4 pb-lg-0">
            <div class="mr-1">
              <h4 class="contact-us__header card-title">Notre Adresse</h4>
              <div class="contact-us__address">
                <p>12 Avenue Ahmed Khabthani 2080 Ariana, Ariana<br>Email: STE.SCODEP@GMAIL.COM
                  <br>Numero de telephone : 98754741
                </p>
                <p><strong>Horaires d'ouvertures</strong><br>lundi à vendredi: 8am-8pm<br>Samdi: 8am-6pm
                </p>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<div class="block-space block-space--layout--before-footer"></div>
