<div class="about">
    <div class="about__body">
        <div class="about__image">
            <div class="about__image-bg" style="background-image: url('../../../assets/images/about-1903x1903.jpg');">
            </div>
            <div class="decor about__image-decor decor--type--bottom">
                <div class="decor__body">
                    <div class="decor__start"></div>
                    <div class="decor__end"></div>
                    <div class="decor__center"></div>
                </div>
            </div>
        </div>
        <div class="about__card">
            <div class="about__card-title" style="font-size:39px">À propos de nous</div>
            <div class="about__card-text">La société commerciale de piéce détachée SCODEP est spécialisée dans la vente de pièces de rechange pour véhicules automobiles françaises,Fondée en 1987 par la famille BEN JEBARA.
            </div>
        </div>

    </div>
</div>
<div class="block-space block-space--layout--spaceship-ledge-height"></div>
<div class="block faq">
    <div class="container container--max--xl">
        <div class="faq__header">
            <h1 class="faq__header-title">Questions fréquemment posées</h1>
        </div>
        <div class="faq__section">
            <h3 class="faq__section-title">Informations sur la livraison</h3>
            <div class="faq__section-body">
                <div class="faq__question">
                    <h5 class="faq__question-title">Quelles sont les méthodes d'expédition disponibles?</h5>
                    <div class="faq__question-answer">
                        <div class="typography">
                            <p>Lorem ipsum dolor sit amet conse ctetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.
                                Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat.
                            </p>
                        </div>
                    </div>
                </div>
                <div class="faq__question">
                    <h5 class="faq__question-title">Expédiez-vous à l'international ?</h5>
                    <div class="faq__question-answer">
                        <div class="typography">
                            <p>Lorem ipsum dolor sit amet conse ctetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.
                                Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat.
                            </p>
                        </div>
                    </div>
                </div>
                <div class="faq__question">
                    <h5 class="faq__question-title">Comment puis-je obtenir une date de livraison estimée ?</h5>
                    <div class="faq__question-answer">
                        <div class="typography">
                            <p>Lorem ipsum dolor sit amet conse ctetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.
                                Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat.
                            </p>
                        </div>
                    </div>
                </div>

            </div>
        </div>
        <div class="faq__section">
            <h3 class="faq__section-title">Informations de paiement</h3>
            <div class="faq__section-body">
                <div class="faq__question">
                    <h5 class="faq__question-title">Quels sont les modes de paiement disponibles ?</h5>
                    <div class="faq__question-answer">
                        <div class="typography">
                            <p>Lorem ipsum dolor sit amet conse ctetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.
                                Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat.
                            </p>
                        </div>
                    </div>
                </div>
                <div class="faq__question">
                    <h5 class="faq__question-title">Puis-je fractionner mon paiement ?</h5>
                    <div class="faq__question-answer">
                        <div class="typography">
                            <p>Lorem ipsum dolor sit amet conse ctetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.
                                Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat.
                            </p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="faq__section">
            <h3 class="faq__section-title">Commandes et Retours</h3>
            <div class="faq__section-body">
                <div class="faq__question">
                    <h5 class="faq__question-title">Comment retourner ou échanger un article ?</h5>
                    <div class="faq__question-answer">
                        <div class="typography">
                            <p>Lorem ipsum dolor sit amet conse ctetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.
                                Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat.
                            </p>
                        </div>
                    </div>
                </div>
                <div class="faq__question">
                    <h5 class="faq__question-title">Comment annuler une commande ?</h5>
                    <div class="faq__question-answer">
                        <div class="typography">
                            <p>Lorem ipsum dolor sit amet conse ctetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.
                                Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat.
                            </p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="faq__footer">
            <div class="faq__footer-title">Vous avez encore des questions ?</div>
            <div class="faq__footer-subtitle">Nous serons heureux de répondre à toutes vos questions.</div>
            <a routerLink="/client/contact-us" class="btn btn-primary">Contactez Nous</a>
        </div>
    </div>
</div>
<div class="block-space block-space--layout--before-footer"></div>