<ng-container *ngIf="product">
  <h2 mat-dialog-title>
    Modifier le Produit : {{product.name|uppercase}}</h2>
  <mat-dialog-content class="mat-typography">
    <mat-tab-group [formGroup]="product_form">
      <mat-tab label="Nom et catégorie du produit">
        <form class="m-2" formGroupName="first_step">
          <mat-form-field class="w-100" appearance="fill">
            <mat-label>Nom de la Piece</mat-label>
            <input type="text" matInput formControlName="name" required>
          </mat-form-field>
          <mat-form-field class="w-100" appearance="fill">
            <mat-label>Categories de la Piece</mat-label>
            <mat-select formControlName="category" required [compareWith]="compareCategory">
              <mat-option *ngFor="let c of allCategory" [value]="c">
                {{c.name}}
              </mat-option>
            </mat-select>
          </mat-form-field>
          <mat-form-field class="w-100" *ngIf="sub_category && sub_category.length > 0" appearance="fill">
            <mat-label>Les Sous Categories de la Piece</mat-label>
            <mat-select formControlName="sub_category" multiple>
              <mat-option *ngFor="let sub of sub_category" [value]="sub">
                {{sub}}
              </mat-option>
            </mat-select>
          </mat-form-field>
        </form>
      </mat-tab>
      <mat-tab label="Informations de base sur le produit">
        <form formGroupName="second_step" class="m-2">
          <mat-form-field appearance="fill" class="w-100">
            <mat-label>Prix</mat-label>
            <input type="number" matInput formControlName="price" required>
          </mat-form-field>
          <mat-form-field appearance="fill" class="w-100">
            <mat-label>Quantite</mat-label>
            <input type="number" matInput required formControlName="quantity">
          </mat-form-field>
          <mat-form-field appearance="fill" class="w-100">
            <mat-label>Description de la piece</mat-label>
            <textarea cdkTextareaAutosize matInput required formControlName="description"></textarea>
          </mat-form-field>
        </form>
      </mat-tab>
      <mat-tab label="Principaux caractéristiques">
        <ng-container formArrayName="third_step">
          <ng-container *ngFor="let f of third_step_control.controls;let i = index">
            <form [formGroupName]="i" class="m-2">
              <mat-form-field appearance="fill" class="w-100">
                <mat-label>Nom de la caractéristique</mat-label>
                <input type="text" matInput required formControlName="feature_name">
              </mat-form-field>
              <mat-form-field appearance="fill" class="w-100">
                <mat-label>valeur de la caractéristique</mat-label>
                <input type="text" matInput required formControlName="feature_value">
              </mat-form-field>
            </form>
            <mat-divider></mat-divider>
          </ng-container>
          <div class="text-center">
            <button (click)="addFeature()" mat-flat-button color="primary">
              <mat-icon>add</mat-icon>
            </button>
          </div>
        </ng-container>
      </mat-tab>
      <mat-tab label="Les Voitures Associer a la Piece">
        <mat-form-field appearance="fill" class="w-100">
          <mat-label>Les Voitures Associer a la Piece</mat-label>
          <mat-chip-list #chipList aria-label="sélectionner une voiture">
            <mat-chip color="primary" *ngFor="let car of selectedCars;let i = index" (removed)="remove(i)">
              {{car.Make}} {{car.Model}} {{car.Category}} {{car.Year}}
              <button matChipRemove>
                <mat-icon>cancel</mat-icon>
              </button>
            </mat-chip>
            <input placeholder="nouvelle voiture" #carInput [matChipInputFor]="chipList"
              [matChipInputSeparatorKeyCodes]="separatorKeysCodes" [matAutocomplete]="auto"
              (keyup)="findCars(carInput.value)">
            <mat-autocomplete #auto="matAutocomplete" (optionSelected)="selected($event)">
              <mat-option *ngFor="let car of suggestionCars" [value]="car">
                {{car.Make}} {{car.Model}} {{car.Category}} {{car.Year}}
              </mat-option>
            </mat-autocomplete>
          </mat-chip-list>
        </mat-form-field>
      </mat-tab>
      <mat-tab label="Les images du produit">
        <div class="file-upload">
          <div class="image-upload-wrap" (click)="fileInput.click()">
            <input class="file-upload-input" #fileInput (change)="addFile($event)" type='file' accept="image/*"
              multiple />
            <div class="drag-text" *ngIf="all_images_upload.length === 0 && all_preview_images.length === 0">
              <h3>sélectionnez ajouter une image</h3>
            </div>
            <div class="images" *ngIf="all_images_upload.length > 0 || all_preview_images.length > 0">
              <div class="img" *ngFor="let image of all_preview_images;let i = index"
                style="background-image: url({{image}});">
                <span (click)="removeFile($event,i)">remove</span>
              </div>
              <div class="pic">
                add
              </div>
            </div>
          </div>
        </div>
      </mat-tab>
    </mat-tab-group>
    <div class="text-center">
      <button mat-raised-button color="primary" (click)="edit()">
        <mat-icon>edit</mat-icon>
        appliquer les modifications
      </button>
    </div>
  </mat-dialog-content>
</ng-container>
<ng-container *ngIf="!product">
  <h2 mat-dialog-title>Ajouter un Produit</h2>
  <mat-dialog-content class="mat-typography">
    <div class="d-flex justify-content-center align-items-center" *ngIf="loader_spinner">
      <mat-spinner></mat-spinner>
    </div>
    <mat-stepper orientation="vertical" [formGroup]="product_form" [linear]="true" #stepper *ngIf="!loader_spinner">
      <mat-step [stepControl]="first_step_control">
        <form class="m-2" formGroupName="first_step">
          <ng-template matStepLabel>Nom et catégorie du produit</ng-template>
          <mat-form-field class="w-100" appearance="fill">
            <mat-label>Nom de la Piece</mat-label>
            <input type="text" matInput formControlName="name" required>
          </mat-form-field>
          <mat-form-field class="w-100" appearance="fill">
            <mat-label>Categories de la Piece</mat-label>
            <mat-select formControlName="category" required>
              <mat-option *ngFor="let c of allCategory" [value]="c">
                {{c.name}}
              </mat-option>
            </mat-select>
          </mat-form-field>
          <mat-form-field class="w-100" *ngIf="sub_category && sub_category.length > 0" appearance="fill">
            <mat-label>Les Sous Categories de la Piece</mat-label>
            <mat-select formControlName="sub_category" multiple>
              <mat-option *ngFor="let sub of sub_category" [value]="sub">
                {{sub}}
              </mat-option>
            </mat-select>
          </mat-form-field>
          <div>
            <button mat-raised-button color="primary" matStepperNext>Suivant</button>
          </div>
        </form>
      </mat-step>
      <mat-step [stepControl]="second_step_control">
        <form formGroupName="second_step" class="m-2">
          <ng-template matStepLabel>Informations de base sur le produit</ng-template>
          <mat-form-field appearance="fill" class="w-100">
            <mat-label>Prix</mat-label>
            <input type="number" matInput formControlName="price" required>
          </mat-form-field>
          <mat-form-field appearance="fill" class="w-100">
            <mat-label>Quantite</mat-label>
            <input type="number" matInput required formControlName="quantity">
          </mat-form-field>
          <mat-form-field appearance="fill" class="w-100">
            <mat-label>Description de la piece</mat-label>
            <textarea matInput cdkTextareaAutosize required formControlName="description"></textarea>
          </mat-form-field>
          <div>
            <button style="margin-left:1rem" mat-raised-button color="primary" matStepperNext>Suivant</button>
          </div>
        </form>
      </mat-step>
      <mat-step>
        <ng-template matStepLabel>Principales caractéristiques</ng-template>
        <ng-container formArrayName="third_step">
          <ng-container *ngFor="let f of third_step_control.controls;let i = index">
            <form [formGroupName]="i" class="m-2">
              <mat-form-field appearance="fill" class="w-100">
                <mat-label>Nom de la caractéristique</mat-label>
                <input type="text" matInput required formControlName="feature_name">
              </mat-form-field>
              <mat-form-field appearance="fill" class="w-100">
                <mat-label>valeur de la caractéristique</mat-label>
                <input type="text" matInput required formControlName="feature_value">
              </mat-form-field>
            </form>
            <mat-divider></mat-divider>
          </ng-container>
        </ng-container>
        <div class="text-center">
          <button (click)="addFeature()" mat-flat-button color="primary">
            <mat-icon>add</mat-icon>
          </button>
          <button style="margin-left: 1rem;" mat-raised-button color="primary" matStepperNext>Suivant</button>
        </div>
      </mat-step>
      <mat-step>
        <ng-template matStepLabel>Les Voitures Associer a la Piece</ng-template>
        <mat-form-field appearance="fill" class="w-100 m-2">
          <mat-label>Les Voitures Associer a la Piece</mat-label>
          <mat-chip-list #chipList aria-label="sélectionner une voiture">
            <mat-chip color="primary" *ngFor="let car of selectedCars;let i = index" (removed)="remove(i)">
              {{car.Make}} {{car.Model}} {{car.Category}} {{car.Year}}
              <button matChipRemove>
                <mat-icon>cancel</mat-icon>
              </button>
            </mat-chip>
            <input placeholder="nouvelle voiture" #carInput [matChipInputFor]="chipList"
              [matChipInputSeparatorKeyCodes]="separatorKeysCodes" [matAutocomplete]="auto"
              (keyup)="findCars(carInput.value)">
            <mat-autocomplete #auto="matAutocomplete" (optionSelected)="selected($event)">
              <mat-option *ngFor="let car of suggestionCars" [value]="car">
                {{car.Make}} {{car.Model}} {{car.Category}} {{car.Year}}
              </mat-option>
            </mat-autocomplete>
          </mat-chip-list>
        </mat-form-field>
        <div>
          <button mat-raised-button color="primary" matStepperNext>Suivant</button>
        </div>
      </mat-step>
      <mat-step [completed]="all_images_upload.length > 0">
        <ng-template matStepLabel>Les images du produit</ng-template>
        <div class="file-upload">
          <div class="image-upload-wrap" (click)="fileInput.click()">
            <input class="file-upload-input" #fileInput (change)="addFile($event)" type='file' accept="image/*"
              multiple />
            <div class="drag-text" *ngIf="all_images_upload.length === 0">
              <h3>sélectionnez ajouter une image</h3>
            </div>
            <div class="images" *ngIf="all_images_upload.length > 0">
              <div class="img" *ngFor="let image of all_preview_images;let i = index"
                style="background-image: url({{image}});">
                <span (click)="removeFile($event,i)">remove</span>
              </div>
              <div class="pic">
                add
              </div>
            </div>
          </div>
        </div>
        <div class="text-center">
          <button mat-raised-button [disabled]="all_images_upload.length === 0" color="primary" (click)="submit()"
            matStepperNext>Ajouter le Produit</button>
        </div>
      </mat-step>
      <mat-step>
        <ng-template matStepLabel>Statut</ng-template>
        <div class="container" *ngIf="!errorMessage">
          <div class="d-flex justify-content-center mt-5 checkmark">
            <svg class='confetti' height='19' viewBox='0 0 19 19' width='19' xmlns='http://www.w3.org/2000/svg'>
              <path
                d='M8.296.747c.532-.972 1.393-.973 1.925 0l2.665 4.872 4.876 2.66c.974.532.975 1.393 0 1.926l-4.875 2.666-2.664 4.876c-.53.972-1.39.973-1.924 0l-2.664-4.876L.76 10.206c-.972-.532-.973-1.393 0-1.925l4.872-2.66L8.296.746z'
                fill='#3f51b5' />
            </svg>
            <svg class='confetti' height='19' viewBox='0 0 19 19' width='19' xmlns='http://www.w3.org/2000/svg'>
              <path
                d='M8.296.747c.532-.972 1.393-.973 1.925 0l2.665 4.872 4.876 2.66c.974.532.975 1.393 0 1.926l-4.875 2.666-2.664 4.876c-.53.972-1.39.973-1.924 0l-2.664-4.876L.76 10.206c-.972-.532-.973-1.393 0-1.925l4.872-2.66L8.296.746z'
                fill='#3f51b5' />
            </svg>
            <svg class='confetti' height='19' viewBox='0 0 19 19' width='19' xmlns='http://www.w3.org/2000/svg'>
              <path
                d='M8.296.747c.532-.972 1.393-.973 1.925 0l2.665 4.872 4.876 2.66c.974.532.975 1.393 0 1.926l-4.875 2.666-2.664 4.876c-.53.972-1.39.973-1.924 0l-2.664-4.876L.76 10.206c-.972-.532-.973-1.393 0-1.925l4.872-2.66L8.296.746z'
                fill='#3f51b5' />
            </svg>
            <svg class='confetti' height='19' viewBox='0 0 19 19' width='19' xmlns='http://www.w3.org/2000/svg'>
              <path
                d='M8.296.747c.532-.972 1.393-.973 1.925 0l2.665 4.872 4.876 2.66c.974.532.975 1.393 0 1.926l-4.875 2.666-2.664 4.876c-.53.972-1.39.973-1.924 0l-2.664-4.876L.76 10.206c-.972-.532-.973-1.393 0-1.925l4.872-2.66L8.296.746z'
                fill='#3f51b5' />
            </svg>
            <svg class='confetti' height='19' viewBox='0 0 19 19' width='19' xmlns='http://www.w3.org/2000/svg'>
              <path
                d='M8.296.747c.532-.972 1.393-.973 1.925 0l2.665 4.872 4.876 2.66c.974.532.975 1.393 0 1.926l-4.875 2.666-2.664 4.876c-.53.972-1.39.973-1.924 0l-2.664-4.876L.76 10.206c-.972-.532-.973-1.393 0-1.925l4.872-2.66L8.296.746z'
                fill='#3f51b5' />
            </svg>
            <svg class='confetti' height='19' viewBox='0 0 19 19' width='19' xmlns='http://www.w3.org/2000/svg'>
              <path
                d='M8.296.747c.532-.972 1.393-.973 1.925 0l2.665 4.872 4.876 2.66c.974.532.975 1.393 0 1.926l-4.875 2.666-2.664 4.876c-.53.972-1.39.973-1.924 0l-2.664-4.876L.76 10.206c-.972-.532-.973-1.393 0-1.925l4.872-2.66L8.296.746z'
                fill='#3f51b5' />
            </svg>
            <svg class='checkmark__check' height='36' viewBox='0 0 48 36' width='48' xmlns='http://www.w3.org/2000/svg'>
              <path
                d='M47.248 3.9L43.906.667a2.428 2.428 0 0 0-3.344 0l-23.63 23.09-9.554-9.338a2.432 2.432 0 0 0-3.345 0L.692 17.654a2.236 2.236 0 0 0 .002 3.233l14.567 14.175c.926.894 2.42.894 3.342.01L47.248 7.128c.922-.89.922-2.34 0-3.23' />
            </svg>
            <svg class='checkmark__back' height='115' viewBox='0 0 120 115' width='120'
              xmlns='http://www.w3.org/2000/svg'>
              <path
                d='M107.332 72.938c-1.798 5.557 4.564 15.334 1.21 19.96-3.387 4.674-14.646 1.605-19.298 5.003-4.61 3.368-5.163 15.074-10.695 16.878-5.344 1.743-12.628-7.35-18.545-7.35-5.922 0-13.206 9.088-18.543 7.345-5.538-1.804-6.09-13.515-10.696-16.877-4.657-3.398-15.91-.334-19.297-5.002-3.356-4.627 3.006-14.404 1.208-19.962C10.93 67.576 0 63.442 0 57.5c0-5.943 10.93-10.076 12.668-15.438 1.798-5.557-4.564-15.334-1.21-19.96 3.387-4.674 14.646-1.605 19.298-5.003C35.366 13.73 35.92 2.025 41.45.22c5.344-1.743 12.628 7.35 18.545 7.35 5.922 0 13.206-9.088 18.543-7.345 5.538 1.804 6.09 13.515 10.696 16.877 4.657 3.398 15.91.334 19.297 5.002 3.356 4.627-3.006 14.404-1.208 19.962C109.07 47.424 120 51.562 120 57.5c0 5.943-10.93 10.076-12.668 15.438z'
                fill='#3f51b5' />
            </svg>
          </div>
          <div class="d-flex justify-content-center">
            <button (click)="closeModal()" type="submit" mat-raised-button color="primary" class="m-2">
              le produit est ajouté avec succès
            </button>
          </div>
        </div>
        <div class="container" *ngIf="errorMessage">
          <div class="d-flex justify-content-center mt-5">
            <svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" width="100px"
              height="100px" viewBox="0 0 40 40" version="1.1">
              <defs>
                <path
                  d="M8.43205769 38.1906149C2.90905516 38.17423 0.630739568 34.2579195 3.34303632 29.4437542L16.0266682 6.93106212C18.7390819 2.11668929 23.1497045 2.11171534 25.8729434 6.91091845L38.7464812 29.5981394C41.4720152 34.4013872 39.1981662 38.2818882 33.6812163 38.2655212L8.43205769 38.1906149Z"
                  id="path-1" />
                <filter x="-50%" y="-50%" width="200%" height="200%" filterUnits="objectBoundingBox" id="filter-2">
                  <feOffset dx="-2" dy="2" in="SourceAlpha" result="shadowOffsetOuter1" />
                  <feGaussianBlur stdDeviation="1" in="shadowOffsetOuter1" result="shadowBlurOuter1" />
                  <feComposite in="shadowBlurOuter1" in2="SourceAlpha" operator="out" result="shadowBlurOuter1" />
                  <feColorMatrix values="0 0 0 0 0   0 0 0 0 0   0 0 0 0 0  0 0 0 0.245216259 0" type="matrix"
                    in="shadowBlurOuter1" />
                </filter>
                <filter x="-50%" y="-50%" width="200%" height="200%" filterUnits="objectBoundingBox" id="filter-3">
                  <feOffset dx="0" dy="1" in="SourceAlpha" result="shadowOffsetInner1" />
                  <feComposite in="shadowOffsetInner1" in2="SourceAlpha" operator="arithmetic" k2="-1" k3="1"
                    result="shadowInnerInner1" />
                  <feColorMatrix values="0 0 0 0 1   0 0 0 0 1   0 0 0 0 1  0 0 0 0.4 0" type="matrix"
                    in="shadowInnerInner1" />
                </filter>
              </defs>
              <g id="red-exclamation" stroke="none" stroke-width="1" fill="none" fill-rule="evenodd"
                transform="translate(0.000000, -1.000000)">
                <g id="Rectangle-134">
                  <use fill="black" fill-opacity="1" filter="url(#filter-2)" xlink:href="#path-1" />
                  <use fill="#F1342F" fill-rule="evenodd" xlink:href="#path-1" />
                  <use fill="black" fill-opacity="1" filter="url(#filter-3)" xlink:href="#path-1" />
                  <use xlink:href="#path-1" />
                </g>
                <line class="exclamation" x1="21" y1="11" x2="21" y2="25" stroke-linecap="round" stroke="#fff"
                  stroke-width="4" />
                <circle class="dot" cx="21" cy="32" r="2" fill="#fff" />
              </g>
            </svg>
          </div>
          <div class="d-flex justify-content-center">
            <button type="submit" mat-raised-button color="warn" class="m-2">
              {{errorMessage}}
            </button>
          </div>
        </div>
      </mat-step>
    </mat-stepper>
  </mat-dialog-content>
</ng-container>