.file-upload
  width: 50%
  margin: 0 auto
  padding: 20px
  cursor: pointer

.file-upload-input
  position: relative
  margin: 0
  padding: 0
  width: 100%
  height: 100%
  outline: none
  opacity: 0
  cursor: pointer

.image-upload-wrap
  margin-top: 20px
  border: 4px solid #3f51b5
  position: relative

.image-dropping,
.image-upload-wrap:hover
  background-color: #3f51b5
  border: 4px solid #ffffff
  h3
    color: white

.drag-text
  text-align: center
  & h3
    font-weight: 100
    text-transform: uppercase
    color: #3f51b5
    padding: 60px 0

.images
  display: flex
  flex-wrap: wrap
  margin-top: 20px

.images .img,
.images .pic
  flex-basis: 31%
  margin-bottom: 10px
  border-radius: 4px

.images .img
  background-size: contain
  background-repeat: no-repeat
  margin-right: 10px
  background-position: center
  display: flex
  align-items: center
  justify-content: center
  cursor: pointer
  position: relative
  overflow: hidden
  padding: 40px

  &:nth-child(1n)
    margin-right: 0

    & span
      display: none
      text-transform: capitalize
      z-index: 2

    &::after
      content: ''
      width: 100%
      height: 100%
      transition: opacity .1s ease-in
      border-radius: 4px
      opacity: 0
      position: absolute

    &:hover::after
      display: block
      background-color: #000
      opacity: .5

    &:hover span
      display: block
      color: #fff

.images .pic
  background-color: #3f51b5
  align-self: center
  text-align: center
  padding: 40px 0
  text-transform: uppercase
  color: #F5F7FA
  font-size: 12px
  cursor: pointer

.image-upload-wrap:hover .pic
  background-color: #F5F7FA
  color: #3f51b5
.submit-button
  width: 20%
.checkmark
  position: relative
  padding: 30px
  animation: checkmark 5.6s cubic-bezier(0.42, 0, 0.275, 1.155) both

.confetti
  position: absolute
  animation: grow 1.4s cubic-bezier(0.42, 0, 0.275, 1.155) both infinite
  &:nth-child(1)
    width: 12px
    height: 12px
    left: 12px
    top: 16px

    &:nth-child(2)
      width: 18px
      height: 18px
      left: 168px
      top: 84px

    &:nth-child(3)
      width: 10px
      height: 10px
      left: 32px
      top: 162px

    &:nth-child(4)
      width: 20px
      height: 20px
      left: 82px
      top: -12px

    &:nth-child(5)
      width: 14px
      height: 14px
      left: 125px
      top: 162px

    &:nth-child(6)
      width: 10px
      height: 10px
      left: 16px
      top: 16px

    &:nth-child(1)
      animation-delay: 0.7s

    &:nth-child(2)
      animation-delay: 1.4s

    &:nth-child(3)
      animation-delay: 2.1s

    &:nth-child(4)
      animation-delay: 2.8s

    &:nth-child(5)
      animation-delay: 3.5s

    &:nth-child(6)
      animation-delay: 4.2s

.checkmark__check
  position: absolute
  top: 50%
  left: 50%
  z-index: 10
  transform: translate3d(-50%, -50%, 0)
  fill: #fff

.checkmark__back
  animation: rotate 35s linear both infinite

@keyframes rotate
  0%
    transform: rotate(0deg)

  100%
    transform: rotate(360deg)

@keyframes grow
  0%, 100%
    transform: scale(0)

  50%
    transform: scale(1)

@keyframes checkmark
  0%
    opacity: 0
    transform: scale(0)

  10%, 50%, 90%,100%
    opacity: 1
    transform: scale(1)
