<app-admin-side-bar *ngIf="isAdmin">
  <ng-container sidebarContent>
    <router-outlet></router-outlet>
  </ng-container>
</app-admin-side-bar>
<app-navbar *ngIf="!isAdmin">
  <ng-container *ngIf="mobileQuery.matches" clientSideNavMobile>
    <router-outlet></router-outlet>
    <!-- <app-footer></app-footer> -->
  </ng-container>
  <ng-container *ngIf="!mobileQuery.matches" clientSideNavWeb>
    <router-outlet></router-outlet>
    <!-- <app-footer></app-footer> -->
  </ng-container>
</app-navbar>
