<div class="text-center mt-2">
  <button (click)="openModal()" mat-fab color="primary">
    <mat-icon>add</mat-icon>
  </button>
</div>
<div class="block">
  <div class="products-view">
    <div class="products-view__list products-list products-list--grid--6" data-layout="list">
      <div class="products-list__content" style="margin: 0;">
        <div class="products-list__item" *ngFor="let category of allCategory;let i = index">
          <div class="product-card">
            <div class="product-card__image">
              <div class="image image--type--product">
                <a class="image__body">
                  <img class="image__tag" [src]="allImages[i] | async" alt="">
                </a>
              </div>
            </div>
            <div class="product-card__info">
              <div class="product-card__name">
                <a>{{category.name|uppercase}}</a>
              </div>
              <div class="product-card__features">
                <div class="product__features-title">Sous catégorie:</div>
                <ul>
                  <li *ngFor="let sub of category.sub_category">
                    <span>{{sub}}</span>
                  </li>
                </ul>
              </div>
            </div>
            <div class="product-card__footer">
              <div class="product-card__prices">

              </div>
              <button (click)="openModal(category)" mat-raised-button color="primary" class="mb-2" type="button">
                <mat-icon>edit</mat-icon>
                Modifier
              </button>
              <button (click)="deleteCategory(category)" mat-raised-button color="warn" type="button">
                <mat-icon>delete</mat-icon>
                Supprimer
              </button>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>