<div class="text-center mt-2">
  <button (click)="openModal()" mat-fab color="primary">
    <mat-icon>add</mat-icon>
  </button>
</div>
<div class="ml-1">
  <mat-form-field color="primary" appearance="fill">
    <mat-label>Rechercher un produit</mat-label>
    <input (keyup)="filter()" [(ngModel)]="searchBar" matInput placeholder="Entrer le nom du produit">
    <mat-icon matSuffix>find_in_page</mat-icon>
  </mat-form-field>
</div>
<div class="block">
  <div class="products-view">
    <div class="products-view__list products-list products-list--grid--6" data-layout="list">
      <div class="products-list__content" style="margin: 0;">
        <div class="products-list__item" *ngFor="let product of filterProducts;let i = index;trackBy:track_products">
          <div class="product-card">
            <div class="product-card__image">
              <div class="image image--type--product">
                <a class="image__body">
                  <img class="image__tag" [src]="allImages[i] | async" alt="">
                </a>
              </div>
              <div
                class="status-badge status-badge--style--success product-card__fit status-badge--has-icon status-badge--has-text"
                *ngIf="product.quantity > 0">
                <div class="status-badge__body">

                  <div class="status-badge__text">En Stock</div>
                  <div class="status-badge__tooltip" tabindex="0" data-toggle="tooltip" title=""
                    data-original-title="Part Fit for 2011 Ford Focus S"></div>
                </div>
              </div>
              <div
                class="status-badge status-badge--style--failure product-card__fit status-badge--has-icon status-badge--has-text"
                *ngIf="product.quantity === 0">
                <div class="status-badge__body">
                  <div class="status-badge__text">Rupture de stock</div>
                  <div class="status-badge__tooltip" tabindex="0" data-toggle="tooltip" title=""
                    data-original-title="Part Fit for 2011 Ford Focus S"></div>
                </div>
              </div>
            </div>
            <div class="product-card__info">
              <div class="product-card__name">
                <a>{{product.name|uppercase}}</a>
              </div>
              <div class="product-card__features">
                <div class="product__features-title">Principales caractéristiques:</div>
                <ul>
                  <li *ngFor="let feature of product.features">{{feature.feature_name}}
                    <span>{{feature.feature_value}}</span>
                  </li>
                </ul>
              </div>
            </div>
            <div class="product-card__footer">
              <div class="product-card__prices">
                <div class="product-card__price product-card__price--current">
                  {{product.price|number:'1.3'}} TND
                </div>
              </div>
              <button mat-raised-button (click)="openModal(product)" color="primary" class="mb-2" type="button">
                <mat-icon>edit</mat-icon>
                Modifier
              </button>
              <button mat-raised-button (click)="deleteProduct(product)" color="warn" type="button">
                <mat-icon>delete</mat-icon>
                Supprimer
              </button>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>