aside
    color: #fff
    width: 250px
    padding-left: 20px
    height: 100%
    background-image: linear-gradient(30deg , #3f51b5, #3f51b5)

aside a
    font-size: 12px
    color: #fff
    display: block
    padding: 12px
    padding-left: 30px
    text-decoration: none
    -webkit-tap-highlight-color: transparent

aside a:hover
    color: #3f51b5
    background: #fff
    outline: none
    position: relative
    background-color: #fff
    border-top-left-radius: 20px
    border-bottom-left-radius: 20px

aside a i
    margin-right: 5px

aside a:hover::after
    content: ""
    position: absolute
    background-color: transparent
    bottom: 100%
    right: 0
    height: 35px
    width: 35px
    border-bottom-right-radius: 18px
    box-shadow: 0 20px 0 0 #fff

aside a:hover::before
    content: ""
    position: absolute
    background-color: transparent
    top: 38px
    right: 0
    height: 35px
    width: 35px
    border-top-right-radius: 18px
    box-shadow: 0 -20px 0 0 #fff

aside p
    margin: 0
    padding: 40px 0
.social
    height: 0

    & i:before
        width: 14px
        height: 14px
        font-size: 14px
        position: fixed
        color: #fff
        background: #3f51b5
        padding: 10px
        border-radius: 50%
        top: 5px
        right: 5px
