<mat-toolbar color="primary" class="example-toolbar">
  <span routerLink="/admin/dashboard" style="cursor: pointer;">Menu</span>
</mat-toolbar>
<div class="container-fluid">
  <ng-content select="[sidebarContent]"></ng-content>
</div>