<div class="container mt-2">
    <div class="text-center">
        <mat-card>
            <mat-card-header style="display: flex;justify-content:center">
                <mat-card-title>Admin Login</mat-card-title>
            </mat-card-header>
            <mat-card-content>
                <mat-form-field class="w-75">
                    <mat-label>Username</mat-label>
                    <input matInput required [(ngModel)]="username" />
                </mat-form-field>
                <mat-form-field class="w-75">
                    <mat-label>Password</mat-label>
                    <input matInput required [(ngModel)]="password" />
                </mat-form-field>
            </mat-card-content>
            <mat-card-actions>
                <button (click)="login()" mat-raised-button color="primary">
                    <mat-icon>login</mat-icon>
                    LOGIN
                </button>
            </mat-card-actions>
        </mat-card>
    </div>
</div>