<mat-accordion [multi]="false">
    <div class="container mt-2" *ngFor="let order of pending_orders;let o = index">
        <mat-expansion-panel>
            <mat-expansion-panel-header>
                <mat-panel-title>Commande #{{o + 1}}</mat-panel-title>
                <mat-panel-description>A été placé le {{order.order_date|date:'medium'}}</mat-panel-description>
            </mat-expansion-panel-header>
            <ng-template matExpansionPanelContent>
                <div class="card">
                    <div class="d-flex justify-content-around flex-wrap mt-3">
                        <div class="d-flex flex-column">
                            <figure *ngFor="let product of order.order;let i = index;">
                                <img [src]="cart_productsImages[i] | async" alt="">
                                <figcaption>
                                    <h4>{{product.car_part.name}} * {{product.quantity}}</h4>
                                    <h6 *ngFor="let feature of product.car_part.features">{{feature.feature_name}} : {{feature.feature_value}}
                                    </h6>
                                </figcaption>
                            </figure>
                        </div>
                        <mat-stepper [selectedIndex]="orders_states[o]" [linear]="true" orientation="vertical">
                            <mat-step [editable]="false" [completed]="orders_states[o] > 0" state="orderProcess">
                                <ng-template matStepLabel>Traitement de la commande</ng-template>
                                <svg version="1.1" id="heroSvg" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px" viewBox="0 0 736 565" style="enable-background:new 0 0 736 565;" xml:space="preserve">
                                    <path class="st0"
                                        d="M235.9,86.2c-36.3,20.3-92.4,20-138,14.5c-15.3-1.8-31.4-4-47.3-0.9c-19.3,3.9-32.6,14.9-39.1,25.6
                                c-11.8,19.6-6.2,40.9,14.7,55.5c18,12.6,45.9,20,63.2,32.9c28.9,21.6,22.4,53.8,7.1,82.4c-10.8,20.2-25.3,42.5-9.9,59.8
                                c10.9,12.1,34.8,18.7,59.6,21.1c12,1.1,24.9,1.5,34.6,5.1c5.8,2.1,36,81.9,73,110.5c24.9,19.3,69.2,28.6,114.5,30
                                s91.9-4.4,137.5-10.9c32.5-4.6,67.1-10.4,91.1-24.4c25.5-15,33.2-36.7,26-54.7c-7-18-26.9-32.9-49.8-45.4
                                c-28.5-15.6-63.5-29.2-76.7-50.8c-9-14.7-6.8-31.4-7.1-47.5c-0.6-26.9-8.6-53.1-17.1-79c-8.1-24.8-16.8-49.8-34.6-72.3
                                c-12.6-16-33.6-27.6-48.9-42.3c-10-9.6-13.7-20.8-26.2-29.6c-15.3-10.8-40.8-19.5-68.9-13.2C267,58.5,255.2,75.4,235.9,86.2z" />
                                    <g id="plant1">
                                        <path class="st1"
                                            d="M133,429.2c0,0-2.3-68.5-39.4-107.3C78,305.6,67.8,285,65.1,262.7c-1.3-10.6-1.6-21.3-0.9-32" />
                                        <path class="st2" d="M41.1,206.3c2.5,7.7,23.7,25.2,23.7,25.2s6.5-26.8,4-34.4c-1.2-3.7-3.8-6.7-7.3-8.5c-3.5-1.7-7.5-2-11.1-0.8
                                    c-3.7,1.2-6.7,3.8-8.5,7.3C40.1,198.6,39.8,202.6,41.1,206.3L41.1,206.3z" />
                                        <path class="st2" d="M57.2,328.4c8,1.2,33.2-9.8,33.2-9.8s-21-17.9-29-19c-3.8-0.6-7.7,0.4-10.8,2.7c-3.1,2.3-5.2,5.8-5.7,9.6
                                    c-0.6,3.8,0.4,7.7,2.7,10.8C50,325.7,53.4,327.8,57.2,328.4L57.2,328.4z" />
                                        <path class="st3" d="M32.2,256.2c6.3,5,33.6,8.3,33.6,8.3s-9.1-26-15.4-31.1c-3-2.2-6.8-3.2-10.5-2.7s-7.1,2.4-9.5,5.4
                                    c-2.4,2.9-3.5,6.7-3.1,10.4C27.6,250.3,29.4,253.8,32.2,256.2L32.2,256.2z" />
                                        <path class="st2"
                                            d="M88.4,378.7c7.7,2.5,34.4-4.1,34.4-4.1s-17.7-21.2-25.3-23.7c-3.7-1.2-7.7-0.9-11.1,0.8
                                    c-3.5,1.7-6.1,4.8-7.3,8.5c-1.2,3.7-0.9,7.7,0.8,11.1C81.7,374.8,84.7,377.4,88.4,378.7L88.4,378.7z" />
                                        <path class="st2" d="M95.5,256.4c-3.7,7.2-27.5,21.2-27.5,21.2s-2.2-27.5,1.6-34.6c0.9-1.7,2.1-3.2,3.6-4.4s3.2-2.2,5-2.7
                                    c1.8-0.6,3.8-0.8,5.7-0.6c1.9,0.2,3.8,0.7,5.5,1.6c1.7,0.9,3.2,2.1,4.4,3.6c1.2,1.5,2.2,3.2,2.7,5c0.6,1.8,0.8,3.8,0.6,5.7
                                    C96.9,252.8,96.3,254.7,95.5,256.4z" />
                                        <path class="st3" d="M131.2,315.6c-5.7,5.7-32.5,12-32.5,12s6.2-26.9,11.8-32.6c1.4-1.4,3-2.4,4.7-3.2c1.8-0.7,3.7-1.1,5.6-1.1
                                    s3.8,0.4,5.6,1.1c1.8,0.7,3.4,1.8,4.7,3.2c1.4,1.4,2.4,3,3.2,4.7c0.7,1.8,1.1,3.7,1.1,5.6s-0.4,3.8-1.1,5.6
                                    C133.6,312.7,132.6,314.3,131.2,315.6L131.2,315.6z" />
                                    </g>
                                    <path class="st2" d="M158.1,378c-4.6,6.6-30,17.3-30,17.3s1.5-27.5,6.2-34.1c1.1-1.6,2.5-3,4.1-4.1s3.5-1.8,5.4-2.2
                                c1.9-0.4,3.9-0.3,5.8,0.1c1.9,0.4,3.7,1.2,5.3,2.3c1.6,1.1,3,2.6,4,4.2c1,1.7,1.7,3.5,2,5.5c0.3,1.9,0.2,3.9-0.3,5.8
                                C160.1,374.7,159.2,376.5,158.1,378L158.1,378z" />
                                    <path class="st4" d="M458.8,382.7c0,0-11.1-3.8-16.5,6c-1.4,2.7-2.1,5.6-2.1,8.6s0.8,6,2.3,8.6c3.5,6.4,10.8,14.6,24.5,13.9
                                c11.6-0.6,15.5-9.5,16.6-17.8c0.4-3.1,0-6.3-1.2-9.2c-1.2-2.9-3.1-5.5-5.5-7.4c-2.4-2-5.3-3.3-8.4-3.8s-6.2-0.2-9.2,0.8L458.8,382.7
                                z" />
                                    <path class="st5" d="M444.9,406.8c-1.5-2.6-2.3-5.6-2.3-8.6s0.7-6,2.1-8.6c5.4-9.8,16.5-6,16.5-6l0.6-0.2c4.2-1.5,8.9-1.4,13.1,0.3
                                c-2.3-1.4-4.9-2.2-7.5-2.5s-5.4,0.1-7.9,1l-0.6,0.2c0,0-11.1-3.8-16.5,6c-1.4,2.7-2.1,5.6-2.1,8.6s0.8,6,2.3,8.6
                                c2.3,4.2,6.3,9.2,12.6,11.9C450.9,415,447.3,411.3,444.9,406.8z" />
                                    <path class="st6" d="M453.1,387.4c0,0,4.1,3.2,14.1,0H453.1z" />
                                    <path class="st4"
                                        d="M452.2,363.8c0,0,7.1,19.2,6.5,24.2l5.6-0.6c0,0-9.4-16.8-7.1-23.6H452.2z" />
                                    <path class="st6"
                                        d="M452.2,363.8c0,0,7.1,19.2,6.5,24.2l5.6-0.6c0,0-9.4-16.8-7.1-23.6H452.2z" />
                                    <path class="st4"
                                        d="M481.1,365.4c0,0-11.1-5.7-16.1-1s-5.7,16.7-5.7,16.7S477.4,383.7,481.1,365.4z" />
                                    <path class="st5"
                                        d="M481.1,365.4c0,0-11.1-5.7-16.1-1s-5.7,16.7-5.7,16.7S477.4,383.7,481.1,365.4z" />
                                    <path class="st7" d="M459.2,381.2c0,0,2.9-14,21.9-15.7" />
                                    <path class="st3" d="M155.4,271.3c-2.8,3.3-17.1,7.8-17.1,7.8s2.2-14.7,5.1-18.1c0.7-0.8,1.5-1.4,2.4-1.9s1.9-0.8,3-0.8
                                c1-0.1,2.1,0,3.1,0.4c1,0.3,1.9,0.8,2.7,1.5s1.4,1.5,1.9,2.4s0.8,1.9,0.8,3c0.1,1,0,2.1-0.4,3.1C156.6,269.6,156,270.5,155.4,271.3
                                L155.4,271.3z" />
                                    <g id="plant2">
                                        <path class="st1"
                                            d="M139.2,297.6c0,0,2.3-37.1-15.7-59.8c-7.6-9.5-11.9-21.2-12.3-33.4c-0.1-5.8,0.3-11.6,1.2-17.3" />
                                        <path class="st2" d="M101.1,172.7c1,4.3,11.5,14.8,11.5,14.8s4.9-14.1,3.9-18.4c-0.2-1-0.7-2-1.3-2.8c-0.6-0.8-1.4-1.6-2.2-2.1
                                    c-0.9-0.6-1.9-0.9-2.9-1.1c-1-0.2-2.1-0.1-3.1,0.1c-1,0.2-2,0.7-2.8,1.3s-1.6,1.4-2.1,2.2c-0.6,0.9-0.9,1.9-1.1,2.9
                                    C100.9,170.6,100.9,171.7,101.1,172.7L101.1,172.7z" />
                                        <path class="st3" d="M93.8,199.2c3.1,3,17.7,6.2,17.7,6.2s-3.6-14.5-6.7-17.5c-0.7-0.7-1.6-1.3-2.6-1.7s-2-0.6-3-0.6
                                    s-2.1,0.2-3,0.6c-1,0.4-1.8,1-2.5,1.8c-0.7,0.7-1.3,1.6-1.7,2.6s-0.6,2-0.6,3s0.2,2.1,0.6,3C92.5,197.6,93,198.5,93.8,199.2
                                    L93.8,199.2z" />
                                        <path class="st3"
                                            d="M103.6,239.4c4.2,1,18.4-3.6,18.4-3.6s-10.4-10.7-14.6-11.8c-1-0.2-2.1-0.3-3.1-0.1s-2,0.5-2.9,1
                                    c-1.8,1.1-3.1,2.8-3.6,4.9s-0.2,4.2,0.9,6C99.8,237.6,101.5,238.9,103.6,239.4L103.6,239.4z" />
                                        <path class="st2" d="M117.8,268.1c4,1.7,18.8-0.4,18.8-0.4s-8.4-12.3-12.4-14c-1-0.4-2-0.7-3-0.7c-1.1,0-2.1,0.1-3.1,0.5
                                    s-1.9,0.9-2.6,1.7c-0.7,0.8-1.4,1.6-1.8,2.6s-0.6,2-0.7,3.1c0,1.1,0.2,2.1,0.6,3.1s1,1.9,1.7,2.6
                                    C116,267.1,116.8,267.7,117.8,268.1L117.8,268.1z" />
                                        <path class="st2" d="M127.9,202.5c-2.4,3.7-15.9,10-15.9,10s0.2-14.9,2.6-18.6c1.1-1.8,2.9-3,5-3.4c2-0.4,4.2,0,5.9,1.1
                                    c1.8,1.1,3,2.9,3.4,5C129.4,198.6,129,200.8,127.9,202.5L127.9,202.5z" />
                                        <path class="st3" d="M144.1,236.3c-3.4,2.8-18.1,4.8-18.1,4.8s4.7-14.2,8.1-17c1.6-1.3,3.7-2,5.8-1.8s4,1.2,5.3,2.8s2,3.7,1.8,5.8
                                    C146.7,233.1,145.7,235,144.1,236.3z" />
                                        <path class="st8" d="M101.1,172.7c1,4.3,11.5,14.8,11.5,14.8s4.9-14.1,3.9-18.4c-0.2-1-0.7-2-1.3-2.8c-0.6-0.8-1.4-1.6-2.2-2.1
                                    c-0.9-0.6-1.9-0.9-2.9-1.1c-1-0.2-2.1-0.1-3.1,0.1c-1,0.2-2,0.7-2.8,1.3s-1.6,1.4-2.1,2.2c-0.6,0.9-0.9,1.9-1.1,2.9
                                    C100.9,170.6,100.9,171.7,101.1,172.7L101.1,172.7z" />
                                        <path class="st8" d="M93.8,199.2c3.1,3,17.7,6.2,17.7,6.2s-3.6-14.5-6.7-17.5c-0.7-0.7-1.6-1.3-2.6-1.7s-2-0.6-3-0.6
                                    s-2.1,0.2-3,0.6c-1,0.4-1.8,1-2.5,1.8c-0.7,0.7-1.3,1.6-1.7,2.6s-0.6,2-0.6,3s0.2,2.1,0.6,3C92.5,197.6,93,198.5,93.8,199.2
                                    L93.8,199.2z" />
                                        <path class="st8"
                                            d="M103.6,239.4c4.2,1,18.4-3.6,18.4-3.6s-10.4-10.7-14.6-11.8c-1-0.2-2.1-0.3-3.1-0.1s-2,0.5-2.9,1
                                    c-1.8,1.1-3.1,2.8-3.6,4.9s-0.2,4.2,0.9,6C99.8,237.6,101.5,238.9,103.6,239.4L103.6,239.4z" />
                                        <path class="st8" d="M117.8,268.1c4,1.7,18.8-0.4,18.8-0.4s-8.4-12.3-12.4-14c-1-0.4-2-0.7-3-0.7s-2.1,0.1-3.1,0.5
                                    s-1.9,0.9-2.6,1.7c-0.7,0.8-1.4,1.6-1.8,2.6s-0.6,2-0.7,3.1c0,1.1,0.2,2.1,0.6,3.1s1,1.9,1.7,2.6
                                    C116,267.1,116.8,267.7,117.8,268.1L117.8,268.1z" />
                                        <path class="st8" d="M127.9,202.5c-2.4,3.7-15.9,10-15.9,10s0.2-14.9,2.6-18.6c1.1-1.8,2.9-3,5-3.4c2-0.4,4.2,0,5.9,1.1
                                    c1.8,1.1,3,2.9,3.4,5C129.4,198.6,129,200.8,127.9,202.5L127.9,202.5z" />
                                        <path class="st8" d="M144.1,236.3c-3.4,2.8-18.1,4.8-18.1,4.8s4.7-14.2,8.1-17c1.6-1.3,3.7-2,5.8-1.8s4,1.2,5.3,2.8s2,3.7,1.8,5.8
                                    C146.7,233.1,145.7,235,144.1,236.3z" />
                                    </g>
                                    <path class="st8" d="M155.4,271.3c-2.8,3.3-17.1,7.8-17.1,7.8s2.2-14.7,5.1-18.1c0.7-0.8,1.5-1.4,2.4-1.9s1.9-0.8,3-0.8
                                c1-0.1,2.1,0,3.1,0.4c1,0.3,1.9,0.8,2.7,1.5s1.4,1.5,1.9,2.4s0.8,1.9,0.8,3c0.1,1,0,2.1-0.4,3.1C156.6,269.6,156,270.5,155.4,271.3
                                L155.4,271.3z" />
                                    <linearGradient id="SVGID_1_" gradientUnits="userSpaceOnUse" x1="-62.1412"
                                        y1="0.5392" x2="-61.141" y2="0.5392"
                                        gradientTransform="matrix(1.476367e-14 -241.171 241.109 1.476747e-14 348.0505 -14731.1475)">
                                        <stop offset="0" style="stop-color:#808080;stop-opacity:0.25" />
                                        <stop offset="0.54" style="stop-color:#808080;stop-opacity:0.12" />
                                        <stop offset="1" style="stop-color:#808080;stop-opacity:0.1" />
                                    </linearGradient>
                                    <path class="st9" d="M301.1,14.3v12.2v229H655v-229V14.3H301.1z" />
                                    <path class="st10" d="M651.6,24.5H306.7v225.9h344.9V24.5z" />
                                    <path class="st11" d="M651.3,14.5H306.4v16.6h344.9V14.5z" />
                                    <path class="st3"
                                        d="M319.5,26.6c2.2,0,4-1.8,4-4s-1.8-4-4-4s-4,1.8-4,4S317.3,26.6,319.5,26.6z" />
                                    <path class="st2"
                                        d="M330.6,26.6c2.2,0,4-1.8,4-4s-1.8-4-4-4s-4,1.8-4,4S328.4,26.6,330.6,26.6z" />
                                    <path class="st4"
                                        d="M341.7,26.6c2.2,0,4-1.8,4-4s-1.8-4-4-4s-4,1.8-4,4S339.4,26.6,341.7,26.6z" />
                                    <path class="st12" d="M632.2,122.6c-0.2,0-0.4,0-0.6,0c-0.1,0-0.1,0-0.2,0l-1,0.4c0.8,0,1.6,0,2.5,0h4.6c0.5,0,1,0,1.4,0l0.7-0.1
                                c0.9-0.1,2.1-0.1,3.3-0.1c1,0,1.9,0,2.9-0.1h-2.4c-0.3,0-0.5,0-0.8,0c-0.2,0-0.4,0-0.7-0.1c-0.4,0-0.9,0-1.4,0
                                C637.6,122.6,634.9,122.6,632.2,122.6z" />
                                    <path class="st13" d="M593.2,163.1h0.6h0.5h-0.2H593.2z" />
                                    <path class="st13" d="M593.2,163.2h0.6h0.5h-0.2H593.2z" />
                                    <path class="st13" d="M593.2,163.3h0.6h0.5h-0.2H593.2z" />
                                    <path class="st13" d="M589.4,166.2h0.6l0.5,0.1h-0.2L589.4,166.2z" />
                                    <path class="st13" d="M593.3,163.2h0.6h0.5h-0.2H593.3z" />
                                    <path class="st13" d="M593.3,163.3h0.6h0.5h-0.2H593.3z" />
                                    <path class="st13" d="M593.3,163.4h0.6h0.5h-0.2H593.3z" />
                                    <path class="st13" d="M593,169.9h0.6h0.5h-0.2H593z" />
                                    <path class="st13" d="M593,170h0.6h0.5h-0.2H593z" />
                                    <path class="st13" d="M593,170.1h0.6h0.5h-0.2H593z" />
                                    <path class="st13" d="M593,170.2h0.6h0.5h-0.2H593z" />
                                    <path class="st14"
                                        d="M275,487.1h-55.8v-31.4H275V487.1z M221.6,484.7h51V458h-51V484.7z" />
                                    <linearGradient id="SVGID_2_" gradientUnits="userSpaceOnUse" x1="-62.0002"
                                        y1="-0.6633" x2="-61.0002" y2="-0.6633"
                                        gradientTransform="matrix(6.477525e-12 -146491 -105786 -8.969987e-12 -69941 -8865172)">
                                        <stop offset="0" style="stop-color:#808080;stop-opacity:0.25" />
                                        <stop offset="0.54" style="stop-color:#808080;stop-opacity:0.12" />
                                        <stop offset="1" style="stop-color:#808080;stop-opacity:0.1" />
                                    </linearGradient>
                                    <path class="st15" d="M182.2,440c3.5,2,7.2,2.9,11,1.6c1-0.3,2-0.8,2.9-1.3c35.7,0.8,68.9,0.4,70.1-3.4c2.1-6.4-11.2-37.8-17.9-53
                                c2-1.3,3.6-3.1,4.9-5.1c9.3,10.7,26.7,24.5,37,25.1c0,0,15.1,35.8,32,30.1s18.8-35.8,10.4-39.6l-56.5-35.8v-59.4
                                c1.7-3.4,2.5-7.2,2.4-11c0-0.7,0-1.4,0-2.1l-1.9-17c0,0-0.1-0.6-0.4-1.6c-4.2-16.3-13.6-27.3-26.8-29c0.6-1.2,1-2.5,1.2-3.8
                                c0.3-3.2-1-6.4-0.3-9.5c0.9-3.6,4.2-5.9,6.9-8.4c5.9-5.4,9.5-12.6,13.1-19.7c3.4-6.8,6.8-13.7,7.7-21.2c0.9-7.5-1.4-15.8-7.5-20.2
                                c-4.8-3.4-11.5-4.3-14.9-9.1c-1.5-2.1-2.2-4.8-3.2-7.2c-3-6.9-9.6-11.9-16.8-14.5c-25-9-55.8,1.3-71.7,22.1
                                c-5.2,6.8-9,14.6-12.7,22.3l-13.5,27.8c-2.3,4.8-4.6,10.8-1.5,15.1c1.5,2.1,4.1,3.4,5.2,5.8c1.4,3.2-0.4,7.3,1.7,10.1
                                c1.1,1.5,3.1,2.1,4.8,3c2.3,1.3,4.2,3,5.8,5.1l-29.6,22.9c-2.1,1.7-3.9,3.7-5.2,6.1c-1.3,2.4-2.1,5-2.4,7.7l-2.9,29.1
                                c-0.9,3.3-1.4,6.7-1.3,10.2c-0.1,3.1,0.3,6.5,1.8,9.1l0.6-0.2c0.7,20.4,1.9,49.8,3.1,55.3c0.7,3.2,5.1,8.9,11.1,14.8l-2.1,6h0.7
                                l-0.7,1.9h1.4c-5.9,21.5-22.1,37.7-22.1,37.7S143.5,438.9,182.2,440z M147,340.7v-22.9c3.4,0.5,6,1.7,6.8,3.9L147,340.7z M157,241
                                l0.1,0.2l0,0L157,241z" />
                                    <path class="st16" d="M242.1,293c0,0,1.8,63.5,3.6,71.6s27.7,32.2,41.2,33.1c0,0,14.3,34,30.4,28.6s17.9-34,9.8-37.6l-53.6-34v-68
                                L242.1,293z" />
                                    <path class="st17"
                                        d="M243.4,370.9c0,0,23.3,50.1,20.6,58.2c-2.7,8.1-152.1,0-152.1,0s27.7-27.7,22.4-58.2H243.4z" />
                                    <path class="st16" d="M225.5,222.3c0,0-3.6,34.9,2.7,43c6.3,8.1-25.1,12.5-27.7,12.5c-2.7,0-31.3-9.8-36.7-12.5s-9.8-22.4-9.8-22.4
                                s26.8,5.4,34.9-25.9L225.5,222.3z" />
                                    <path class="st18" d="M234.9,132.8c6.8,2.4,13,7.1,15.9,13.7c1,2.3,1.6,4.8,3.1,6.8c3.3,4.5,9.6,5.4,14.2,8.7
                                c5.8,4.2,8,12.1,7.2,19.2c-0.8,7.1-4.1,13.7-7.3,20.1c-3.4,6.7-6.9,13.6-12.4,18.7c-2.6,2.4-5.8,4.6-6.6,8c-0.7,2.9,0.5,6,0.3,9
                                c-0.6,7.4-9.5,10.9-17,11.7c-3.2,0.4-6.9,0.4-9.2-1.9c-1.2-1.2-1.7-2.8-2.5-4.3c-1.7-3.4-4.3-6.3-7.5-8.3s-7-3.1-10.8-3.2
                                c-3.8,0-7.6,1-10.8,2.9c-3.3,2-5.9,4.8-7.7,8.2c-1.7,3.4-2.8,7.4-5.9,9.5c-4.9,3.1-11.3-0.5-14.9-5.1c-3.6-4.5-6.2-10.2-11.3-12.9
                                c-1.6-0.9-3.5-1.4-4.5-2.9c-2-2.6-0.3-6.6-1.6-9.6c-1-2.3-3.5-3.5-4.9-5.5c-2.9-4.1-0.8-9.8,1.4-14.3l12.8-26.4
                                c3.5-7.3,7.1-14.7,12.1-21.1C181.9,134.1,211.1,124.3,234.9,132.8z" />
                                    <path class="st19" d="M202.2,271.6c0,0-34.9,0-43.8-32.2L129,262.1c-2,1.6-3.7,3.5-5,5.8c-1.2,2.2-2,4.7-2.3,7.3l-2.8,27.7
                                c0,0-3.1,10.3,0.4,16.6c0,0,37.2-9.4,38,1.3l-25.9,72.5c0,0,40.3,0.9,51-6.3c0,0,43.8,8.9,54.6-0.9c10.7-9.8,21.5-8.9,12.5-31.3
                                c0,0,17.9-17.9,9.8-43s-0.4,0.4-0.4,0.4s17.4-8.5,16.6-24.6l-1.8-16.1c0,0-0.1-0.5-0.3-1.5c-5.5-21.2-20.1-33-40.7-25.5
                                c-6,2.2-12.2-0.3-12.2-0.3S227.3,273.4,202.2,271.6z" />
                                    <path class="st20" d="M202.2,269.8c0,0-34.9,0-43.8-32.2L129,260.3c-2,1.6-3.7,3.5-5,5.8c-1.2,2.2-2,4.7-2.3,7.3l-2.8,27.7
                                c0,0-3.1,10.3,0.4,16.6c0,0,37.2-9.4,38,1.3l-25.9,72.5c0,0,40.3,0.9,51-6.3c0,0,43.8,8.9,54.6-0.9c10.7-9.8,21.5-8.9,12.5-31.3
                                c0,0,17.9-17.9,9.8-43s-0.4,0.4-0.4,0.4s17.4-8.5,16.5-24.6l-1.8-16.1c0,0-0.1-0.5-0.3-1.5c-5.5-21.2-20.1-33-40.7-25.5
                                c-6,2.2-12.2-0.3-12.2-0.3S227.3,271.6,202.2,269.8z" />
                                    <path class="st16" d="M119.5,300.2c0,0,1.8,63.5,3.6,71.6c1.8,8.1,27.7,32.2,41.2,33.1c0,0,14.3,34,30.4,28.6s17.9-34,9.8-37.6
                                l-53.7-34v-68L119.5,300.2z" />
                                    <path class="st19"
                                        d="M158,302.4c0,0-20.6,14-38.5,12.8c0,0-1.8-24,3.6-25.3C128.4,288.6,151.7,289.9,158,302.4z" />
                                    <path class="st20"
                                        d="M158,301.5c0,0-20.6,14-38.5,12.8c0,0-1.8-24,3.6-25.3C128.4,287.7,151.7,289,158,301.5z" />
                                    <path class="st19" d="M187,218.8l36.7,5.4c0,0-0.8,8.1-1,17.4c-7.1,3-15,3.9-22.6,2.7s-14.8-4.6-20.6-9.7
                                C182.6,230.7,185.3,225.6,187,218.8z" />
                                    <path class="st16" d="M208.5,242.9c22.7,0,41.2-18.4,41.2-41.2c0-22.7-18.4-41.2-41.2-41.2c-22.7,0-41.2,18.4-41.2,41.2
                                C167.4,224.5,185.8,242.9,208.5,242.9z" />
                                    <path class="st19" d="M197.7,193.9c1.7,0.8,3.6,0.8,5.5,0.8c7.3,0,14.6-0.3,21.8-0.8c5.5-0.4,11.4-1,15.6-4.5
                                c5.7-4.7,6.6-13.6,3.7-20.5c-3-6.8-9-11.8-15.3-15.7c-3.6-2.3-7.5-4-11.6-5.3c-11.8-3.2-24.8,0.7-34.2,8.6
                                c-9.4,7.9-15.3,19.2-18.5,31c-1.1,4.1-2.5,9-6.5,10.2c2.7,4.5,9.3,5.2,14,2.9c7-3.3,10.5-16,16.8-18
                                C195.8,180.5,191.8,191.1,197.7,193.9z" />
                                    <path class="st18" d="M197.7,193c1.7,0.8,3.6,0.8,5.5,0.8c7.3,0,14.6-0.3,21.8-0.8c5.5-0.4,11.4-1,15.6-4.5
                                c5.7-4.7,6.6-13.6,3.7-20.5c-3-6.8-9-11.8-15.3-15.7c-3.6-2.3-7.5-4-11.6-5.2c-11.8-3.2-24.8,0.7-34.2,8.6
                                c-9.4,7.9-15.3,19.2-18.5,31c-1.1,4.1-2.5,9-6.5,10.2c2.7,4.5,9.3,5.2,14,2.9c7-3.3,10.5-16,16.8-18
                                C195.8,179.6,191.8,190.2,197.7,193z" />
                                    <path class="st19" d="M250.1,352.6c-13.4-3.6-27.3-5.4-41.2-5.4L250.1,352.6z" />
                                    <path class="st19" d="M158,304.2c0,0,13.4,9.8,9.8,15.2L158,304.2z" />
                                    <g class="st21">

                                        <linearGradient id="SVGID_3_" gradientUnits="userSpaceOnUse" x1="-62.001"
                                            y1="-1.4393" x2="-61.001" y2="-1.4393"
                                            gradientTransform="matrix(6.111147e-12 -36191.1016 99802.6016 2.216066e-12 143956.2813 -2115108.5)">
                                            <stop offset="0" style="stop-color:#808080;stop-opacity:0.25" />
                                            <stop offset="0.54" style="stop-color:#808080;stop-opacity:0.12" />
                                            <stop offset="1" style="stop-color:#808080;stop-opacity:0.1" />
                                        </linearGradient>
                                        <path class="st22"
                                            d="M528.9,405.7H89.6v38.4h25.6v7.5V565h389.1V451.6v-7.5H529L528.9,405.7L528.9,405.7z" />
                                    </g>
                                    <path class="st23" d="M500.3,428.1H119.2V565h381.1V428.1z" />
                                    <path class="st19" d="M500.3,435.2H119.2v21.5h381.1V435.2z" />
                                    <path class="st23" d="M524.5,412.9H94.1v36.7h430.3v-36.7H524.5z" />
                                    <path class="st24" d="M253.2,403.8H180c-2.5,0-4.6,2-4.6,4.6v2.5c0,2.5,2,4.6,4.6,4.6h73.2c2.5,0,4.6-2,4.6-4.6v-2.5
                                C257.7,405.9,255.7,403.8,253.2,403.8z" />
                                    <g class="st21">

                                        <linearGradient id="SVGID_4_" gradientUnits="userSpaceOnUse" x1="-62.0012"
                                            y1="-1.8135" x2="-61.0012" y2="-1.8135"
                                            gradientTransform="matrix(2.527867e-12 -28552.5996 41283.1992 1.748343e-12 75193.8594 -1686150.125)">
                                            <stop offset="0" style="stop-color:#808080;stop-opacity:0.25" />
                                            <stop offset="0.54" style="stop-color:#808080;stop-opacity:0.12" />
                                            <stop offset="1" style="stop-color:#808080;stop-opacity:0.1" />
                                        </linearGradient>
                                        <path class="st25" d="M410.3,274.1h-165c-10.9,0-19.8,8.9-19.8,19.8v101.9c0,10.9,8.9,19.8,19.8,19.8h165
                                    c10.9,0,19.8-8.9,19.8-19.8V293.9C430.1,283,421.2,274.1,410.3,274.1z" />
                                    </g>
                                    <path class="st26" d="M404.2,276.7H248c-10.4,0-18.8,8.4-18.8,18.8v101.2c0,10.4,8.4,18.8,18.8,18.8h156.2
                                c10.4,0,18.8-8.4,18.8-18.8V295.6C423,285.2,414.5,276.7,404.2,276.7z" />
                                    <path class="st24" d="M406.8,276.7H250.7c-10.4,0-18.8,8.4-18.8,18.8v101.2c0,10.4,8.4,18.8,18.8,18.8h156.2
                                c10.4,0,18.8-8.4,18.8-18.8V295.6C425.7,285.2,417.2,276.7,406.8,276.7z" />
                                    <path class="st23"
                                        d="M337.8,351.5c3.5,0,6.3-2.8,6.3-6.3s-2.8-6.3-6.3-6.3s-6.3,2.8-6.3,6.3S334.4,351.5,337.8,351.5z" />
                                    <path class="st27" d="M579.1,107H422.6c-3.3,0-6-2.7-6-6V88.8c0-3.3,2.7-6,6-6h156.6c3.3,0,6,2.7,6,6V101
                                C585.2,104.3,582.5,107,579.1,107z" />
                                    <path class="st27" d="M588.5,153.1H422.6c-3.3,0-6-2.7-6-6v-12.2c0-3.3,2.7-6,6-6h165.9c3.3,0,6,2.7,6,6v12.2
                                C594.5,150.4,591.8,153.1,588.5,153.1z" />
                                    <path class="st27" d="M551.5,197.4H422.6c-3.3,0-6-2.7-6-6v-12.2c0-3.3,2.7-6,6-6h128.9c3.3,0,6,2.7,6,6v12.2
                                C557.5,194.7,554.8,197.4,551.5,197.4z" />
                                    <path class="st28" d="M289.8,316.9c-0.2-0.7-0.2-0.7-0.9-0.6c-0.3,0.1-0.4,0.1-0.5-0.3c-0.3-1.3-0.7-2.5-1.1-3.8
                                c-0.7-2.2-1.5-4.3-2.8-6.3c-2.3-3.6-5.6-5.5-9.9-5.4c-2.6,0.1-5.2,0.6-7.6,1.6c-3.7,1.6-6,4.3-6.6,8.4c-0.4,2.7,0.2,5.2,0.7,7.8
                                c0.1,0.3,0.2,0.2,0.4,0.2c2.5-0.6,5-1.2,7.6-1.8c0.3-0.1,0.3-0.2,0.3-0.4c-0.1-0.6-0.3-1.2-0.4-1.9c-0.2-1.4-0.3-2.7-0.1-4.1
                                c0.4-3.1,4.8-4.3,6.7-2.7c0.8,0.6,1.3,1.4,1.8,2.3c1.3,2.5,2,5.2,2.8,7.8c0.1,0.5,0,0.6-0.4,0.7c-6,1.4-11.9,2.8-17.9,4.2
                                c-0.4,0.1-0.6,0.2-0.5,0.7c1.7,7.3,3.4,14.6,5.1,22c0.1,0.5,0.3,0.5,0.7,0.4c4.6-1.1,9.1-2.1,13.7-3.2c4.5-1.1,9.1-2.1,13.6-3.2
                                c0.5-0.1,0.5-0.3,0.4-0.7C293.2,331.4,291.5,324.2,289.8,316.9z M284,335.2c-0.2,1.4-1,2.4-2.3,3c-1.1,0.5-2.4,0.8-3.6,0.8
                                c-1.8,0-3.1-1.1-3.8-2.6c-1.3-2.9-2.1-5.9-2.1-9.1c-0.1-2.6,1.2-4.2,3.7-4.8c1-0.3,2-0.4,3-0.2c1.6,0.4,2.5,1.4,3.1,2.9
                                c0.2,0.5,0.3,0.9,0.4,1.4c0.1,0.3,0,0.4-0.2,0.4c-0.9,0.2-1.7,0.4-2.6,0.6c-0.3,0.1-0.3,0-0.4-0.3c-0.2-0.6-0.4-1.3-0.7-1.8
                                c-0.4-0.6-1-0.9-1.7-0.7s-1.2,0.6-1.3,1.3c-0.2,0.9,0,1.8,0.1,2.7c0.1,0.8,0.4,1.6,0.5,2.4c0.3,1.5,0.6,3,1.3,4.3
                                c0.5,1,1.1,1.2,2.1,1c0.7-0.2,1-0.6,1.2-1.2c0.2-0.9,0.1-1.9-0.2-2.8c-0.1-0.3,0-0.5,0.3-0.5c0.8-0.2,1.6-0.4,2.4-0.6
                                c0.2,0,0.4-0.1,0.4,0.2C284,332.8,284.2,334,284,335.2z" />
                                    <rect x="271.3" y="320.6" class="st10" width="15.6" height="18.3" />
                                    <path class="st29" d="M290.8,315.9c-0.2-0.7-0.2-0.7-0.9-0.6c-0.3,0.1-0.4,0.1-0.5-0.3c-0.3-1.3-0.7-2.5-1.1-3.8
                                c-0.7-2.2-1.5-4.3-2.8-6.3c-2.3-3.6-5.6-5.5-9.9-5.4c-2.6,0.1-5.2,0.6-7.6,1.6c-3.7,1.6-6,4.3-6.6,8.4c-0.4,2.7,0.2,5.2,0.7,7.8
                                c0.1,0.3,0.2,0.2,0.4,0.2c2.5-0.6,5-1.2,7.6-1.8c0.3-0.1,0.3-0.2,0.3-0.4c-0.1-0.6-0.3-1.2-0.4-1.9c-0.2-1.4-0.3-2.7-0.1-4.1
                                c0.4-3.1,4.8-4.3,6.7-2.7c0.8,0.6,1.3,1.4,1.8,2.3c1.3,2.5,2,5.2,2.8,7.8c0.1,0.5,0,0.6-0.4,0.7c-6,1.4-11.9,2.8-17.9,4.2
                                c-0.4,0.1-0.6,0.2-0.5,0.7c1.7,7.3,3.4,14.6,5.1,22c0.1,0.5,0.3,0.5,0.7,0.4c4.6-1.1,9.1-2.1,13.7-3.2c4.5-1.1,9.1-2.1,13.6-3.2
                                c0.5-0.1,0.5-0.3,0.4-0.7C294.2,330.4,292.5,323.2,290.8,315.9z M285,334.2c-0.2,1.4-1,2.4-2.3,3c-1.1,0.5-2.4,0.8-3.6,0.8
                                c-1.8,0-3.1-1.1-3.8-2.6c-1.3-2.9-2.1-5.9-2.1-9.1c-0.1-2.6,1.2-4.2,3.7-4.8c1-0.3,2-0.4,3-0.2c1.6,0.4,2.5,1.4,3.1,2.9
                                c0.2,0.5,0.3,0.9,0.4,1.4c0.1,0.3,0,0.4-0.2,0.4c-0.9,0.2-1.7,0.4-2.6,0.6c-0.3,0.1-0.3,0-0.4-0.3c-0.2-0.6-0.4-1.3-0.7-1.8
                                c-0.4-0.6-1-0.9-1.7-0.7s-1.2,0.6-1.3,1.3c-0.2,0.9,0,1.8,0.1,2.7c0.1,0.8,0.4,1.6,0.5,2.4c0.3,1.5,0.6,3,1.3,4.3
                                c0.5,1,1.1,1.2,2.1,1c0.7-0.2,1-0.6,1.2-1.2c0.2-0.9,0.1-1.9-0.2-2.8c-0.1-0.3,0-0.5,0.3-0.5c0.8-0.2,1.6-0.4,2.4-0.6
                                c0.2,0,0.4-0.1,0.4,0.2C285,331.8,285.2,333,285,334.2z" />
                                    <g id="tickBox3">
                                        <rect id="tickBox" x="364.5" y="82.7" class="st30" width="24.3" height="24.3" />

                                        <rect id="tickLong" x="382.1" y="76.9"
                                            transform="matrix(-0.7071 -0.7071 0.7071 -0.7071 593.0819 428.7588)"
                                            class="st31" width="6.6" height="29.3" />

                                        <rect id="tickShort" x="371" y="89.6"
                                            transform="matrix(0.7071 -0.7071 0.7071 0.7071 40.8887 292.5201)"
                                            class="st4" width="5" height="14.6" />
                                    </g>
                                    <g id="tickBox2">
                                        <rect id="tickBox_1_" x="364.5" y="128.8" class="st30" width="24.3"
                                            height="24.3" />

                                        <rect id="tickLong_1_" x="382.1" y="123"
                                            transform="matrix(-0.7071 -0.7071 0.7071 -0.7071 560.4843 507.4565)"
                                            class="st31" width="6.6" height="29.3" />

                                        <rect id="tickShort_1_" x="371" y="135.7"
                                            transform="matrix(0.7071 -0.7071 0.7071 0.7071 8.2911 306.0225)" class="st4"
                                            width="5" height="14.6" />
                                    </g>
                                    <g id="tickBox1">
                                        <rect id="tickBox_2_" x="364.5" y="173.1" class="st30" width="24.3"
                                            height="24.3" />

                                        <rect id="tickLong_2_" x="382.1" y="167.3"
                                            transform="matrix(-0.7071 -0.7071 0.7071 -0.7071 529.1594 583.0813)"
                                            class="st31" width="6.6" height="29.3" />

                                        <rect id="tickShort_2_" x="371" y="180"
                                            transform="matrix(0.7071 -0.7071 0.7071 0.7071 -23.0337 318.9976)"
                                            class="st4" width="5" height="14.6" />
                                    </g>
                                </svg>
                            </mat-step>
                            <mat-step [editable]="false" [completed]="orders_states[o] > 1" state="orderShipped">
                                <ng-template matStepLabel>Commande en route</ng-template>
                                <mat-spinner></mat-spinner>
                            </mat-step>
                            <mat-step [editable]="false" [completed]="orders_states[o] > 2" state="home">
                                <ng-template matStepLabel>Commande arrivée</ng-template>
                                <svg xmlns="http://www.w3.org/2000/svg" class="svg-success" viewBox="0 0 24 24">
                                    <g stroke-linecap="round" stroke-linejoin="round" stroke-miterlimit="10">
                                        <circle class="success-circle-outline" cx="12" cy="12" r="11.5" />
                                        <polyline class="success-tick" points="17,8.5 9.5,15.5 7,13" />
                                    </g>
                                </svg>
                            </mat-step>
                            <ng-template matStepperIcon="orderProcess">

                            </ng-template>
                            <ng-template matStepperIcon="orderShipped">
                                <mat-icon>delivery_dining</mat-icon>
                            </ng-template>
                            <ng-template matStepPerIcon="home">
                                <mat-icon>home</mat-icon>
                            </ng-template>
                        </mat-stepper>
                    </div>
                </div>
                <div class="card-divider"></div>
                <div class="row mt-3 no-gutters mx-n2">
                    <div class="col-sm-6 col-12 px-2">
                        <div class="card address-card address-card--featured">
                            <div class="address-card__badge tag-badge" style="background-color:#3f51b5;color:white;top: 4px;">
                                Adresse
                            </div>
                            <div class="address-card__body">
                                <div class="address-card__name">{{order.adress?.state}}</div>
                                <div class="address-card__row">{{order.adress?.city}} {{order.adress?.street}}
                                </div>
                                <div class="address-card__row">
                                    <div class="address-card__row-title">Numéro de téléphone</div>
                                    <div class="address-card__row-content">{{user.phoneNumber}}</div>
                                </div>
                                <div class="address-card__row">
                                    <div class="address-card__row-title">Adresse e-mail</div>
                                    <div class="address-card__row-content">{{user.email}}</div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-sm-6 col-12 px-2 mt-sm-0 mt-3">
                        <div class="card address-card address-card--featured">
                            <div class="address-card__badge tag-badge" style="background-color:#3f51b5;color:white;top: 4px;">
                                Facture
                            </div>
                            <div class="address-card__body text-center" style="padding: 0.5rem;">
                                <div class="invoice-pdf-container">
                                    <div class="invoice-pdf-download text-center" (click)="saveInvoice(order.user_custom_information?.email,$any(order)._id,order.orderInvoiceUrl)">
                                        <button mat-icon-button color="primary" class="invoice-pdf-download-button">
                                            <mat-icon>file_download</mat-icon>
                                        </button>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </ng-template>
        </mat-expansion-panel>
    </div>
</mat-accordion>