::ng-deep
    .mat-form-field-flex
        background-color: white!important
.block-finder__form-control
    margin: 7px
    height: 51px
    min-height: 44px
.block-features__item-icon
    fill: #3f51b5
.block-features__list
  justify-content: space-between
