<div class="block-header block-header--has-breadcrumb block-header--has-title">
    <div class="container">
        <div class="block-header__body">
            <h1 class="block-header__title">Panier</h1>
        </div>
    </div>
</div>
<div class="block">
    <div class="container">
        <div class="cart">
            <div class="cart__table cart-table">
                <table class="cart-table__table">
                    <thead class="cart-table__head">
                        <tr class="cart-table__row">
                            <th class="cart-table__column cart-table__column--image">Image</th>
                            <th class="cart-table__column cart-table__column--product">Produit</th>
                            <th class="cart-table__column cart-table__column--price">Prix</th>
                            <th class="cart-table__column cart-table__column--quantity">Quantité</th>
                            <th class="cart-table__column cart-table__column--total">Total</th>
                            <th class="cart-table__column cart-table__column--remove"></th>
                        </tr>
                    </thead>
                    <tbody class="cart-table__body">
                        <tr class="cart-table__row" *ngFor="let cart of cart_list;let i = index">
                            <td class="cart-table__column cart-table__column--image">
                                <div class="image image--type--product">
                                    <a [routerLink]="['/shop/detail-product',cart.car_part._id]"
                                        class="image__body"><img class="image__tag"
                                            [src]="cart_productsImages[i] | async" alt=""></a>
                                </div>
                            </td>
                            <td class="cart-table__column cart-table__column--product">
                                <a style="font-weight: 500;text-decoration: none;"
                                    [routerLink]="['/shop/detail-product',cart.car_part._id]"
                                    class="cart-table__product-name">{{cart.car_part.name|uppercase}}</a>
                                <ul class="cart-table__options">
                                    <li *ngFor="let feature of cart.car_part.features">
                                        {{feature.feature_name}}: {{feature.feature_value}}
                                    </li>
                                </ul>
                            </td>
                            <td class="cart-table__column cart-table__column--price" data-title="Price">
                                {{cart.car_part.price}} TND
                            </td>
                            <td class="cart-table__column cart-table__column--quantity" data-title="Quantity">
                                <div class="cart-table__quantity input-number">
                                    <input class="form-control input-number__input" [readonly]="true" type="number"
                                        [(ngModel)]="cart.quantity" (ngModelChange)="saveChanges(cart)"
                                        [value]="cart.quantity">
                                    <div class="input-number__add" (click)="updateQuantity(cart,'ADD')"></div>
                                    <div class="input-number__sub" (click)="updateQuantity(cart,'REMOVE')"></div>
                                </div>
                            </td>
                            <td class="cart-table__column cart-table__column--total" data-title="Total">
                                {{cart.car_part.price * cart.quantity|number:'1.3'}} TND
                            </td>
                            <td class="cart-table__column cart-table__column--remove">
                                <button type="button" class="cart-table__remove btn btn-sm btn-icon btn-muted">
                                    <svg width="12" height="12">
                                        <path d="M10.8,10.8L10.8,10.8c-0.4,0.4-1,0.4-1.4,0L6,7.4l-3.4,3.4c-0.4,0.4-1,0.4-1.4,0l0,0c-0.4-0.4-0.4-1,0-1.4L4.6,6L1.2,2.6
                                            c-0.4-0.4-0.4-1,0-1.4l0,0c0.4-0.4,1-0.4,1.4,0L6,4.6l3.4-3.4c0.4-0.4,1-0.4,1.4,0l0,0c0.4,0.4,0.4,1,0,1.4L7.4,6l3.4,3.4
                                            C11.2,9.8,11.2,10.4,10.8,10.8z" />
                                    </svg>
                                </button>
                            </td>
                        </tr>
                    </tbody>
                </table>
            </div>
            <div class="cart__totals">
                <div class="card">
                    <div class="card-body card-body--padding--2">
                        <h3 class="card-title">Totaux du panier</h3>
                        <table class="cart__totals-table">
                            <thead>
                                <tr>
                                    <th>Sous Total</th>
                                    <td>{{totalPrice|number:'2.2'}} TND</td>
                                </tr>
                            </thead>
                            <tbody>
                                <tr>
                                    <th>Expédition</th>
                                    <td>0 TND</td>
                                </tr>
                                <tr>
                                    <th>Taux TVA</th>
                                    <td>19%</td>
                                </tr>
                            </tbody>
                            <tfoot>
                                <tr>
                                    <th>Total TTC</th>
                                    <td>{{totalPrice * 1.19|number:'2.2'}} TND</td>
                                </tr>
                            </tfoot>
                        </table>
                        <a class="btn btn-xl btn-block" style="background-color : #3f51b5;color: white;"
                            routerLink="/cart/checkout">Passer
                            à la caisse</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="block-space block-space--layout--before-footer"></div>