.dashboard-row
  display: flex
  flex-wrap: wrap
  justify-content: space-around
  margin: 2rem
.admin-card
  width: 300px

.menu-not-active
  display: none

.menu-active
  width: 50%
  max-width: 160px
  animation-name: slide-in-menu
  animation-duration: 2s
  background-color: #3f51b5
  color: white
@keyframes slide-in-menu
  0%
    width: 0%
  100%
    width: 50%
