<div class="dashboard-row">
  <div class="m-1 row">
    <mat-card class="col-6 admin-card">
      <mat-card-header style="display: flex;justify-content:center">
        <mat-card-title>Gestion des Commandes</mat-card-title>
      </mat-card-header>
      <img mat-card-image height="200" src="assets/images/order-management.png">
      <mat-card-actions align="end">
        <button routerLink="/admin/orders-list" mat-fab color="primary">
          <mat-icon>arrow_right_alt</mat-icon>
        </button>
      </mat-card-actions>
    </mat-card>
  </div>
  <div class="m-1 row">
    <mat-card class="col-6 admin-card">
      <mat-card-header style="display: flex;justify-content:center">
        <mat-card-title>Gestion des Produits</mat-card-title>
      </mat-card-header>
      <img mat-card-image height="200" src="assets/images/product-management.png">
      <mat-card-actions align="end">
        <button routerLink="/admin/product-list" mat-fab color="primary">
          <mat-icon>arrow_right_alt</mat-icon>
        </button>

      </mat-card-actions>
    </mat-card>
  </div>
</div>
<div class="dashboard-row">
  <div class="m-1 row">
    <mat-card class="admin-card">
      <mat-card-header style="display: flex;justify-content:center">
        <mat-card-title>Gestion des Categories</mat-card-title>
      </mat-card-header>
      <img height="200" mat-card-image src="assets/images/category-management.png">
      <mat-card-actions align="end">
        <button routerLink="/admin/category-list" mat-fab color="primary">
          <mat-icon>arrow_right_alt</mat-icon>
        </button>
      </mat-card-actions>
    </mat-card>
  </div>
  <div class="m-1 row">
    <mat-card class="admin-card">
      <mat-card-header style="display: flex;justify-content:center">
        <mat-card-title>Gestion des Voitures</mat-card-title>
      </mat-card-header>
      <img mat-card-image height="200" src="assets/images/car-management.png">
      <mat-card-actions align="end">
        <button routerLink="/admin/car-list" mat-fab color="primary">
          <mat-icon>arrow_right_alt</mat-icon>
        </button>
      </mat-card-actions>
    </mat-card>
  </div>
</div>
