<div class="vehicle-picker-modal__panel vehicle-picker-modal__panel--active">
    <div class="vehicle-picker-modal__title card-title">Modifier l'adresse</div>

    <div class="vehicle-form vehicle-form--layout--modal">
        <div class="vehicle-form__item vehicle-form__item--select">
            <mat-form-field appearance="fill" class="block-finder__form-control block-finder__form-control--select">
                <mat-label>Etat</mat-label>
                <input matInput type="text" [(ngModel)]="adresse.state" [value]="adresse.state" />
            </mat-form-field>
        </div>
        <div class="vehicle-form__item vehicle-form__item--select">
            <mat-form-field appearance="fill" class="block-finder__form-control block-finder__form-control--select">
                <mat-label>Ville</mat-label>
                <input matInput type="text" [(ngModel)]="adresse.city" [value]="adresse.city" required />
            </mat-form-field>
        </div>
        <div class="vehicle-form__item vehicle-form__item--select">
            <mat-form-field appearance="fill" class="block-finder__form-control block-finder__form-control--select">
                <mat-label>Rue</mat-label>
                <input matInput type="text" [(ngModel)]="adresse.street" [pattern]="streetRegex" [value]="adresse.street" required />
            </mat-form-field>
        </div>
        <div class="vehicle-form__item vehicle-form__item--select">
            <mat-checkbox [disabled]="user_adress.always" [(ngModel)]="alwaysAdressEdit" [checked]="alwaysAdressEdit" color="primary">Modifiez pour toutes les prochaines commandes
            </mat-checkbox>
        </div>
    </div>
    <div class="vehicle-picker-modal__actions">
        <button type="button" class="btn btn-sm btn-secondary vehicle-picker-modal__close-button" (click)="cancel()">Cancel</button>
        <button type="button" class="btn btn-sm" style="background-color: #3f51b5;color:white" (click)="save()">Modifier</button>
    </div>
</div>