<ng-container *ngIf="view === 'CarouselButton'">
    <button *ngIf="!checkPrduct" [disabled]="product.quantity === 0" (click)="add()"
        class="product-card__addtocart-icon" type="button" aria-label="Add to cart">
        <svg width="20" height="20">
            <circle cx="7" cy="17" r="2" />
            <circle cx="15" cy="17" r="2" />
            <path
                d="M20,4.4V5l-1.8,6.3c-0.1,0.4-0.5,0.7-1,0.7H6.7c-0.4,0-0.8-0.3-1-0.7L3.3,3.9C3.1,3.3,2.6,3,2.1,3H0.4C0.2,3,0,2.8,0,2.6
                        V1.4C0,1.2,0.2,1,0.4,1h2.5c1,0,1.8,0.6,2.1,1.6L5.1,3l2.3,6.8c0,0.1,0.2,0.2,0.3,0.2h8.6c0.1,0,0.3-0.1,0.3-0.2l1.3-4.4
                        C17.9,5.2,17.7,5,17.5,5H9.4C9.2,5,9,4.8,9,4.6V3.4C9,3.2,9.2,3,9.4,3h9.2C19.4,3,20,3.6,20,4.4z" />
        </svg>
    </button>
    <button mat-mini-fab color="warn" (click)="remove()" *ngIf="checkPrduct" type="button"
        aria-label="Remove from cart">
        <mat-icon>remove_shopping_cart</mat-icon>
    </button>
</ng-container>
<ng-container *ngIf="view === 'fullButton'">
    <button *ngIf="!checkPrduct" class="btn btn-lg btn-block" style="background-color:#3f51b5;color:white"
        (click)="add()">Ajouter au panier
    </button>
    <button *ngIf="checkPrduct" class="btn btn-danger btn-lg btn-block" (click)="remove()">Retirer du
        panier</button>
</ng-container>
<ng-container *ngIf="view === 'NavButton' && user !== null">
    <div *ngIf="screen === 'WEB'" style="cursor: pointer;" [matMenuTriggerFor]="cartMenu"
        class="indicator indicator--trigger--click">
        <a class="indicator__button">
            <span class="indicator__icon">
                <svg width=" 32" height="32">
                    <circle cx="10.5" cy="27.5" r="2.5" />
                    <circle cx="23.5" cy="27.5" r="2.5" />
                    <path
                        d="M26.4,21H11.2C10,21,9,20.2,8.8,19.1L5.4,4.8C5.3,4.3,4.9,4,4.4,4H1C0.4,4,0,3.6,0,3s0.4-1,1-1h3.4C5.8,2,7,3,7.3,4.3
                                l3.4,14.3c0.1,0.2,0.3,0.4,0.5,0.4h15.2c0.2,0,0.4-0.1,0.5-0.4l3.1-10c0.1-0.2,0-0.4-0.1-0.4C29.8,8.1,29.7,8,29.5,8H14
                                c-0.6,0-1-0.4-1-1s0.4-1,1-1h15.5c0.8,0,1.5,0.4,2,1c0.5,0.6,0.6,1.5,0.4,2.2l-3.1,10C28.5,20.3,27.5,21,26.4,21z" />
                </svg>
                <span class="indicator__counter" [matBadge]="cart_list ? cart_list.length : 0" matBadgeOverlap="true"
                    matBadgePosition="before"></span>
            </span>
            <span class="indicator__title">Panier</span>
            <span class="indicator__value">{{totalPrice}} TND</span>
        </a>
    </div>
    <div *ngIf="screen === 'MOBILE'" style="cursor: pointer;" [matMenuTriggerFor]="cartMenu">
        <a class="mobile-indicator__button">
            <span class="mobile-indicator__icon">
                <svg width="20" height="20">
                    <circle cx="7" cy="17" r="2" />
                    <circle cx="15" cy="17" r="2" />
                    <path
                        d="M20,4.4V5l-1.8,6.3c-0.1,0.4-0.5,0.7-1,0.7H6.7c-0.4,0-0.8-0.3-1-0.7L3.3,3.9C3.1,3.3,2.6,3,2.1,3H0.4C0.2,3,0,2.8,0,2.6
                            V1.4C0,1.2,0.2,1,0.4,1h2.5c1,0,1.8,0.6,2.1,1.6L5.1,3l2.3,6.8c0,0.1,0.2,0.2,0.3,0.2h8.6c0.1,0,0.3-0.1,0.3-0.2l1.3-4.4
                            C17.9,5.2,17.7,5,17.5,5H9.4C9.2,5,9,4.8,9,4.6V3.4C9,3.2,9.2,3,9.4,3h9.2C19.4,3,20,3.6,20,4.4z" />
                </svg>
                <span class="mobile-indicator__counter">
                    {{cart_list ? cart_list.length : 0}}
                </span>
            </span>
        </a>
    </div>
    <mat-menu #cartMenu="matMenu">
        <div class="dropcart" *ngIf="cart_list.length > 0">
            <ul class="dropcart__list">
                <li class="dropcart__item" *ngFor="let cart of cart_list;let i = index">
                    <div class="dropcart__item-image image image--type--product">
                        <a class="image__body" [routerLink]="['/shop/detail-product',cart.car_part._id]"><img
                                class="image__tag" [src]="cart_productsImages[i] | async" alt=""></a>
                    </div>
                    <div class="dropcart__item-info">
                        <div class="dropcart__item-name"><a
                                [routerLink]="['/shop/detail-product',cart.car_part._id]">{{cart.car_part.name|uppercase}}</a>
                        </div>
                        <div class="dropcart__item-meta">
                            <div class="dropcart__item-quantity">
                                {{cart.quantity}}
                            </div>
                            <div class="dropcart__item-price">{{cart.quantity * cart.car_part.price|number:'1.3'}} TND
                            </div>
                        </div>
                    </div>
                    <button (click)="removeFromCart(cart.car_part._id)" type="button" class="dropcart__item-remove">
                        <svg width="10" height="10">
                            <path d="M8.8,8.8L8.8,8.8c-0.4,0.4-1,0.4-1.4,0L5,6.4L2.6,8.8c-0.4,0.4-1,0.4-1.4,0l0,0c-0.4-0.4-0.4-1,0-1.4L3.6,5L1.2,2.6
                            c-0.4-0.4-0.4-1,0-1.4l0,0c0.4-0.4,1-0.4,1.4,0L5,3.6l2.4-2.4c0.4-0.4,1-0.4,1.4,0l0,0c0.4,0.4,0.4,1,0,1.4L6.4,5l2.4,2.4
                            C9.2,7.8,9.2,8.4,8.8,8.8z" />
                        </svg>
                    </button>
                </li>
                <li class="dropcart__divider" role="presentation"></li>
            </ul>
            <div class="dropcart__totals">
                <table>
                    <tr>
                        <th>Sous Total</th>
                        <td>{{totalPrice|number:'1.3'}} TND</td>
                    </tr>
                    <tr>
                        <th>Expédition</th>
                        <td>0 TND</td>
                    </tr>
                    <tr>
                        <th>Taux TVA</th>
                        <td>19%</td>
                    </tr>
                    <tr>
                        <th>Total TTC</th>
                        <td>{{totalPrice * 1.19|number:'1.3'}} TND</td>
                    </tr>
                </table>
            </div>
            <div class="dropcart__actions">
                <a routerLink="/cart/cart-list" class="btn btn-secondary">Voir le
                    panier
                </a>
                <a routerLink="/cart/checkout" class="btn" style="background-color : #3f51b5;color: white;">Passer à la
                    caisse
                </a>
            </div>
        </div>
        <div class="container" *ngIf="cart_list.length === 0">
            <svg class="h-full svg" height="200px" viewBox="0 0 1035 811" fill="none"
                xmlns="http://www.w3.org/2000/svg">
                <path class="hidden"
                    d="M26.8599 795.503C24.7641 799.898 22.9158 806.388 21.3876 810.957C62.8517 810.957 107.969 811.016 145.052 811.016C187.433 811.016 229.829 811.001 272.21 811.001C356.986 810.987 441.763 810.987 526.539 810.972C695.801 810.957 865.063 810.943 1034.31 810.928C1034.6 810.928 1034.89 810.928 1035.18 810.928C1035.23 542.273 1035.27 273.618 1035.3 4.96347C934.398 -15.5265 829.842 30.2267 753.434 93.0647C718.563 121.733 686.909 154.52 645.896 175.592C604.883 196.664 550.335 203.591 511.927 178.852C472.821 153.662 462.211 104.75 428.096 74.2337C393.837 43.6005 342.33 35.3201 296.282 44.139C249.811 53.0452 202.22 88.7426 187.695 130.407C184.173 140.506 182.834 151.188 183.227 161.782C184.639 199.517 207.052 232.362 228.577 263.432C244.979 287.094 278.803 303.16 283.955 332.6C287.04 350.296 277.595 368.239 263.827 381.162C250.059 394.085 232.361 402.889 215.027 411.664C165.238 436.855 116.235 463.282 68.062 490.917C34.8209 509.981 -14.3713 544.34 3.98116 585.946C15.2168 611.398 48.1231 621.279 71.2202 635.613C83.7074 643.37 95.1031 653.979 98.2322 667.353C101.842 682.807 93.8079 698.422 84.9009 712.014C66.9122 739.504 41.0791 765.743 26.8599 795.503Z"
                    fill="#F1F5FD" />

                <g class="js-man">
                    <path fill-rule="evenodd" clip-rule="evenodd"
                        d="M632.927 89.1938V91.3185L627.687 92.8028L624.194 85.8176L627.687 81.4518L625.068 79.7055L619.683 82.3395L617.82 81.2917L622.201 78.0756C623.423 76.926 625.184 76.5767 626.77 77.1443L632.941 79.7055L646.069 82.0048V91.3185L632.927 89.1938Z"
                        fill="#F9C8C7" />
                    <path fill-rule="evenodd" clip-rule="evenodd"
                        d="M635.066 94.0252L700.923 110.004C700.923 110.004 661.874 117.237 626.377 123.712C617.936 139.706 579.499 149.31 564.116 136.65C538.443 147.564 478.175 206.968 478.175 206.968L437.992 171.154L428.823 182.941C428.823 182.941 454.161 217.009 469.006 234.472C483.851 251.935 542.416 208.685 542.416 208.685L531.195 344.315H661.321L663.373 166.773C716.655 135.325 728.226 128.238 730.642 114.37C735.473 86.5743 639.098 79.6909 639.098 79.6909L635.066 94.0252Z"
                        fill="#EF7674" />
                    <path fill-rule="evenodd" clip-rule="evenodd"
                        d="M437.992 171.154L430.133 161.549L429.26 162.422L431.006 168.534L415.288 167.661L414.415 168.534L423.147 171.154H412.668L411.795 172.9L422.274 173.773L412.668 175.52V177.266H423.147L415.288 179.012V180.758H425.767L429.696 181.835L437.992 171.154Z"
                        fill="#F9C8C7" />
                    <path fill-rule="evenodd" clip-rule="evenodd"
                        d="M544.599 189.912L536.929 212.221L542.853 209.121L544.599 189.912Z" fill="#D76A67" />
                    <path fill-rule="evenodd" clip-rule="evenodd"
                        d="M663.374 166.788L664.247 147.564L667.565 164.3L663.374 166.788Z" fill="#D76A67" />
                    <path fill-rule="evenodd" clip-rule="evenodd"
                        d="M700.937 110.004L711.416 109.131L693.878 107.806L700.937 110.004Z" fill="#D76A67" />
                    <path fill-rule="evenodd" clip-rule="evenodd"
                        d="M608.753 111.561C608.753 111.561 620.294 108.33 618.911 104.168C618.256 102.204 610.601 105.085 610.601 105.085C624.456 81.9902 606.439 82.4559 601.825 80.6077C597.211 78.7595 595.421 84.4787 587.519 100.457C579.951 115.767 585.234 117.993 589.818 120.307L586.82 127.496C585.801 129.955 583.662 131.775 581.086 132.415C576.836 133.463 570.811 135.573 569.559 135.718C569.559 135.718 569.559 135.718 569.559 135.733C569.559 139.415 569.806 142.485 572.266 146.182C580.576 158.187 599.977 161.884 611.052 153.574C618.649 147.36 622.142 136.024 618.373 126.463C613.57 127.336 608.913 128.18 604.474 128.98L608.753 111.561Z"
                        fill="#F9C8C7" />
                    <path fill-rule="evenodd" clip-rule="evenodd"
                        d="M591.71 112.929C591.71 112.929 593.777 119.929 601.156 120.191C601.156 120.191 600.676 113.133 593.093 109.218C593.093 109.218 587.301 107.224 582.454 113.511C582.454 113.526 586.995 115.548 591.71 112.929Z"
                        fill="#4D4D4D" />
                    <path fill-rule="evenodd" clip-rule="evenodd"
                        d="M590.735 108.33L595.348 110.179C595.348 110.179 599.962 100.021 597.197 99.0895C594.432 98.1727 590.735 108.33 590.735 108.33Z"
                        fill="#D76A67" />
                    <path fill-rule="evenodd" clip-rule="evenodd"
                        d="M604.59 100.472C604.59 99.7008 603.965 99.0896 603.208 99.0896C602.436 99.0896 601.825 99.7154 601.825 100.472C601.825 101.229 602.451 101.855 603.208 101.855C603.979 101.855 604.59 101.243 604.59 100.472Z"
                        fill="#4D4D4D" />
                    <path fill-rule="evenodd" clip-rule="evenodd"
                        d="M594.432 96.7756C594.432 96.0043 593.806 95.3931 593.049 95.3931C592.278 95.3931 591.667 96.0188 591.667 96.7756C591.667 97.5323 592.292 98.158 593.049 98.158C593.806 98.1726 594.432 97.5468 594.432 96.7756Z"
                        fill="#4D4D4D" />
                    <path fill-rule="evenodd" clip-rule="evenodd"
                        d="M608.083 98.8712H608.069C607.661 98.8567 607.356 98.5365 607.356 98.129C607.37 97.416 607.006 96.6592 606.381 96.1208C605.755 95.5823 604.954 95.3349 604.256 95.4514C603.863 95.5241 603.484 95.2476 603.412 94.8547C603.339 94.4618 603.615 94.0834 604.008 94.0107C605.158 93.8215 606.366 94.1853 607.327 95.0148C608.287 95.8443 608.826 96.9939 608.811 98.1581C608.796 98.5656 608.476 98.8712 608.083 98.8712Z"
                        fill="#4D4D4D" />
                    <path fill-rule="evenodd" clip-rule="evenodd"
                        d="M595.916 93.5741C595.901 93.5741 595.887 93.5741 595.858 93.5741L591.011 93.2248C590.618 93.1957 590.313 92.8465 590.342 92.4536C590.371 92.0606 590.72 91.755 591.113 91.7841L595.96 92.1334C596.353 92.1625 596.658 92.5118 596.629 92.9047C596.615 93.2831 596.294 93.5741 595.916 93.5741Z"
                        fill="#4D4D4D" />
                    <path fill-rule="evenodd" clip-rule="evenodd"
                        d="M608.287 105.551C608.287 105.551 611.387 90.1252 614.691 86.2833C609.553 88.9901 590.706 84.537 596.28 71.3815C601.068 60.0887 614.749 65.837 611.052 78.7742C611.052 78.7742 624.907 82.4706 621.211 90.7801C617.514 99.0896 614.312 103.965 614.312 103.965L608.287 105.551Z"
                        fill="#4D4D4D" />
                    <path fill-rule="evenodd" clip-rule="evenodd"
                        d="M589.818 120.336L594.431 122.184L589.134 122.781L589.818 120.336Z" fill="#D76A67" />
                    <path fill-rule="evenodd" clip-rule="evenodd"
                        d="M604.59 128.646L603.673 133.259L609.553 128.064L604.59 128.646Z" fill="#D76A67" />
                    <path fill-rule="evenodd" clip-rule="evenodd"
                        d="M609.35 108.694C609.204 108.694 609.059 108.607 608.986 108.461C608.899 108.258 608.986 108.025 609.19 107.952C611.329 107.035 615.142 105.958 615.302 105.915C615.506 105.856 615.724 105.973 615.783 106.191C615.841 106.395 615.724 106.613 615.506 106.671C615.462 106.686 611.576 107.777 609.495 108.665C609.452 108.68 609.393 108.694 609.35 108.694Z"
                        fill="#D76A67" />
                    <path fill-rule="evenodd" clip-rule="evenodd"
                        d="M478.175 206.968L472.062 212.206L475.119 204.232L478.175 206.968Z" fill="#D76A67" />
                    <path fill-rule="evenodd" clip-rule="evenodd"
                        d="M617.019 125.415C622.564 156.761 576.37 165.536 570.84 134.19C570.84 134.19 564.829 136.271 564.13 136.65C573.125 179.9 635.386 166.977 626.392 123.712C623.219 124.295 620.09 124.862 617.019 125.415Z"
                        fill="#FFFFFE" />
                    <path fill-rule="evenodd" clip-rule="evenodd"
                        d="M430.686 168.302L431.326 168.767L426.145 175.869L425.504 175.418L430.686 168.302Z"
                        fill="#D76A67" />
                    <path fill-rule="evenodd" clip-rule="evenodd"
                        d="M632.854 88.699L633.014 89.4703L628.954 90.3143L628.793 89.543L632.854 88.699Z"
                        fill="#D76A67" />
                </g>
                <path d="M310.909 408.768C309.73 406.556 308.522 404.402 307.285 402.321L310.909 408.768Z"
                    fill="#F4D37E" />

                <g class="js-leaf-left">
                    <path
                        d="M310.545 422.419L307.241 402.249C301.085 391.887 294.288 383.112 288.437 376.694C284.144 383.083 285.308 400.488 285.308 400.488C282.849 382.719 283.867 377.102 283.081 371.281C273.767 362.578 261.192 359.115 250.961 354.705C258.165 375.123 258.762 380.463 258.762 380.463C255.444 368.065 249.869 360.046 246.551 352.915C220.732 342.976 209.162 348.637 209.162 348.637C210.865 357.485 217.05 376.709 219.19 384.16C230.527 390.956 245.678 397.024 245.678 397.024C238.168 395.933 227.908 391.945 220.572 388.788C223.905 399.542 223.469 397.752 227.747 405.974C239.143 413.367 260.945 420.367 260.945 420.367C251.878 419.697 238.619 415.171 231.328 412.45C239.522 426.304 249.185 436.826 260.246 445.805C271.293 448.642 282.819 450.229 282.819 450.229C277.755 450.767 271.191 450.33 265.093 449.588C277.988 459.266 292.629 467.328 308.842 476.423L324.284 479.887L325.23 457.519C324.458 439.954 318.549 423.248 311.01 408.972L310.545 422.419Z"
                        fill="#4E7FE3" />
                    <path
                        d="M302.569 445.237C306.164 449.923 309.642 454.711 312.888 459.702C316.133 464.679 319.102 469.903 321.387 475.492L321.154 475.608C318.724 470.136 315.624 465.057 312.262 460.211C308.9 455.365 305.305 450.723 301.594 446.183C294.201 437.087 286.429 428.37 278.613 419.682C270.812 410.995 262.779 402.51 255.298 393.43C251.558 388.889 247.861 384.305 244.324 379.576C240.773 374.861 237.368 369.985 234.195 364.95L234.399 364.776C241.836 373.886 249.476 382.704 257.19 391.48C264.918 400.226 272.457 409.219 280.098 418.096C287.724 426.973 295.35 435.909 302.569 445.237Z"
                        fill="#B8CCF4" />
                </g>

                <g class="js-leaf-left">
                    <path
                        d="M288.423 482.331C288.597 460.721 289.994 451.611 288.423 444.48C275.994 435.239 262.473 429.316 249.374 425.62C260.406 449.85 257.685 466.978 257.685 466.978C257.088 449.443 248.589 432.489 243.728 424.165C210.748 416.292 181.859 421.618 181.859 421.618C184.901 432.372 188.132 442.152 191.566 451.072C206.295 457.577 225.681 462.496 225.681 462.496C216.279 462.438 203.166 459.28 193.764 456.602C199.018 469.438 204.708 480.425 210.85 489.957C225.724 497.19 253.435 502.108 253.435 502.108C242.156 502.865 225.259 499.532 215.973 497.408C227.544 513.285 240.613 524.708 255.225 533.993C269.182 535.608 283.605 535.55 283.605 535.55C277.391 537.107 269.241 537.704 261.6 537.849C278.57 547.672 297.519 555.182 318.52 563.695L337.993 565.31L336.829 537.224C331.444 495.094 315.42 467.837 295.627 450.301C290.97 459.018 288.423 482.331 288.423 482.331Z"
                        fill="#95B2EE" />
                    <path
                        d="M333.642 560.522C330.061 554.119 325.695 548.313 321.038 542.856C316.381 537.398 311.432 532.232 306.382 527.211C296.296 517.141 285.759 507.624 275.179 498.15C264.613 488.662 253.799 479.479 243.597 469.467C238.488 464.461 233.438 459.367 228.562 454.085C223.672 448.817 218.942 443.331 214.503 437.582L214.736 437.32C224.895 447.391 235.257 457.068 245.722 466.673C256.2 476.248 266.461 486.144 276.852 495.894C287.215 505.659 297.577 515.482 307.488 525.873C312.422 531.097 317.225 536.467 321.766 542.128C326.292 547.774 330.527 553.784 333.933 560.348L333.642 560.522Z"
                        fill="#C8CDE1" />
                </g>

                <path class="js-right-gear"
                    d="M864.706 245.573H855.202C853.66 239.403 851.229 233.596 848.042 228.284L854.766 221.561C856.992 219.335 856.992 215.711 854.766 213.484L840.939 199.645C838.713 197.418 835.089 197.418 832.862 199.645L826.138 206.368C820.826 203.181 815.019 200.736 808.848 199.208V189.706C808.848 186.548 806.287 184.001 803.143 184.001H783.583C780.424 184.001 777.877 186.562 777.877 189.706V199.208C771.706 200.751 765.899 203.181 760.587 206.368L753.863 199.645C751.637 197.418 748.013 197.418 745.786 199.645L731.945 213.484C729.719 215.711 729.719 219.335 731.945 221.561L738.669 228.284C735.482 233.596 733.037 239.403 731.509 245.573H722.005C718.847 245.573 716.3 248.134 716.3 251.277V270.836C716.3 273.994 718.861 276.541 722.005 276.541H731.509C733.051 282.711 735.482 288.518 738.669 293.829L731.945 300.552C729.719 302.779 729.719 306.403 731.945 308.629L745.786 322.454C748.013 324.681 751.637 324.681 753.863 322.454L760.587 315.731C765.899 318.918 771.706 321.363 777.877 322.891V332.393C777.877 335.551 780.439 338.098 783.583 338.098H803.143C806.301 338.098 808.848 335.537 808.848 332.393V322.891C815.019 321.348 820.826 318.918 826.138 315.731L832.862 322.454C835.089 324.681 838.713 324.681 840.939 322.454L854.766 308.629C856.992 306.403 856.992 302.779 854.766 300.552L848.042 293.829C851.229 288.518 853.674 282.711 855.202 276.541H864.706C867.864 276.541 870.411 273.979 870.411 270.836V251.277C870.411 248.134 867.864 245.573 864.706 245.573ZM793.348 299.65C772.041 299.65 754.751 282.376 754.751 261.057C754.751 239.752 772.027 222.463 793.348 222.463C814.655 222.463 831.945 239.737 831.945 261.057C831.945 282.376 814.67 299.65 793.348 299.65Z"
                    fill="#7A7C84" />
                <path d="M894.622 463.311C897.023 461.201 899.352 459.062 901.579 456.879L894.622 463.311Z"
                    fill="#A796FF" />

                <g class="js-leaf-right">
                    <path
                        d="M877.288 465.814L901.68 456.792C912.756 445.994 921.619 434.657 927.819 425.154C918.374 420.628 896.776 426.086 896.776 426.086C918.417 418.766 925.811 418.94 932.913 416.568C940.874 401.768 941.151 383.607 943.392 368.501C919.96 382.952 913.411 384.975 913.411 384.975C927.979 377.655 936.29 368.181 944.221 362.011C948.369 324.101 937.468 309.345 937.468 309.345C926.859 313.653 904.606 326.444 895.888 331.043C890.983 348.215 888.262 370.509 888.262 370.509C887.199 359.886 888.887 344.824 890.503 333.968C878.016 340.953 880.126 339.964 871.132 347.676C865.499 365.067 863.753 396.777 863.753 396.777C861.643 384.087 863.054 364.747 864.117 354.08C849.286 368.457 839.157 384.16 831.414 401.419C831.414 417.325 833.175 433.609 833.175 433.609C830.847 426.726 829.275 417.558 828.227 408.943C820.208 428.923 814.779 450.927 808.564 475.361L809.205 497.481L837.745 493.857C859.663 488.924 878.831 477.063 894.403 463.486L877.288 465.814Z"
                        fill="#95B2EE" />
                    <path
                        d="M845.881 459.819C841.137 465.814 836.217 471.693 830.978 477.267C825.753 482.855 820.121 488.109 813.819 492.504L813.601 492.198C819.713 487.629 825.127 482.23 830.134 476.51C835.155 470.791 839.856 464.796 844.382 458.669C853.464 446.445 861.934 433.755 870.361 421.051C878.802 408.346 886.894 395.365 895.917 383.025C900.429 376.854 905.014 370.728 909.845 364.79C914.648 358.838 919.684 353.046 925.025 347.56L925.316 347.807C916.249 360.104 907.59 372.605 899.017 385.208C890.474 397.825 881.596 410.223 872.879 422.768C864.117 435.268 855.312 447.784 845.881 459.819Z"
                        fill="#C8CDE1" />
                </g>
                <path class="js-leaf-right"
                    d="M855.341 412.508C854.235 414.531 853.071 416.554 851.819 418.576L855.341 412.508ZM851.717 418.751C843.684 431.761 832.71 444.334 818.287 452.615L798.901 461.405L793.604 445.892C792.658 427.264 791.682 410.5 792.992 394.623C795.612 400.488 798.727 406.614 801.885 410.98C801.885 410.98 797.082 399.847 793.604 388.598C795.306 374.7 799.032 361.385 806.382 347.967C807.968 355.753 811.185 369.738 815.449 378.251C815.449 378.251 809.758 355.447 809.933 341.914C814.605 334.492 813.339 335.656 820.63 327.987C821.853 336.005 823.963 347.036 827.034 354.312C827.034 354.312 824.094 337.955 823.803 324.727C828.955 319.561 841.908 305.663 848.472 300.293C848.472 300.293 859.402 308.355 864.757 336.063C860.508 342.161 856.695 350.674 847.991 359.042C847.991 359.042 852.183 356.19 865.602 340.837C867.319 352.013 871.088 364.907 868.702 377.116C864.204 380.332 858.921 381.846 845.226 391.742C845.226 391.742 859.314 383.17 866.984 384.305C864.67 392.382 860.886 402.321 855.414 412.392L840.132 424.092L851.717 418.751ZM827.558 394.652C830.978 383.883 834.558 373.172 837.847 362.374C841.151 351.591 844.542 340.851 848.282 330.184L848.021 330.068C845.444 335.117 843.145 340.298 841.049 345.566C838.939 350.82 837.018 356.161 835.184 361.501C831.502 372.212 828.62 383.141 825.418 393.983C822.231 404.81 819.029 415.637 815.26 426.26C813.397 431.572 811.388 436.854 809.089 441.992C806.789 447.129 804.155 452.135 800.822 456.704L801.041 456.879C804.534 452.397 807.372 447.449 809.846 442.355C812.334 437.262 814.517 432.038 816.57 426.755C820.616 416.175 824.108 405.421 827.558 394.652Z"
                    fill="#7199E9" />

                <g class="js-leaf-right">
                    <path
                        d="M870.564 526.542C891.318 533.28 899.614 537.529 907.007 537.995C920.091 527.488 930.337 514.813 938.312 501.919C911.271 506.387 895.699 498.281 895.699 498.281C912.77 502.952 931.967 498.994 941.616 496.316C960.303 463.399 964.902 430.874 964.902 430.874C953.536 430.874 943.028 431.368 933.277 432.329C922.056 446.125 910.791 465.378 910.791 465.378C914.007 455.322 921.474 442.268 927.208 432.998C913.091 434.73 900.589 437.495 889.353 441.191C877.375 454.914 863.316 483.074 863.316 483.074C866.387 470.762 875.279 453.707 880.446 444.407C861.264 451.989 845.866 462.511 832.011 475.346C825.753 489.797 820.95 505.252 820.95 505.252C821.532 498.136 823.715 489.229 826.146 481.007C810.98 496.2 797.358 514.187 782.091 534.095L773.97 554.439L801.404 561.701C843.77 568.686 875.41 559.809 898.959 543.932C892.147 536.321 870.564 526.542 870.564 526.542Z"
                        fill="#4E7FE3" />
                    <path
                        d="M780.068 551.252C787.432 549.36 794.491 546.45 801.317 543.103C808.142 539.77 814.779 536.045 821.314 532.159C834.412 524.417 847.118 516.021 859.794 507.58C872.485 499.154 884.958 490.35 898.042 482.462C904.577 478.519 911.169 474.648 917.908 471.039C924.632 467.4 931.501 464.01 938.516 460.997L938.676 461.332C925.563 469.147 912.756 477.311 899.978 485.591C887.228 493.901 874.246 501.89 861.366 510.054C848.471 518.189 835.533 526.309 822.187 533.76C815.507 537.456 808.71 540.978 801.739 544.107C794.782 547.25 787.578 549.957 780.112 551.616L780.068 551.252Z"
                        fill="#B8CCF4" />
                </g>
                <path class="js-left-gear"
                    d="M447.773 249.607H432.623C430.163 239.769 426.277 230.485 421.183 222.015L431.91 211.29C435.461 207.739 435.461 201.962 431.91 198.411L409.846 176.349C406.295 172.798 400.517 172.798 396.966 176.349L386.239 187.074C377.769 181.981 368.498 178.095 358.645 175.636V160.487C358.645 155.452 354.57 151.377 349.535 151.377H318.316C313.281 151.377 309.206 155.452 309.206 160.487V175.636C299.367 178.095 290.082 181.981 281.611 187.074L270.885 176.349C267.334 172.798 261.556 172.798 258.005 176.349L235.941 198.411C232.39 201.962 232.39 207.739 235.941 211.29L246.668 222.015C241.574 230.485 237.688 239.755 235.228 249.607H220.078C215.042 249.607 210.967 253.681 210.967 258.717V289.932C210.967 294.967 215.042 299.042 220.078 299.042H235.228C237.688 308.879 241.574 318.164 246.668 326.633L235.941 337.359C232.39 340.91 232.39 346.687 235.941 350.238L258.005 372.299C261.556 375.85 267.334 375.85 270.885 372.299L281.611 361.574C290.082 366.668 299.353 370.553 309.206 373.013V388.162C309.206 393.197 313.281 397.272 318.316 397.272H349.535C354.57 397.272 358.645 393.197 358.645 388.162V373.013C368.484 370.553 377.769 366.668 386.239 361.574L396.966 372.299C400.517 375.85 406.295 375.85 409.846 372.299L431.91 350.238C435.461 346.687 435.461 340.91 431.91 337.359L421.183 326.633C426.277 318.164 430.163 308.894 432.623 299.042H447.773C452.809 299.042 456.884 294.967 456.884 289.932V258.717C456.884 253.681 452.794 249.607 447.773 249.607ZM333.933 335.874C299.935 335.874 272.37 308.312 272.37 274.317C272.37 240.322 299.935 212.76 333.933 212.76C367.931 212.76 395.496 240.322 395.496 274.317C395.496 308.312 367.931 335.874 333.933 335.874Z"
                    fill="#989BA5" />
                <path d="M903.442 644.345H207.139L300.604 565.325H809.976L903.442 644.345Z" fill="#D6D7DE" />
                <path
                    d="M878.569 674.396H232.011C218.272 674.396 207.153 663.263 207.153 649.54V644.36H903.441V649.54C903.441 663.263 892.307 674.396 878.569 674.396Z"
                    fill="#5B5D63" />
                <path class="js-key"
                    d="M366.926 586.703H338.735C337.862 586.703 337.426 585.626 338.066 585.029L346.871 576.705C347.046 576.53 347.293 576.443 347.54 576.443H374.48C375.324 576.443 375.761 577.447 375.193 578.058L367.654 586.382C367.465 586.586 367.203 586.703 366.926 586.703Z"
                    fill="#989BA5" />
                <path class="js-key"
                    d="M411.578 586.703H383.11C382.281 586.703 381.844 585.742 382.368 585.116L389.354 576.792C389.543 576.574 389.805 576.443 390.096 576.443H417.312C418.098 576.443 418.549 577.316 418.113 577.956L412.393 586.28C412.189 586.542 411.898 586.703 411.578 586.703Z"
                    fill="#989BA5" />
                <path class="js-key"
                    d="M456.185 586.702H427.485C426.728 586.702 426.262 585.873 426.655 585.218L431.822 576.894C431.997 576.603 432.317 576.428 432.652 576.428H460.086C460.799 576.428 461.265 577.17 460.959 577.811L457.044 586.135C456.913 586.484 456.564 586.702 456.185 586.702Z"
                    fill="#989BA5" />
                <path class="js-key"
                    d="M500.779 586.702H471.904C471.22 586.702 470.754 586.004 471.001 585.363L474.349 577.039C474.494 576.676 474.858 576.428 475.251 576.428H502.86C503.486 576.428 503.951 577.025 503.806 577.636L501.71 585.96C501.608 586.397 501.215 586.702 500.779 586.702Z"
                    fill="#989BA5" />
                <path class="js-key"
                    d="M545.313 586.702H516.351C515.74 586.702 515.288 586.149 515.39 585.553L516.933 577.229C517.02 576.763 517.413 576.428 517.894 576.428H545.59C546.143 576.428 546.579 576.879 546.565 577.432L546.288 585.756C546.259 586.28 545.837 586.702 545.313 586.702Z"
                    fill="#989BA5" />
                <path class="js-key"
                    d="M589.805 586.703H560.843C560.319 586.703 559.897 586.28 559.868 585.771L559.591 577.447C559.577 576.894 560.013 576.443 560.566 576.443H588.262C588.728 576.443 589.136 576.778 589.223 577.243L590.766 585.567C590.868 586.15 590.416 586.703 589.805 586.703Z"
                    fill="#989BA5" />
                <path class="js-key"
                    d="M634.267 586.703H605.392C604.941 586.703 604.562 586.397 604.446 585.975L602.35 577.651C602.19 577.04 602.656 576.443 603.296 576.443H630.905C631.298 576.443 631.662 576.69 631.807 577.054L635.155 585.378C635.417 586.004 634.951 586.703 634.267 586.703Z"
                    fill="#989BA5" />
                <path class="js-key"
                    d="M678.671 586.703H649.971C649.593 586.703 649.258 586.484 649.098 586.15L645.183 577.825C644.877 577.185 645.357 576.443 646.056 576.443H673.49C673.825 576.443 674.13 576.618 674.32 576.909L679.486 585.233C679.908 585.858 679.443 586.703 678.671 586.703Z"
                    fill="#989BA5" />
                <path class="js-key"
                    d="M723.06 586.703H694.593C694.273 586.703 693.967 586.542 693.792 586.28L688.073 577.956C687.636 577.316 688.087 576.443 688.873 576.443H716.089C716.38 576.443 716.642 576.574 716.831 576.792L723.817 585.116C724.341 585.727 723.89 586.703 723.06 586.703Z"
                    fill="#989BA5" />
                <path class="js-key"
                    d="M767.435 586.703H739.245C738.968 586.703 738.706 586.586 738.531 586.382L730.993 578.058C730.425 577.432 730.876 576.443 731.706 576.443H758.645C758.892 576.443 759.125 576.545 759.314 576.705L768.119 585.029C768.731 585.626 768.309 586.703 767.435 586.703Z"
                    fill="#989BA5" />
                <path class="js-key"
                    d="M352.838 602.259H322.29C321.416 602.259 320.98 601.182 321.62 600.585L332.084 590.69C332.259 590.515 332.506 590.428 332.754 590.428H361.803C362.648 590.428 363.084 591.432 362.517 592.043L353.551 601.939C353.377 602.142 353.115 602.259 352.838 602.259Z"
                    fill="#989BA5" />
                <path class="js-key"
                    d="M400.881 602.259H370.056C369.226 602.259 368.79 601.298 369.313 600.673L377.609 590.777C377.798 590.559 378.06 590.428 378.351 590.428H407.678C408.463 590.428 408.915 591.301 408.478 591.941L401.681 601.837C401.492 602.099 401.201 602.259 400.881 602.259Z"
                    fill="#989BA5" />
                <path class="js-key"
                    d="M448.894 602.259H417.836C417.079 602.259 416.613 601.429 417.006 600.774L423.148 590.879C423.323 590.588 423.643 590.413 423.978 590.413H453.537C454.25 590.413 454.716 591.155 454.41 591.796L449.767 601.691C449.607 602.041 449.258 602.259 448.894 602.259Z"
                    fill="#989BA5" />
                <path class="js-key"
                    d="M336.451 620.377H303.151C302.278 620.377 301.842 619.3 302.482 618.703L315.013 606.843C315.187 606.668 315.435 606.581 315.682 606.581H347.177C348.021 606.581 348.458 607.585 347.89 608.196L337.149 620.057C336.975 620.26 336.713 620.377 336.451 620.377Z"
                    fill="#989BA5" />
                <path class="js-key"
                    d="M388.423 620.377H354.847C354.017 620.377 353.581 619.416 354.104 618.791L364.059 606.93C364.249 606.712 364.51 606.581 364.802 606.581H396.573C397.359 606.581 397.81 607.454 397.373 608.094L389.223 619.955C389.048 620.217 388.743 620.377 388.423 620.377Z"
                    fill="#989BA5" />
                <path class="js-key"
                    d="M440.38 620.377H406.586C405.829 620.377 405.363 619.548 405.756 618.893L413.121 607.032C413.295 606.741 413.615 606.567 413.95 606.567H445.954C446.667 606.567 447.133 607.309 446.827 607.949L441.268 619.809C441.108 620.159 440.759 620.377 440.38 620.377Z"
                    fill="#989BA5" />
                <path class="js-key"
                    d="M496.863 602.259H465.645C464.961 602.259 464.496 601.56 464.743 600.92L468.731 591.024C468.876 590.66 469.24 590.413 469.633 590.413H499.352C499.978 590.413 500.444 591.01 500.298 591.621L497.809 601.517C497.693 601.953 497.3 602.259 496.863 602.259Z"
                    fill="#989BA5" />
                <path class="js-key"
                    d="M647.816 620.377H458.339C457.655 620.377 457.189 619.679 457.437 619.038L462.211 607.178C462.356 606.814 462.72 606.567 463.113 606.567H643.043C643.436 606.567 643.8 606.814 643.945 607.178L648.719 619.038C648.981 619.679 648.515 620.377 647.816 620.377Z"
                    fill="#989BA5" />
                <path class="js-key"
                    d="M544.79 602.259H513.47C512.858 602.259 512.407 601.706 512.509 601.109L514.343 591.214C514.43 590.748 514.823 590.413 515.303 590.413H545.124C545.677 590.413 546.114 590.864 546.099 591.417L545.765 601.313C545.75 601.837 545.313 602.259 544.79 602.259Z"
                    fill="#989BA5" />
                <path class="js-key"
                    d="M592.686 602.259H561.366C560.842 602.259 560.42 601.837 560.391 601.328L560.057 591.432C560.042 590.879 560.479 590.428 561.032 590.428H590.853C591.318 590.428 591.726 590.762 591.813 591.228L593.647 601.124C593.749 601.706 593.283 602.259 592.686 602.259Z"
                    fill="#989BA5" />
                <path class="js-key"
                    d="M640.525 602.259H609.307C608.856 602.259 608.478 601.953 608.361 601.531L605.873 591.636C605.712 591.024 606.178 590.428 606.819 590.428H636.538C636.931 590.428 637.294 590.675 637.44 591.039L641.428 600.935C641.69 601.56 641.209 602.259 640.525 602.259Z"
                    fill="#989BA5" />
                <path class="js-key"
                    d="M688.335 602.259H657.277C656.898 602.259 656.564 602.041 656.404 601.706L651.761 591.81C651.455 591.17 651.935 590.428 652.634 590.428H682.193C682.528 590.428 682.833 590.602 683.023 590.893L689.164 600.789C689.557 601.415 689.092 602.259 688.335 602.259Z"
                    fill="#989BA5" />
                <path class="js-key"
                    d="M736.115 602.259H705.29C704.97 602.259 704.664 602.099 704.49 601.837L697.693 591.941C697.256 591.301 697.707 590.428 698.493 590.428H727.819C728.111 590.428 728.373 590.559 728.562 590.777L736.857 600.673C737.381 601.298 736.945 602.259 736.115 602.259Z"
                    fill="#989BA5" />
                <path class="js-key"
                    d="M744.818 612.635H712.421C712.101 612.635 711.81 612.475 711.621 612.213L708.783 608.08C708.346 607.44 708.797 606.567 709.583 606.567H741.354C741.645 606.567 741.907 606.698 742.097 606.916L745.56 611.049C746.099 611.675 745.648 612.635 744.818 612.635Z"
                    fill="#989BA5" />
                <path class="js-key"
                    d="M751.309 620.377H717.733C717.413 620.377 717.122 620.217 716.933 619.955L713.76 615.342C713.324 614.702 713.775 613.828 714.561 613.828H747.438C747.729 613.828 747.991 613.959 748.18 614.178L752.051 618.791C752.575 619.417 752.124 620.377 751.309 620.377Z"
                    fill="#989BA5" />
                <path class="js-key"
                    d="M803.019 620.377H769.72C769.443 620.377 769.182 620.261 769.007 620.057L764.83 615.444C764.262 614.818 764.713 613.828 765.543 613.828H798.144C798.391 613.828 798.624 613.93 798.813 614.09L803.689 618.703C804.315 619.3 803.893 620.377 803.019 620.377Z"
                    fill="#989BA5" />
                <path class="js-key"
                    d="M699.585 620.377H665.791C665.412 620.377 665.078 620.159 664.918 619.824L662.749 615.211C662.443 614.571 662.924 613.828 663.622 613.828H696.718C697.053 613.828 697.358 614.003 697.548 614.294L700.415 618.907C700.808 619.533 700.342 620.377 699.585 620.377Z"
                    fill="#989BA5" />

                <!-- no more keys -->
                <path
                    d="M783.867 602.259H753.318C753.042 602.259 752.78 602.142 752.605 601.939L743.64 592.043C743.072 591.417 743.524 590.428 744.353 590.428H773.403C773.65 590.428 773.883 590.53 774.072 590.69L784.536 600.585C785.177 601.182 784.755 602.259 783.867 602.259Z"
                    fill="#989BA5" />

                <g class="js-airplane-left">
                    <path d="M191.712 9.94043L267.712 22.7903L261.643 48.3156L191.712 9.94043Z" fill="#ADAFBA" />
                    <path d="M191.712 9.94043L255.385 29.2517L261.643 48.3156L191.712 9.94043Z" fill="#EAEBF0" />
                    <path d="M191.712 9.94033L286.341 8.36865L267.712 22.7902L191.712 9.94033Z" fill="#EAEBF0" />
                    <path d="M191.712 9.94043L255.385 29.2517L231.764 45.0121L191.712 9.94043Z" fill="#EAEBF0" />
                </g>

                <g class="js-airplane-right">
                    <path d="M972.82 272.847L912.814 257.014L907.822 279.119L972.82 272.847Z" fill="#ADAFBA" />
                    <path d="M972.82 272.847L919.393 266.284L907.822 279.119L972.82 272.847Z" fill="#C1C3CC" />
                    <path d="M972.82 272.847L904.591 239.333L912.814 257.014L972.82 272.847Z" fill="#EAEBF0" />
                    <path d="M972.82 272.847L919.393 266.284L930.774 286.716L972.82 272.847Z" fill="#EAEBF0" />
                </g>

                <path
                    d="M809.977 565.325H300.604V270.053C300.604 256.141 311.884 244.863 325.797 244.863H784.798C798.712 244.863 809.991 256.141 809.991 270.053V565.325H809.977Z"
                    fill="#5B5D63" />
                <path d="M785.324 268.001H324.3V537.325H785.324V268.001Z" fill="white" />
                <path class="hidden"
                    d="M279.006 54.0784C278.628 54.0784 278.25 53.9183 277.973 53.6127C277.216 52.7395 276.488 51.8373 275.79 50.9205C275.339 50.3238 275.441 49.4798 276.037 49.0141C276.634 48.5484 277.478 48.6648 277.944 49.2615C278.628 50.1492 279.327 50.9932 280.04 51.8373C280.535 52.4048 280.462 53.2634 279.894 53.7582C279.632 53.9619 279.312 54.0784 279.006 54.0784Z"
                    fill="#95B2EE" />
                <path class="js-airplane-left-path hidden"
                    d="M398.261 147.244C398.247 147.244 398.247 147.244 398.232 147.244C395.947 147.2 393.633 147.055 391.319 146.778C390.577 146.691 390.038 146.022 390.126 145.279C390.213 144.537 390.897 143.999 391.625 144.086C393.837 144.348 396.078 144.493 398.276 144.523C399.033 144.537 399.629 145.148 399.615 145.905C399.6 146.647 398.989 147.244 398.261 147.244ZM384.77 145.701C384.682 145.701 384.581 145.687 384.493 145.672C382.252 145.207 379.996 144.61 377.798 143.941C377.085 143.722 376.678 142.965 376.896 142.238C377.114 141.525 377.871 141.117 378.599 141.336C380.724 141.99 382.892 142.558 385.061 143.009C385.789 143.169 386.269 143.882 386.109 144.624C385.963 145.265 385.41 145.701 384.77 145.701ZM371.802 141.714C371.628 141.714 371.453 141.685 371.293 141.612C369.168 140.739 367.058 139.764 365.02 138.716C364.351 138.367 364.089 137.552 364.438 136.882C364.787 136.213 365.602 135.951 366.272 136.3C368.237 137.319 370.274 138.265 372.326 139.094C373.025 139.386 373.36 140.171 373.068 140.87C372.85 141.394 372.341 141.714 371.802 141.714ZM359.752 135.471C359.504 135.471 359.257 135.398 359.024 135.253C357.074 134.016 355.167 132.677 353.362 131.28C352.766 130.814 352.664 129.97 353.115 129.373C353.566 128.777 354.425 128.675 355.022 129.126C356.768 130.479 358.602 131.76 360.479 132.953C361.12 133.361 361.294 134.19 360.901 134.831C360.639 135.253 360.203 135.471 359.752 135.471ZM349.011 127.19C348.676 127.19 348.341 127.074 348.079 126.827C346.391 125.255 344.761 123.581 343.248 121.879C342.753 121.311 342.796 120.453 343.364 119.958C343.932 119.463 344.79 119.507 345.285 120.074C346.74 121.719 348.312 123.32 349.942 124.833C350.495 125.342 350.524 126.201 350.015 126.754C349.739 127.045 349.375 127.19 349.011 127.19ZM340.017 117.033C339.594 117.033 339.187 116.844 338.91 116.465C337.921 115.097 336.975 113.686 336.102 112.26C335.767 111.721 335.447 111.197 335.141 110.644C334.763 109.989 334.981 109.16 335.636 108.796C336.291 108.418 337.12 108.636 337.484 109.291C337.79 109.815 338.095 110.324 338.401 110.833C339.245 112.201 340.148 113.555 341.094 114.864C341.53 115.476 341.399 116.32 340.788 116.756C340.57 116.945 340.293 117.033 340.017 117.033ZM333.22 105.303C332.696 105.303 332.216 105.012 331.983 104.503C331.037 102.422 330.193 100.254 329.436 98.0562C329.188 97.3432 329.581 96.5719 330.28 96.339C330.993 96.0916 331.765 96.4846 331.997 97.1831C332.711 99.2932 333.54 101.374 334.442 103.382C334.748 104.066 334.442 104.867 333.758 105.172C333.598 105.26 333.409 105.303 333.22 105.303ZM328.854 92.4535C328.242 92.4535 327.675 92.0315 327.529 91.4057C327.005 89.1792 326.569 86.8944 326.234 84.6097C326.132 83.8675 326.642 83.1835 327.384 83.0671C328.126 82.9652 328.81 83.4746 328.926 84.2168C329.247 86.4142 329.654 88.6262 330.164 90.7654C330.338 91.493 329.887 92.2207 329.159 92.3953C329.057 92.439 328.956 92.4535 328.854 92.4535ZM361.92 84.4205C361.032 84.4205 360.13 84.4059 359.242 84.3914C358.485 84.3768 357.889 83.7656 357.903 83.0089C357.918 82.2522 358.529 81.641 359.286 81.6701C361.527 81.7137 363.769 81.6992 366.01 81.6264C366.738 81.641 367.392 82.1939 367.407 82.9507C367.436 83.7074 366.839 84.3332 366.097 84.3477C364.715 84.4059 363.317 84.4205 361.92 84.4205ZM352.489 84.1294C352.46 84.1294 352.431 84.1294 352.402 84.1294C350.859 84.0421 349.331 83.9257 347.803 83.7947C347.061 83.7365 346.318 83.6638 345.576 83.591C344.834 83.5182 344.281 82.8488 344.354 82.1066C344.426 81.3644 345.096 80.8115 345.838 80.8842C346.566 80.957 347.293 81.0297 348.021 81.088C349.535 81.2189 351.048 81.3208 352.562 81.4227C353.304 81.4663 353.886 82.1066 353.828 82.8634C353.799 83.5764 353.188 84.1294 352.489 84.1294ZM372.85 83.9839C372.152 83.9839 371.555 83.4455 371.497 82.7469C371.438 82.0048 371.991 81.3353 372.734 81.2771C375.004 81.088 377.245 80.826 379.399 80.5204C380.127 80.404 380.826 80.9279 380.942 81.6701C381.044 82.4122 380.535 83.0962 379.792 83.2126C377.58 83.5328 375.281 83.7947 372.967 83.9839C372.923 83.9839 372.879 83.9839 372.85 83.9839ZM338.969 82.7906C338.91 82.7906 338.838 82.7906 338.779 82.7761C336.48 82.4413 334.21 82.0775 332.012 81.6555C331.27 81.51 330.789 80.8115 330.935 80.0693C331.08 79.3271 331.779 78.8469 332.521 78.9924C334.675 79.3999 336.917 79.7782 339.158 80.0984C339.9 80.2002 340.41 80.8988 340.308 81.6409C340.206 82.2958 339.624 82.7906 338.969 82.7906ZM386.283 82.0193C385.658 82.0193 385.09 81.5827 384.959 80.9424C384.799 80.2148 385.265 79.4872 386.007 79.3271C388.205 78.8469 390.388 78.2939 392.483 77.6827C393.197 77.4644 393.953 77.8864 394.172 78.5995C394.39 79.3125 393.968 80.0693 393.255 80.2876C391.086 80.9279 388.845 81.4954 386.574 81.9902C386.473 82.0048 386.371 82.0193 386.283 82.0193ZM325.608 80.2439C325.506 80.2439 325.39 80.2294 325.288 80.2002C323.032 79.6472 320.805 79.0506 318.666 78.4103C317.953 78.192 317.545 77.4353 317.749 76.7222C317.967 76.0091 318.724 75.6016 319.437 75.8054C321.417 76.402 323.469 76.955 325.55 77.4644C325.492 76.2128 325.463 74.9322 325.463 73.6807C325.463 72.7202 325.477 71.7743 325.521 70.8138C325.55 70.0717 326.176 69.4604 326.933 69.5041C327.689 69.5332 328.272 70.159 328.242 70.9157C328.213 71.8325 328.184 72.7493 328.184 73.6807C328.184 74.9759 328.213 76.3002 328.286 77.5953C328.33 78.3375 327.748 78.9778 327.005 79.0215C326.991 79.0215 326.976 79.0215 326.976 79.0215C326.976 79.0797 326.962 79.1379 326.947 79.1961C326.787 79.8219 326.219 80.2439 325.608 80.2439ZM399.295 78.1629C398.756 78.1629 398.232 77.8282 398.028 77.2897C397.752 76.5912 398.101 75.8054 398.8 75.5289C400.037 75.0486 401.259 74.5393 402.424 74.0154C403.253 73.637 404.083 73.2587 404.898 72.8512C405.567 72.5165 406.382 72.793 406.717 73.4624C407.052 74.1318 406.775 74.9468 406.106 75.2815C405.247 75.7035 404.388 76.111 403.53 76.4893C402.322 77.0278 401.056 77.5517 399.775 78.0465C399.629 78.1338 399.455 78.1629 399.295 78.1629ZM312.612 76.3293C312.451 76.3293 312.291 76.3002 312.146 76.242C309.963 75.4416 307.823 74.5684 305.771 73.6661C305.087 73.3605 304.782 72.5602 305.087 71.8762C305.393 71.1922 306.193 70.8866 306.877 71.1922C308.871 72.0799 310.967 72.924 313.092 73.7098C313.79 73.9717 314.154 74.743 313.892 75.4561C313.689 75.98 313.165 76.3293 312.612 76.3293ZM411.447 72.1236C410.996 72.1236 410.559 71.9053 410.297 71.4833C409.904 70.8429 410.094 70.0135 410.734 69.606C412.611 68.4272 414.46 67.1466 416.192 65.7932C416.788 65.3421 417.633 65.4439 418.098 66.0406C418.564 66.6373 418.448 67.4813 417.851 67.947C416.046 69.344 414.125 70.6829 412.175 71.9053C411.942 72.0508 411.68 72.1236 411.447 72.1236ZM300.212 70.7993C299.993 70.7993 299.775 70.7411 299.571 70.6392C297.519 69.5478 295.525 68.369 293.633 67.1466C293.007 66.7391 292.818 65.8951 293.226 65.2693C293.633 64.6435 294.477 64.4544 295.103 64.8618C296.937 66.0406 298.873 67.1903 300.852 68.2526C301.507 68.6019 301.754 69.4313 301.405 70.0862C301.172 70.5373 300.706 70.7993 300.212 70.7993ZM327.427 65.4585C327.369 65.4585 327.311 65.4585 327.253 65.4439C326.511 65.3566 325.987 64.6727 326.074 63.9305C326.365 61.6457 326.758 59.361 327.253 57.1199C327.413 56.3922 328.141 55.9266 328.868 56.0866C329.596 56.2467 330.062 56.9743 329.902 57.702C329.421 59.8558 329.043 62.0677 328.766 64.2797C328.679 64.9637 328.097 65.4585 327.427 65.4585ZM422.159 63.8141C421.795 63.8141 421.446 63.6685 421.169 63.392C420.645 62.8536 420.674 61.995 421.213 61.4711C422.828 59.9285 424.356 58.2986 425.768 56.6251C426.248 56.0575 427.107 55.9848 427.689 56.465C428.257 56.9452 428.344 57.8038 427.849 58.3859C426.379 60.1323 424.778 61.8349 423.09 63.4357C422.828 63.6831 422.493 63.8141 422.159 63.8141ZM288.83 63.4211C288.539 63.4211 288.248 63.3338 288.001 63.1301C286.167 61.7039 284.406 60.1905 282.747 58.6188C282.208 58.1094 282.179 57.2508 282.689 56.6978C283.198 56.1594 284.057 56.1303 284.61 56.6542C286.196 58.1531 287.899 59.6229 289.66 60.9909C290.257 61.4565 290.359 62.3006 289.893 62.8972C289.631 63.2465 289.238 63.4211 288.83 63.4211ZM430.877 53.4235C430.615 53.4235 430.367 53.3508 430.134 53.2052C429.508 52.7978 429.334 51.9537 429.741 51.328C430.964 49.4652 432.07 47.5297 433.016 45.5797C433.351 44.9103 434.151 44.6192 434.835 44.9539C435.505 45.2886 435.796 46.089 435.461 46.773C434.457 48.8249 433.293 50.8623 432.012 52.8123C431.75 53.2052 431.313 53.4235 430.877 53.4235ZM330.338 52.2157C330.207 52.2157 330.062 52.2011 329.931 52.1574C329.218 51.9246 328.825 51.1679 329.043 50.4548C329.742 48.2574 330.557 46.0745 331.444 43.9644C331.735 43.2804 332.536 42.9602 333.22 43.2513C333.904 43.5423 334.224 44.3427 333.933 45.0267C333.074 47.0495 332.288 49.1451 331.619 51.2697C331.444 51.8518 330.92 52.2157 330.338 52.2157ZM436.8 41.243C436.654 41.243 436.523 41.2285 436.378 41.1703C435.665 40.9374 435.272 40.1661 435.505 39.4531C436.087 37.6922 436.553 35.8731 436.916 34.0832C436.989 33.7485 437.047 33.4137 437.106 33.0645C437.237 32.3223 437.935 31.8421 438.677 31.9585C439.42 32.0895 439.915 32.788 439.784 33.5302C439.725 33.894 439.653 34.2578 439.58 34.6216C439.201 36.528 438.707 38.4489 438.081 40.3117C437.892 40.8792 437.368 41.243 436.8 41.243ZM335.665 39.7441C335.447 39.7441 335.228 39.6859 335.01 39.584C334.355 39.2202 334.108 38.4053 334.472 37.7359C335.563 35.7422 336.756 33.8067 338.008 31.9585L338.095 31.8275C338.518 31.2163 339.362 31.0562 339.987 31.4928C340.599 31.9148 340.759 32.7589 340.337 33.3846L340.264 33.472C339.041 35.2474 337.906 37.1246 336.858 39.031C336.611 39.4822 336.145 39.7441 335.665 39.7441ZM343.349 28.5677C343.044 28.5677 342.724 28.4659 342.476 28.2476C341.909 27.7673 341.836 26.9087 342.316 26.3266C343.786 24.5949 345.387 22.8922 347.046 21.2769C347.585 20.753 348.443 20.7676 348.967 21.306C349.491 21.8444 349.477 22.7031 348.938 23.2269C347.337 24.7841 345.809 26.414 344.383 28.0875C344.121 28.4077 343.742 28.5677 343.349 28.5677ZM438.925 27.8983C438.197 27.8983 437.6 27.3308 437.571 26.6031C437.499 24.9441 437.266 23.3725 436.858 21.9318C436.713 21.4079 436.538 20.8985 436.349 20.3892C436.087 19.6907 436.436 18.9048 437.135 18.6429C437.833 18.3809 438.619 18.7302 438.881 19.4287C439.1 19.9963 439.289 20.5929 439.463 21.1896C439.929 22.834 440.206 24.624 440.278 26.4867C440.307 27.2289 439.725 27.8692 438.983 27.8983C438.969 27.8983 438.954 27.8983 438.925 27.8983ZM353.086 19.1231C352.693 19.1231 352.3 18.9485 352.024 18.6138C351.558 18.0317 351.645 17.1731 352.242 16.7074C354.032 15.2812 355.909 13.9133 357.831 12.6327C358.456 12.2252 359.3 12.3998 359.708 13.0256C360.115 13.6514 359.941 14.4954 359.315 14.9029C357.467 16.1253 355.647 17.4496 353.93 18.8175C353.683 19.0213 353.392 19.1231 353.086 19.1231ZM434.224 15.4122C433.831 15.4122 433.438 15.2376 433.176 14.9174C431.881 13.3312 430.309 11.8614 428.475 10.5371C427.864 10.1005 427.733 9.24193 428.17 8.64527C428.606 8.03406 429.465 7.90309 430.062 8.33967C432.07 9.80948 433.831 11.4394 435.272 13.2002C435.752 13.7823 435.665 14.6409 435.083 15.1066C434.835 15.3103 434.53 15.4122 434.224 15.4122ZM364.423 11.6431C363.943 11.6431 363.463 11.3812 363.23 10.93C362.881 10.2752 363.128 9.44566 363.783 9.0964C365.806 8.01951 367.902 7.00083 370.012 6.09857C370.711 5.80752 371.497 6.12768 371.788 6.81165C372.079 7.49562 371.759 8.29601 371.075 8.58706C369.037 9.46022 367.014 10.4352 365.064 11.4685C364.86 11.5994 364.627 11.6431 364.423 11.6431ZM423.41 7.3792C423.221 7.3792 423.017 7.33554 422.843 7.24822C420.922 6.34597 418.855 5.57468 416.672 4.93437C415.959 4.71608 415.537 3.9739 415.755 3.24627C415.973 2.53319 416.73 2.11117 417.443 2.32946C419.743 3.01343 421.955 3.82837 423.993 4.78884C424.677 5.109 424.968 5.90939 424.648 6.59336C424.415 7.08815 423.92 7.3792 423.41 7.3792ZM376.896 6.31686C376.329 6.31686 375.79 5.95305 375.601 5.3855C375.368 4.67242 375.761 3.90113 376.474 3.66829C378.672 2.95522 380.913 2.32946 383.14 1.83467C383.867 1.66004 384.595 2.12572 384.77 2.85335C384.93 3.58098 384.479 4.30861 383.751 4.48324C381.597 4.97802 379.443 5.57468 377.318 6.25865C377.173 6.30231 377.042 6.31686 376.896 6.31686ZM410.428 3.50821C410.356 3.50821 410.283 3.50821 410.21 3.49366C408.041 3.1444 405.815 2.91156 403.588 2.78059C402.846 2.73693 402.264 2.09662 402.307 1.33988C402.351 0.597701 402.991 0.0301506 403.748 0.0592557C406.062 0.190229 408.376 0.437623 410.632 0.801437C411.374 0.917857 411.884 1.61638 411.753 2.35856C411.665 3.04253 411.083 3.50821 410.428 3.50821ZM390.126 3.30448C389.456 3.30448 388.874 2.80969 388.787 2.12572C388.685 1.38354 389.209 0.699569 389.951 0.597701C392.236 0.292097 394.565 0.0883608 396.85 0.00104544C397.592 -0.0280597 398.232 0.554043 398.261 1.31078C398.29 2.05296 397.708 2.69327 396.951 2.72238C394.754 2.80969 392.512 2.99887 390.315 3.28993C390.242 3.30448 390.184 3.30448 390.126 3.30448Z"
                    fill="#95B2EE" />
                <path class="hidden"
                    d="M405.159 147.026C404.461 147.026 403.864 146.487 403.806 145.774C403.748 145.032 404.301 144.377 405.043 144.304C406.149 144.217 407.255 144.086 408.347 143.94C409.089 143.839 409.773 144.362 409.875 145.105C409.977 145.847 409.453 146.531 408.711 146.633C407.561 146.793 406.411 146.909 405.261 147.011C405.232 147.026 405.203 147.026 405.159 147.026Z"
                    fill="#95B2EE" />
                <path class="js-404"
                    d="M468.25 460.001V435.931H419.612V419.829L453.642 345.793H476.218L442.022 417.837H468.416L473.728 385.633H489.498V417.837H502.446V435.931H489.498V460.001H468.25ZM554.83 461.329C542.436 461.329 533.582 459.724 528.27 456.515C522.958 453.195 519.583 447.772 518.144 440.247C516.706 432.722 515.986 420.272 515.986 402.897C515.986 385.522 516.706 373.072 518.144 365.547C519.583 358.022 522.958 352.654 528.27 349.445C533.582 346.125 542.436 344.465 554.83 344.465C567.336 344.465 576.244 346.125 581.556 349.445C586.868 352.654 590.188 358.022 591.516 365.547C592.955 372.962 593.674 385.412 593.674 402.897C593.674 420.382 592.955 432.888 591.516 440.413C590.188 447.828 586.868 453.195 581.556 456.515C576.244 459.724 567.336 461.329 554.83 461.329ZM554.83 443.069C561.138 443.069 565.344 442.405 567.446 441.077C569.66 439.749 571.043 436.65 571.596 431.781C572.26 426.801 572.592 417.173 572.592 402.897C572.592 388.621 572.26 379.048 571.596 374.179C571.043 369.199 569.66 366.045 567.446 364.717C565.344 363.389 561.138 362.725 554.83 362.725C548.633 362.725 544.428 363.389 542.214 364.717C540.001 366.045 538.562 369.199 537.898 374.179C537.345 379.159 537.068 388.732 537.068 402.897C537.068 417.062 537.345 426.635 537.898 431.615C538.562 436.595 540.001 439.749 542.214 441.077C544.428 442.405 548.633 443.069 554.83 443.069ZM656.621 460.001V435.931H607.983V419.829L642.013 345.793H664.589L630.393 417.837H656.787L662.099 385.633H677.869V417.837H690.817V435.931H677.869V460.001H656.621Z"
                    fill="#37599F" />

                <path class="js-404"
                    d="M468.25 460.001V435.931H419.612V419.829L453.642 345.793H476.218L442.022 417.837H468.416L473.728 385.633H489.498V417.837H502.446V435.931H489.498V460.001H468.25ZM554.83 461.329C542.436 461.329 533.582 459.724 528.27 456.515C522.958 453.195 519.583 447.772 518.144 440.247C516.706 432.722 515.986 420.272 515.986 402.897C515.986 385.522 516.706 373.072 518.144 365.547C519.583 358.022 522.958 352.654 528.27 349.445C533.582 346.125 542.436 344.465 554.83 344.465C567.336 344.465 576.244 346.125 581.556 349.445C586.868 352.654 590.188 358.022 591.516 365.547C592.955 372.962 593.674 385.412 593.674 402.897C593.674 420.382 592.955 432.888 591.516 440.413C590.188 447.828 586.868 453.195 581.556 456.515C576.244 459.724 567.336 461.329 554.83 461.329ZM554.83 443.069C561.138 443.069 565.344 442.405 567.446 441.077C569.66 439.749 571.043 436.65 571.596 431.781C572.26 426.801 572.592 417.173 572.592 402.897C572.592 388.621 572.26 379.048 571.596 374.179C571.043 369.199 569.66 366.045 567.446 364.717C565.344 363.389 561.138 362.725 554.83 362.725C548.633 362.725 544.428 363.389 542.214 364.717C540.001 366.045 538.562 369.199 537.898 374.179C537.345 379.159 537.068 388.732 537.068 402.897C537.068 417.062 537.345 426.635 537.898 431.615C538.562 436.595 540.001 439.749 542.214 441.077C544.428 442.405 548.633 443.069 554.83 443.069ZM656.621 460.001V435.931H607.983V419.829L642.013 345.793H664.589L630.393 417.837H656.787L662.099 385.633H677.869V417.837H690.817V435.931H677.869V460.001H656.621Z"
                    fill="#37599F" id="path1165" />
                <path
                    style="fill:none;stroke:#000000;stroke-width:1px;stroke-linecap:butt;stroke-linejoin:miter;stroke-opacity:1"
                    d="m 409.13382,144.88957 c 0,0 -18.16365,2.80269 -31.24553,-0.80868 C 357.72324,138.51414 337.281,118.2107 333.22,105.303 329.159,92.3953 322.64411,64.6873 327.97111,52.2157 c 5.327,-12.4716 7.11287,-22.62748 28.753,-36.82882 C 378.36425,1.1855413 395.60873,1.8617955 407.78131,0.84741416 419.95389,-0.16696721 433.44298,11.666766 436.18399,19.782533 438.925,27.8983 438.78596,40.91816 434.83148,47.17083 430.877,53.4235 423.599,66.0843 411.447,72.1236 399.295,78.1629 383.34599,84.13806 361.92,84.4205 347.55602,84.609848 320.92211,79.803468 312.27387,75.653046 272.70796,56.664756 209.8771,-77.138401 244.12778,-69.821155"
                    class="js-airplane-path" />
            </svg>
        </div>
    </mat-menu>
</ng-container>