<ng-container *ngIf="!category">
  <h2 mat-dialog-title>Ajouter une categorie </h2>
  <mat-dialog-content class="mat-typography">

    <mat-form-field class="w-100" appearance="fill">
      <mat-label>Nom de la Categories</mat-label>
      <input type="text" matInput [(ngModel)]="category_name" required name="name">
    </mat-form-field>
    <mat-form-field class="w-100" appearance="fill">
      <mat-label>Nom Des Sous Categories</mat-label>
      <mat-chip-list #chipList aria-label="Fruit selection">
        <mat-chip *ngFor="let sub of sub_category" (removed)="removeCategory(sub)">
          {{sub}}
          <button matChipRemove>
            <mat-icon>cancel</mat-icon>
          </button>
        </mat-chip>
        <input placeholder="Nouvelle Sous Categories ..." [matChipInputFor]="chipList"
          [matChipInputSeparatorKeyCodes]="separatorKeysCodes" (matChipInputTokenEnd)="addCategory($event)">
      </mat-chip-list>
    </mat-form-field>
    <div class="containers">
      <div [ngStyle]="{'padding-bottom' : imagePreview ? '70%' : '26%'}"
        class="imageWrapper d-flex justify-content-md-center align-items-center">
        <ng-container *ngIf="!imagePreview">
          <input type="file" class="file-input" (change)="addFile($event)" accept="image/*">
          <div class="file-upload-text">
            <h3>ajouter une image</h3>
          </div>
        </ng-container>
        <ng-container *ngIf="imagePreview">
          <img class="image w-100 h-100" [src]="imagePreview" />
          <span class="removeSpan" (click)="removeFile()">remove</span>
        </ng-container>
      </div>
    </div>
    <div class="text-center">
      <button mat-flat-button color="primary" class="submit-button" (click)="submit()">Ajouter</button>
    </div>

  </mat-dialog-content>
</ng-container>
<ng-container *ngIf="category">
  <h2 mat-dialog-title>Modifier la categorie : {{category.name|uppercase}} </h2>
  <mat-dialog-content class="mat-typography">

    <mat-form-field class="w-100" appearance="fill">
      <mat-label>Nom de la Categories</mat-label>
      <input type="text" matInput [(ngModel)]="category_name" required name="name">
    </mat-form-field>
    <mat-form-field class="w-100" appearance="fill">
      <mat-label>Nom Des Sous Categories</mat-label>
      <mat-chip-list #chipList aria-label="Fruit selection">
        <mat-chip *ngFor="let sub of sub_category" (removed)="removeCategory(sub)">
          {{sub}}
          <button matChipRemove>
            <mat-icon>cancel</mat-icon>
          </button>
        </mat-chip>
        <input placeholder="Nouvelle Sous Categories ..." [matChipInputFor]="chipList"
          [matChipInputSeparatorKeyCodes]="separatorKeysCodes" (matChipInputTokenEnd)="addCategory($event)">
      </mat-chip-list>
    </mat-form-field>
    <div class="containers">
      <div [ngStyle]="{'padding-bottom' : imagePreview ? '70%' : '26%'}"
        class="imageWrapper d-flex justify-content-md-center align-items-center">
        <ng-container *ngIf="!imagePreview">
          <input type="file" class="file-input" (change)="addFile($event)" accept="image/*">
          <div class="file-upload-text">
            <h3>ajouter une image</h3>
          </div>
        </ng-container>
        <ng-container *ngIf="imagePreview">
          <img class="image w-100 h-100" [src]="imagePreview" />
          <span class="removeSpan" (click)="removeFile()">remove</span>
        </ng-container>
      </div>
    </div>
    <div class="text-center">
      <button mat-flat-button color="primary" class="submit-button" (click)="submit()">Modifier</button>
    </div>
  </mat-dialog-content>
</ng-container>