
a
    text-decoration: none
.product-sugestion-item
    display: flex
    height: 65px
.product-suggestion-image-block
    flex-shrink: 0
    width: 70px
.product-suggestion-image
    display: block
    position: relative
    width: 100%
    height: 100%
    object-fit: scale-down
.product-suggestion-info-block
    padding: 4px 0 5px
    margin: 0 10px
    width: 100%
.product-suggestion-name-block
    font-size: 15px
    line-height: 18px
.product-suggestion-meta-block
    display: flex
    align-items: center
    margin-top: 4px
.product-suggestion-quantity
    font-weight: 400
    color: #fff
    margin-right: -2.82352px
    position: relative
    height: 16px
    z-index: 0
    font-size: 11px
    padding: 0px 10.82352px 0

    &::before
        background: #3f51b5
        position: absolute
        display: block
        content: ""
        width: calc(100% - 4.82352px)
        height: 100%
        top: 0
        z-index: -1
        border-radius: 2.5px 3px
        left: 0
        transform: skewX(-20deg)
        transform-origin: left bottom
    &::after
        background: #3f51b5
        position: absolute
        display: block
        content: ""
        width: 8.32352px
        height: 100%
        top: 0
        z-index: -1
        left: 0
        border-top-left-radius: 2.5px
        border-bottom-left-radius: 2.5px
