<!--MOBILE HEADER START-->
<ng-container>
    <header class="site__mobile-header">
        <div class="mobile-header">
            <div class="container">
                <div class="mobile-header__body">
                    <button (click)="sideNav.toggle()" class="mobile-header__menu-button" type="button">
                        <svg width="18px" height="14px">
                            <path
                                d="M-0,8L-0,6L18,6L18,8L-0,8ZM-0,-0L18,-0L18,2L-0,2L-0,-0ZM14,14L-0,14L-0,12L14,12L14,14Z" />
                        </svg>
                    </button>
                    <a class="mobile-header__logo" routerLink="/client">
                        <!-- mobile-logo -->
                        <img src="assets/images/logo_SCODEP-1.png" class="img-fluid w-50" />
                        <!-- mobile-logo / end -->
                    </a>
                    <div
                        [ngClass]="!mobileSearchBarState ? 'mobile-header__search mobile-search' : 'mobile-header__search mobile-search mobile-header__search--open'">
                        <div class="mobile-search__body">
                            <input type="text" class="mobile-search__input" [matAutocomplete]="auto"
                                [(ngModel)]="searchBar" (keyup)="findProducts()" placeholder="Entrez le nom du produit">
                            <button type="button" [matMenuTriggerFor]="vehiculeMenu"
                                class="mobile-search__vehicle-picker" aria-label="Select Vehicle">
                                <svg width="20" height="20">
                                    <path d="M6.6,2c2,0,4.8,0,6.8,0c1,0,2.9,0.8,3.6,2.2C17.7,5.7,17.9,7,18.4,7C20,7,20,8,20,8v1h-1v7.5c0,0.8-0.7,1.5-1.5,1.5h-1
                                    c-0.8,0-1.5-0.7-1.5-1.5V16H5v0.5C5,17.3,4.3,18,3.5,18h-1C1.7,18,1,17.3,1,16.5V16V9H0V8c0,0,0.1-1,1.6-1C2.1,7,2.3,5.7,3,4.2
                                    C3.7,2.8,5.6,2,6.6,2z M13.3,4H6.7c-0.8,0-1.4,0-2,0.7c-0.5,0.6-0.8,1.5-1,2C3.6,7.1,3.5,7.9,3.7,8C4.5,8.4,6.1,9,10,9
                                    c4,0,5.4-0.6,6.3-1c0.2-0.1,0.2-0.8,0-1.2c-0.2-0.4-0.5-1.5-1-2C14.7,4,14.1,4,13.3,4z M4,10c-0.4-0.3-1.5-0.5-2,0
                                    c-0.4,0.4-0.4,1.6,0,2c0.5,0.5,4,0.4,4,0C6,11.2,4.5,10.3,4,10z M14,12c0,0.4,3.5,0.5,4,0c0.4-0.4,0.4-1.6,0-2c-0.5-0.5-1.3-0.3-2,0
                                    C15.5,10.2,14,11.3,14,12z" fill="white" />
                                </svg>
                                <span class="mobile-search__vehicle-picker-label">Vehicle</span>
                            </button>
                            <button type="submit" class="mobile-search__button mobile-search__button--search"
                                (click)="searchByString()">
                                <svg width="20" height="20">
                                    <path d="M19.2,17.8c0,0-0.2,0.5-0.5,0.8c-0.4,0.4-0.9,0.6-0.9,0.6s-0.9,0.7-2.8-1.6c-1.1-1.4-2.2-2.8-3.1-3.9C10.9,14.5,9.5,15,8,15
                                             c-3.9,0-7-3.1-7-7s3.1-7,7-7s7,3.1,7,7c0,1.5-0.5,2.9-1.3,4c1.1,0.8,2.5,2,4,3.1C20,16.8,19.2,17.8,19.2,17.8z M8,3C5.2,3,3,5.2,3,8
                                             c0,2.8,2.2,5,5,5c2.8,0,5-2.2,5-5C13,5.2,10.8,3,8,3z" />
                                </svg>
                            </button>
                            <button type="button" class="mobile-search__button mobile-search__button--close"
                                (click)="mobileSearchBar()">
                                <svg width="20" height="20">
                                    <path d="M16.7,16.7L16.7,16.7c-0.4,0.4-1,0.4-1.4,0L10,11.4l-5.3,5.3c-0.4,0.4-1,0.4-1.4,0l0,0c-0.4-0.4-0.4-1,0-1.4L8.6,10L3.3,4.7
                                                 c-0.4-0.4-0.4-1,0-1.4l0,0c0.4-0.4,1-0.4,1.4,0L10,8.6l5.3-5.3c0.4-0.4,1-0.4,1.4,0l0,0c0.4,0.4,0.4,1,0,1.4L11.4,10l5.3,5.3
                                                 C17.1,15.7,17.1,16.3,16.7,16.7z" />
                                </svg>
                            </button>
                            <div class="mobile-search__field"></div>
                        </div>
                    </div>
                    <div class="mobile-header__indicators">
                        <div class="mobile-indicator mobile-indicator--search d-md-none">
                            <button (click)="mobileSearchBar()" type="button" class="mobile-indicator__button">
                                <span class="mobile-indicator__icon">
                                    <svg width="20" height="20">
                                        <path d="M19.2,17.8c0,0-0.2,0.5-0.5,0.8c-0.4,0.4-0.9,0.6-0.9,0.6s-0.9,0.7-2.8-1.6c-1.1-1.4-2.2-2.8-3.1-3.9C10.9,14.5,9.5,15,8,15
                                                c-3.9,0-7-3.1-7-7s3.1-7,7-7s7,3.1,7,7c0,1.5-0.5,2.9-1.3,4c1.1,0.8,2.5,2,4,3.1C20,16.8,19.2,17.8,19.2,17.8z M8,3C5.2,3,3,5.2,3,8
                                                c0,2.8,2.2,5,5,5c2.8,0,5-2.2,5-5C13,5.2,10.8,3,8,3z" />
                                    </svg>
                                </span>
                            </button>
                        </div>
                        <div class="mobile-indicator">
                            <app-cart-button view="NavButton" screen="MOBILE"></app-cart-button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <mat-sidenav-container>
            <mat-sidenav #sideNav mode="over" [fixedInViewport]="true" fixedTopGap="47">
                <div class="mobile-menu__panel-body">
                    <div class="mobile-menu__divider"></div>
                    <div class="mobile-menu__indicators">
                        <app-auth view="MOBILE"></app-auth>
                        <a class="mobile-menu__indicator" routerLink="/user/dashboard/garage">
                            <span class="mobile-menu__indicator-icon">
                                <svg width="20" height="20">
                                    <path d="M6.6,2c2,0,4.8,0,6.8,0c1,0,2.9,0.8,3.6,2.2C17.7,5.7,17.9,7,18.4,7C20,7,20,8,20,8v1h-1v7.5c0,0.8-0.7,1.5-1.5,1.5h-1
                                             c-0.8,0-1.5-0.7-1.5-1.5V16H5v0.5C5,17.3,4.3,18,3.5,18h-1C1.7,18,1,17.3,1,16.5V16V9H0V8c0,0,0.1-1,1.6-1C2.1,7,2.3,5.7,3,4.2
                                             C3.7,2.8,5.6,2,6.6,2z M13.3,4H6.7c-0.8,0-1.4,0-2,0.7c-0.5,0.6-0.8,1.5-1,2C3.6,7.1,3.5,7.9,3.7,8C4.5,8.4,6.1,9,10,9
                                             c4,0,5.4-0.6,6.3-1c0.2-0.1,0.2-0.8,0-1.2c-0.2-0.4-0.5-1.5-1-2C14.7,4,14.1,4,13.3,4z M4,10c-0.4-0.3-1.5-0.5-2,0
                                             c-0.4,0.4-0.4,1.6,0,2c0.5,0.5,4,0.4,4,0C6,11.2,4.5,10.3,4,10z M14,12c0,0.4,3.5,0.5,4,0c0.4-0.4,0.4-1.6,0-2c-0.5-0.5-1.3-0.3-2,0
                                            C15.5,10.2,14,11.3,14,12z"></path>
                                </svg>
                            </span>
                            <span class="mobile-menu__indicator-title">Garage</span>
                        </a>
                    </div>
                    <div class="mobile-menu__divider"></div>
                    <ul class="mobile-menu__links">
                        <li data-mobile-menu-item="">
                            <a routerLink="/client" routerLinkActive="active" class="main-menu__link">Accueil</a>
                        </li>
                        <li data-mobile-menu-item="">
                            <a routerLink="/shop" routerLinkActive="active" class="main-menu__link">Boutique</a>
                        </li>
                        <li data-mobile-menu-item="">
                            <a routerLink="/client/about-us" routerLinkActive="active" class="main-menu__link">A
                                propos
                                de nous
                            </a>
                        </li>
                        <li data-mobile-menu-item="">
                            <a routerLink="/client/contact-us" routerLinkActive="active"
                                class="main-menu__link">Contactez nous</a>
                        </li>
                    </ul>
                </div>
            </mat-sidenav>
            <mat-sidenav-content>
                <ng-content select="[clientSideNavMobile]"></ng-content>
            </mat-sidenav-content>
        </mat-sidenav-container>
    </header>
</ng-container>
<!--MOBILE HEADER END-->

<!--WEB HEADER START-->
<ng-container>
    <header class="site__header">
        <div class="header">
            <div class="header__megamenu-area megamenu-area"></div>
            <div class="header__topbar-start-bg"></div>
            <div class="header__topbar-start">
            </div>
            <div class="header__topbar-end-bg"></div>
            <div class="header__topbar-end">

            </div>
            <div class="header__navbar">

                <div class="header__navbar-menu">
                    <div class="main-menu">
                        <ul class="main-menu__list">
                            <li class="main-menu__item main-menu__item--submenu--menu main-menu__item--has-submenu">
                                <a routerLink="/client" routerLinkActive="active" class="main-menu__link">Accueil</a>
                            </li>
                            <li class="main-menu__item main-menu__item--submenu--menu main-menu__item--has-submenu">
                                <a routerLink="/shop" routerLinkActive="active" class="main-menu__link">Boutique</a>
                            </li>
                            <li class="main-menu__item main-menu__item--submenu--menu main-menu__item--has-submenu">
                                <a routerLink="/client/about-us" routerLinkActive="active" class="main-menu__link">A
                                    propos
                                    de nous</a>
                            </li>
                            <li class="main-menu__item main-menu__item--submenu--menu main-menu__item--has-submenu">
                                <a routerLink="/client/contact-us" routerLinkActive="active"
                                    class="main-menu__link">Contactez nous</a>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
            <div class="header__logo">
                <a routerLink="/client" class="logo">
                    <!-- <div class="logo__slogan">Auto parts for Cars, trucks and motorcycles</div> -->
                    <div class="logo__image">
                        <!-- logo -->
                        <img src="assets/images/logo_SCODEP-1.png" class="img-fluid w-75" />
                        <!-- logo / end -->
                    </div>
                </a>
            </div>
            <div class="header__search">
                <div class="search">
                    <div class="search__body">
                        <div class="search__shadow"></div>
                        <input class="search__input" [matAutocomplete]="auto" [(ngModel)]="searchBar"
                            (keyup)="findProducts()" type="text" placeholder="Entrez le nom du produit">
                        <button class="search__button search__button--start" [matMenuTriggerFor]="vehiculeMenu"
                            type="button">
                            <span class="search__button-icon">
                                <svg width="20" height="20">
                                    <path d="M6.6,2c2,0,4.8,0,6.8,0c1,0,2.9,0.8,3.6,2.2C17.7,5.7,17.9,7,18.4,7C20,7,20,8,20,8v1h-1v7.5c0,0.8-0.7,1.5-1.5,1.5h-1
                                    c-0.8,0-1.5-0.7-1.5-1.5V16H5v0.5C5,17.3,4.3,18,3.5,18h-1C1.7,18,1,17.3,1,16.5V16V9H0V8c0,0,0.1-1,1.6-1C2.1,7,2.3,5.7,3,4.2
                                    C3.7,2.8,5.6,2,6.6,2z M13.3,4H6.7c-0.8,0-1.4,0-2,0.7c-0.5,0.6-0.8,1.5-1,2C3.6,7.1,3.5,7.9,3.7,8C4.5,8.4,6.1,9,10,9
                                    c4,0,5.4-0.6,6.3-1c0.2-0.1,0.2-0.8,0-1.2c-0.2-0.4-0.5-1.5-1-2C14.7,4,14.1,4,13.3,4z M4,10c-0.4-0.3-1.5-0.5-2,0
                                    c-0.4,0.4-0.4,1.6,0,2c0.5,0.5,4,0.4,4,0C6,11.2,4.5,10.3,4,10z M14,12c0,0.4,3.5,0.5,4,0c0.4-0.4,0.4-1.6,0-2c-0.5-0.5-1.3-0.3-2,0
                                    C15.5,10.2,14,11.3,14,12z" />
                                </svg>
                            </span>
                            <span class="search__button-title">Sélectionnez un véhicule</span>
                        </button>

                        <button class="search__button search__button--end" [disabled]="searchBar.length === 0"
                            (click)="searchByString()">
                            <span class="search__button-icon">
                                <svg width="20" height="20">
                                    <path d="M19.2,17.8c0,0-0.2,0.5-0.5,0.8c-0.4,0.4-0.9,0.6-0.9,0.6s-0.9,0.7-2.8-1.6c-1.1-1.4-2.2-2.8-3.1-3.9C10.9,14.5,9.5,15,8,15
                                    c-3.9,0-7-3.1-7-7s3.1-7,7-7s7,3.1,7,7c0,1.5-0.5,2.9-1.3,4c1.1,0.8,2.5,2,4,3.1C20,16.8,19.2,17.8,19.2,17.8z M8,3C5.2,3,3,5.2,3,8
                                    c0,2.8,2.2,5,5,5c2.8,0,5-2.2,5-5C13,5.2,10.8,3,8,3z" />
                                </svg>
                            </span>
                        </button>
                        <div class="search__box"></div>
                        <div class="search__decor">
                            <div class="search__decor-start"></div>
                            <div class="search__decor-end"></div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="header__indicators">
                <app-auth view="WEB"></app-auth>
                <app-cart-button view="NavButton" screen="WEB"></app-cart-button>
            </div>
        </div>
    </header>
    <ng-content select="[clientSideNavWeb]"></ng-content>
</ng-container>
<!--WEB HEADER END-->

<mat-menu #vehiculeMenu="matMenu">
    <div class="vehicle-picker__panel vehicle-picker__panel--list vehicle-picker__panel--active" data-panel="list">
        <div class="vehicle-picker__panel-body">
            <div class="vehicles-list">
                <div class="vehicles-list__body">
                    <label class="vehicles-list__item" *ngFor="let car of allCars;let i = index">
                        <mat-checkbox [(ngModel)]="checkCars[i].checked" (change)="queryByCar($event,car,i)"
                            color="primary"></mat-checkbox>
                        <span class="vehicles-list__item-info">
                            <span class="vehicles-list__item-name">{{car.Model}} {{car.Make}}
                                {{car.Year}}</span>
                            <span class="vehicles-list__item-details">{{car.Category}}</span>
                        </span>
                        <button type="button" class="vehicles-list__item-remove">
                            <svg width="16" height="16">
                                <path d="M2,4V2h3V1h6v1h3v2H2z M13,13c0,1.1-0.9,2-2,2H5c-1.1,0-2-0.9-2-2V5h10V13z">
                                </path>
                            </svg>
                        </button>
                    </label>
                </div>
            </div>
        </div>
    </div>
</mat-menu>
<mat-autocomplete #auto="matAutocomplete" [displayWith]="displayFn" (optionSelected)="productSelected($event)">
    <mat-option *ngFor="let product of sugestionProducts;let i = index" [value]="product"
        style="height: 90px;line-height:normal">
        <div class="product-sugestion-item">
            <div class="product-suggestion-image-block">
                <img class="product-suggestion-image" [src]="$any(product_image)[i] | async" />
            </div>
            <div class="product-suggestion-info-block">
                <div class="product-suggestion-name-block">
                    <span>{{product.name|uppercase}}</span>
                </div>
                <div class="product-suggestion-meta-block">
                    <div class="product-suggestion-quantity">{{product.quantity}}</div>
                    <div class="dropcart__item-price">{{product.price|number:'1.3'}} TND </div>
                </div>
            </div>
        </div>
    </mat-option>
</mat-autocomplete>