.mobile-header {
    background: #fff;
    box-shadow: 0 1px 3px rgba(0, 0, 0, .09);
    position: relative;
    z-index: 100
}

@media (min-width:1200px) {
    .mobile-header {
        display: none
    }
}

.mobile-header__body {
    height: 50px;
    display: -ms-flexbox;
    display: flex
}

.mobile-header__menu-button {
    width: 52px;
    height: 100%;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-align: center;
    align-items: center;
    -ms-flex-pack: center;
    justify-content: center;
    padding: 0;
    margin: 0;
    border: none;
    background: #fff;
    fill: #404040
}

.mobile-header__menu-button:hover {
    background: #f2f2f2
}

.mobile-header__menu-button:active {
    background: #ededed
}

.mobile-header__menu-button:focus {
    outline: none
}

.mobile-header__logo {
    display: -ms-flexbox;
    display: flex;
    -ms-flex-align: center;
    align-items: center;
    padding: 0 14px
}

.mobile-header__logo-part-one {
    fill: #1a79ff
}

.mobile-header__logo-part-two {
    fill: #404040
}

.mobile-header__search {
    display: -ms-flexbox;
    display: flex;
    -ms-flex-align: center;
    align-items: center;
    height: 50px;
    max-width: 440px;
    -ms-flex-positive: 1;
    flex-grow: 1;
    padding: 0 12px;
    margin: 0 auto
}

.mobile-header__indicators {
    display: -ms-flexbox;
    display: flex;
    margin-left: auto
}

@media (max-width:767.98px) {
    .mobile-header {
        position: relative
    }
    .mobile-header .container {
        padding: 0 8px
    }
    .mobile-header__menu-button {
        width: 44px
    }
    .mobile-header__logo {
        padding-left: 10px;
        padding-right: 10px
    }
    .mobile-header__search {
        top: 0;
        position: absolute;
        width: 100%;
        height: 100%;
        max-width: none;
        padding: 0;
        z-index: 1;
        transform: translateY(-100%);
        transition: transform .3s;
        left: 0
    }
    .mobile-header__search--open {
        transform: none
    }
}

.mobile-indicator {
    position: relative
}

.mobile-indicator__button {
    padding: 0;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-align: center;
    align-items: center;
    position: relative;
    -ms-flex-pack: center;
    justify-content: center;
    height: 50px;
    width: 44px;
    color: inherit;
    background: transparent;
    border: none
}

.mobile-indicator__button:focus {
    outline: none
}

.mobile-indicator__button:hover {
    color: inherit;
    text-decoration: none
}

.mobile-indicator__icon {
    display: block;
    position: relative
}

.mobile-indicator__icon svg {
    display: block;
    transform: scaleX(1)
}

.mobile-indicator__counter {
    position: absolute;
    top: -7px;
    font-size: 10px;
    line-height: 1;
    padding: 2px 3px 1px;
    border-radius: 6.5px;
    text-align: center;
    z-index: 0;
    right: -7px
}

.mobile-indicator__counter:before {
    display: block;
    position: absolute;
    content: "";
    top: 0;
    bottom: 0;
    z-index: -1;
    border-radius: 2.5px;
    left: 0;
    right: 0;
    transform: skewX(-11deg)
}

.mobile-indicator__title,
.mobile-indicator__value {
    display: block;
    margin-left: 50px
}

.mobile-indicator__title {
    padding-top: 3px;
    margin-bottom: -3px;
    font-size: 13px
}

.mobile-indicator__value {
    font-size: 18px
}

.mobile-indicator__icon {
    fill: #262626
}

.mobile-indicator__title {
    color: #999
}

.mobile-indicator__value {
    font-weight: 500
}

.mobile-indicator:hover .mobile-indicator__button {
    background: #f2f2f2
}

.mobile-indicator__counter {
    color: #fff;
    font-weight: 500
}

@media (-webkit-max-device-pixel-ratio:1),
(max-resolution:1dppx) {
    .mobile-indicator__counter {
        font-weight: 400
    }
}

.mobile-indicator__counter:before {
    background-color: #1a79ff
}

.mobile-menu {
    visibility: hidden;
    transition: visibility 0s .25s
}

.mobile-menu__backdrop {
    right: 0;
    background: rgba(51, 51, 51, .8);
    opacity: 0;
    will-change: opacity;
    transition: opacity .25s cubic-bezier(.25, .46, .45, .94)
}

.mobile-menu__backdrop,
.mobile-menu__body {
    position: fixed;
    left: 0;
    top: 0;
    bottom: 0;
    z-index: 1000
}

.mobile-menu__body {
    background: #fff;
    width: 300px;
    transition: transform .25s cubic-bezier(.25, .46, .45, .94);
    will-change: transform;
    overflow: hidden;
    transform: translateX(-100%)
}

.mobile-menu--open {
    visibility: visible;
    transition-delay: 0s
}

.mobile-menu--open .mobile-menu__backdrop {
    opacity: 1
}

.mobile-menu--open .mobile-menu__body {
    transform: translateX(0)
}

.mobile-menu__close {
    position: absolute;
    top: 0;
    width: 48px;
    height: 50px;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-align: center;
    align-items: center;
    -ms-flex-pack: center;
    justify-content: center;
    z-index: 2;
    border: none;
    padding: 0;
    fill: currentColor;
    transition: background-color .15s, color .15s;
    background-color: #fff;
    color: #ccc;
    right: 0
}

.mobile-menu__close:hover {
    background-color: #f2f2f2;
    color: #4d4d4d
}

.mobile-menu__close:active {
    background-color: #ebebeb;
    color: #4d4d4d
}

.mobile-menu__close:focus {
    outline: none
}

.mobile-menu__panel {
    display: -ms-flexbox;
    display: flex;
    position: absolute;
    left: 0;
    top: 0;
    right: 0;
    bottom: 0;
    -ms-flex-direction: column;
    flex-direction: column;
    background: #fff;
    z-index: 1;
    transition: transform .25s cubic-bezier(.25, .46, .45, .94)
}

.mobile-menu__panel--hide {
    transform: translateX(-100%)
}

.mobile-menu__panel--hidden {
    transform: translateX(100%)
}

.mobile-menu__panel-header {
    -ms-flex-negative: 0;
    flex-shrink: 0;
    height: 51px;
    border-bottom: 1px solid #ebebeb;
    padding-bottom: 2px;
    position: relative;
    -webkit-backface-visibility: hidden;
    backface-visibility: hidden
}

.mobile-menu__panel-back,
.mobile-menu__panel-header {
    display: -ms-flexbox;
    display: flex;
    -ms-flex-align: center;
    align-items: center
}

.mobile-menu__panel-back {
    position: absolute;
    top: 0;
    width: 48px;
    height: 50px;
    -ms-flex-pack: center;
    justify-content: center;
    z-index: 1;
    border: none;
    fill: currentColor;
    transition: background-color .15s, color .15s;
    background-color: #fff;
    color: #ccc;
    left: 0;
    padding: 0 2px 0 0
}

.mobile-menu__panel-back:hover {
    background-color: #f2f2f2;
    color: #4d4d4d
}

.mobile-menu__panel-back:active {
    background-color: #ebebeb;
    color: #4d4d4d
}

.mobile-menu__panel-back svg {
    transform: scaleX(1)
}

.mobile-menu__panel-back:focus {
    outline: none
}

.mobile-menu__panel-arrow {
    position: absolute
}

.mobile-menu__panel-title {
    text-align: center;
    margin: auto;
    font-size: 15px;
    font-weight: 500
}

.mobile-menu__panel-body {
    -ms-flex-positive: 1;
    flex-grow: 1;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-direction: column;
    flex-direction: column;
    overflow-y: auto;
    -webkit-backface-visibility: hidden;
    backface-visibility: hidden
}

.mobile-menu__divider {
    -ms-flex-negative: 0;
    flex-shrink: 0;
    height: 1px;
    background: #ebebeb
}

.mobile-menu__spring {
    -ms-flex-positive: 1;
    flex-grow: 1
}

.mobile-menu__indicators {
    display: -ms-flexbox;
    display: flex;
    padding: 8px 11px;
}

.mobile-menu__indicator {
    width: calc((100% - 0px * 3) / 4);
    display: -ms-flexbox;
    display: flex;
    -ms-flex-direction: column;
    flex-direction: column;
    -ms-flex-align: center;
    align-items: center;
    fill: #404040;
    border-radius: 2px;
    padding: 8px 0 6px;
    margin: 16px;
}

.mobile-menu__indicator:hover {
    background: #f2f2f2
}

.mobile-menu__indicator+.mobile-menu__indicator {
    margin-left: 0
}

.mobile-menu__indicator-title {
    font-size: 9px;
    font-weight: 500;
    text-transform: uppercase;
    color: #999;
    margin-top: 5px
}

.mobile-menu__indicator-icon {
    position: relative
}

.mobile-menu__indicator-icon svg {
    display: block
}

.mobile-menu__indicator-counter {
    position: absolute;
    bottom: calc(100% - 7px);
    color: #fff;
    font-size: 10px;
    line-height: 1;
    padding: 2px 3px 1px;
    border-radius: 6.5px;
    text-align: center;
    z-index: 0;
    font-weight: 500;
    left: calc(100% - 4px)
}

@media (-webkit-max-device-pixel-ratio:1),
(max-resolution:1dppx) {
    .mobile-menu__indicator-counter {
        font-weight: 400
    }
}

.mobile-menu__indicator-counter:before {
    display: block;
    position: absolute;
    content: "";
    left: 0;
    top: 0;
    right: 0;
    bottom: 0;
    background-color: #1a79ff;
    z-index: -1;
    border-radius: 2.5px;
    transform: skewX(-11deg)
}

.mobile-menu__links {
    list-style: none;
    padding: 10px 0;
    margin: 0;
    font-size: 15px;
    line-height: 22px;
    font-weight: 500
}

.mobile-menu__links>li>a,
.mobile-menu__links>li>button {
    position: relative;
    color: inherit;
    width: 100%;
    border: none;
    background: transparent;
    font-family: inherit;
    font-size: inherit;
    font-weight: inherit;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-align: center;
    align-items: center;
    padding: 7px 33px 7px 20px;
    text-align: left
}

.mobile-menu__links>li>a:hover,
.mobile-menu__links>li>button:hover {
    background: #f2f2f2
}

.mobile-menu__links>li>a:focus,
.mobile-menu__links>li>button:focus {
    outline: none
}

.mobile-menu__links>li>a svg,
.mobile-menu__links>li>button svg {
    position: absolute;
    top: calc(50% - 6px);
    fill: #bfbfbf;
    right: 16px;
    transform: scaleX(1)
}

.mobile-menu__links>li>a.highlight:before,
.mobile-menu__links>li>button.highlight:before {
    position: absolute;
    display: block;
    content: "";
    width: 5px;
    height: 5px;
    border-radius: 2.5px;
    background: #1a79ff;
    top: 15px;
    left: 8px
}

.mobile-menu__links-image {
    display: block;
    width: 22px;
    height: 16px;
    border-radius: 1.5px;
    position: relative;
    overflow: hidden;
    -ms-flex-negative: 0;
    flex-shrink: 0;
    margin-right: 9px
}

.mobile-menu__links-image img {
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translateX(-50%) translateY(-50%)
}

.mobile-menu__contacts {
    text-align: center;
    padding: 16px 20px 14px;
    transition: background .2s
}

.mobile-menu__contacts:hover {
    background: #f2f2f2
}

.mobile-menu__contacts,
.mobile-menu__contacts:hover {
    color: inherit
}

.mobile-menu__contacts-subtitle {
    font-size: 13px;
    color: #999
}

.mobile-menu__contacts-title {
    font-size: 18px;
    font-weight: 500
}

.mobile-menu__settings-list {
    display: -ms-flexbox;
    display: flex
}

.mobile-menu__setting {
    -ms-flex-preferred-size: 0;
    flex-basis: 0;
    -ms-flex-positive: 1;
    flex-grow: 1;
    width: 50%
}

.mobile-menu__setting+.mobile-menu__setting {
    border-left: 1px solid #ebebeb
}

.mobile-menu__setting-button {
    background: transparent;
    border: none;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-align: center;
    align-items: center;
    -ms-flex-pack: center;
    justify-content: center;
    font-family: inherit;
    color: inherit;
    position: relative;
    width: 100%;
    padding: 9px 26px 9px 14px
}

.mobile-menu__setting-button:hover {
    background: #f2f2f2
}

.mobile-menu__setting-button:focus {
    outline: none
}

.mobile-menu__setting-panel {
    display: none
}

.mobile-menu__setting-icon {
    display: block;
    width: 22px;
    height: 16px;
    border-radius: 1.5px;
    position: relative;
    overflow: hidden;
    -ms-flex-negative: 0;
    flex-shrink: 0;
    margin-right: 7px
}

.mobile-menu__setting-icon img {
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translateX(-50%) translateY(-50%)
}

.mobile-menu__setting-icon--currency {
    background: #5c6266;
    color: #fff;
    font-size: 10px;
    line-height: 16px
}

.mobile-menu__setting-title {
    font-size: 13px;
    font-weight: 500;
    line-height: 16px;
    overflow: hidden;
    text-overflow: ellipsis;
    text-align: left
}

.mobile-menu__setting-arrow {
    position: absolute;
    top: calc(50% - 5px);
    fill: #bfbfbf;
    right: 12px;
    transform: scaleX(1)
}

.mobile-menu__setting-arrow svg {
    display: block
}

.mobile-search__body {
    display: -ms-flexbox;
    display: flex;
    position: relative;
    z-index: 0;
    width: 100%
}

.mobile-search__button,
.mobile-search__input {
    background: transparent;
    border: none;
    font-family: inherit;
    color: inherit
}

.mobile-search__button:focus,
.mobile-search__input:focus {
    outline: none
}

.mobile-search__input {
    -ms-flex-positive: 1;
    flex-grow: 1;
    font-size: 15px
}

.mobile-search__field {
    position: absolute;
    left: 0;
    top: 0;
    right: 0;
    bottom: 0;
    pointer-events: none;
    z-index: -1;
    transition: color .2s, background .2s, border-color .2s
}

.mobile-search__button {
    width: 38px;
    padding: 0;
    transition: color .2s;
    fill: currentColor
}

.mobile-search__button,
.mobile-search__vehicle-picker {
    -ms-flex-negative: 0;
    flex-shrink: 0;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-align: center;
    align-items: center;
    -ms-flex-pack: center;
    justify-content: center
}

.mobile-search__vehicle-picker {
    -ms-flex-order: -1;
    order: -1;
    background: #3f51b5;
    color: white;
    min-width: 44px;
    padding: 0 12px;
    white-space: nowrap;
    font-size: 15px;
    font-weight: 500;
    border-radius: 2.5px;
    border: none;
    transition: color .15s, background-color .15s
}

.mobile-search__vehicle-picker:hover {
    background: #3f51b5
}

.mobile-search__vehicle-picker:active {
    background: #3f51b5
}

.mobile-search__vehicle-picker:focus {
    outline: none
}

.vehicle-picker__panel-body .mobile-search__vehicle-picker svg {
    -ms-flex-negative: 0;
    flex-shrink: 0;
    fill: white
}

.mobile-search__vehicle-picker svg+.mobile-search__vehicle-picker-label {
    margin-left: 8px
}

@media (min-width:768px) {
    .mobile-search__input {
        height: 36px;
        padding: 0 11px;
        border-radius: 3px;
        transition: color .2s, background .2s, border-color .2s;
        color: #262626;
        background-color: #f0f0f0;
        border: 1px solid #f0f0f0;
        padding-left: 11px;
        padding-right: 37px
    }
    .mobile-search__input::-webkit-input-placeholder {
        color: #6c757d
    }
    .mobile-search__input::-moz-placeholder {
        color: #6c757d
    }
    .mobile-search__input:-ms-input-placeholder,
    .mobile-search__input::-ms-input-placeholder {
        color: #6c757d
    }
    .mobile-search__input::placeholder {
        color: #6c757d
    }
    .mobile-search__input:hover {
        border-color: #d9d9d9
    }
    .mobile-search__input:focus {
        background-color: #fff;
        border-color: #d9d9d9
    }
    .mobile-search__button--close {
        display: none
    }
    .mobile-search__button--search {
        position: absolute;
        top: 0;
        height: 100%;
        right: 0
    }
    .mobile-search__vehicle-picker {
        margin-right: 6px
    }
    .mobile-search__button--search {
        color: #b2b2b2
    }
    .mobile-search__button--search:hover {
        color: #1a79ff
    }
}

@media (min-width:768px) and (max-width:991.98px) {
    .mobile-search__vehicle-picker-label {
        display: none
    }
}

@media (max-width:767.98px) {
    .mobile-search__body {
        height: 100%
    }
    .mobile-search__input {
        -ms-flex-preferred-size: 0;
        flex-basis: 0;
        width: 0;
        padding: 0 0 0 12px
    }
    .mobile-search__button {
        width: 52px
    }
    .mobile-search__button--close {
        border-width: 0;
        border-style: solid;
        border-left-width: 1px
    }
    .mobile-search__input {
        color: #262626
    }
    .mobile-search__input::-webkit-input-placeholder {
        color: #6c757d
    }
    .mobile-search__input::-moz-placeholder {
        color: #6c757d
    }
    .mobile-search__input:-ms-input-placeholder,
    .mobile-search__input::-ms-input-placeholder {
        color: #6c757d
    }
    .mobile-search__input::placeholder {
        color: #6c757d
    }
    .mobile-search__input~.mobile-search__field {
        background: #fff
    }
    .mobile-search__input~.mobile-search__button--close {
        border-color: #ebebeb
    }
    .mobile-search__button {
        color: #b2b2b2
    }
    .mobile-search__button:hover {
        color: #1a79ff
    }
    .mobile-search__vehicle-picker {
        margin: 8px 0;
        margin-left: 8px
    }
}

@media (max-width:440px) {
    .mobile-search__vehicle-picker-label {
        display: none
    }
}

.account-menu {
    width: 280px;
    background-color: #fff;
    box-shadow: 0 2px 20px rgba(0, 0, 0, .2);
    border-radius: 1.5px;
    color: #262626
}

.account-menu__form {
    padding: 0 30px 32px
}

.account-menu__form-title {
    text-align: center;
    padding: 32px 0 26px;
    font-weight: 500
}

.account-menu__form-button {
    margin-top: 32px;
    text-align: center
}

.account-menu__form-button .btn {
    padding-left: 28px;
    padding-right: 28px
}

.account-menu__form-link {
    font-size: 14px;
    text-align: center
}

.account-menu__form-link a {
    color: #6c757d;
    transition: color .1s
}

.account-menu__form-link a:hover {
    color: inherit
}

.account-menu__form-forgot {
    position: relative
}

.account-menu__form-forgot-link {
    position: absolute;
    top: 5px;
    bottom: 5px;
    border-radius: 2px;
    font-size: 12px;
    background: fff;
    color: #6c757d;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-align: center;
    align-items: center;
    padding: 0 7px;
    transition: background .1s, color .1s;
    right: 5px
}

.account-menu__form-forgot-link:hover {
    background: #333;
    color: #fff
}

.account-menu__form-forgot-link:active {
    background: #4d4d4d;
    color: #fff
}

.account-menu__divider {
    height: 1px;
    background: #ebebeb
}

.account-menu__user {
    display: -ms-flexbox;
    display: flex;
    -ms-flex-align: center;
    align-items: center;
    padding: 14px 20px;
    color: inherit
}

.account-menu__user:hover {
    color: inherit;
    background: #f2f2f2
}

.account-menu__user-avatar {
    width: 44px;
    -ms-flex-negative: 0;
    flex-shrink: 0;
    margin-right: 14px
}

.account-menu__user-avatar img {
    border-radius: 100%;
    max-width: 100%
}

.account-menu__user-info {
    display: -ms-flexbox;
    display: flex;
    -ms-flex-direction: column;
    flex-direction: column;
    -ms-flex-pack: center;
    justify-content: center
}

.account-menu__user-name {
    font-size: 15px;
    line-height: 20px
}

.account-menu__user-email {
    font-size: 14px;
    line-height: 18px;
    color: #6c757d;
    margin-top: 1px
}

.account-menu__links {
    list-style: none;
    padding: 12px 0;
    margin: 0
}

.account-menu__links a {
    display: block;
    color: inherit;
    font-size: 15px;
    padding: 5px 20px;
    font-weight: 500
}

.account-menu__links a:hover {
    background: #f2f2f2
}

.departments {
    position: relative
}

.departments__button {
    position: relative;
    fill: currentColor;
    border: none;
    border-radius: 2px;
    font-family: inherit;
    font-size: 15px;
    transition: background-color .2s, color .2s;
    padding: 5px 11px 5px 35px;
    text-align: left
}

.departments__button:focus {
    outline: none
}

.departments__button-icon {
    top: 10px;
    position: absolute;
    fill: currentColor;
    display: inline-block;
    transition: color .2s;
    left: 10px;
    transform: scaleX(1)
}

.departments__button-icon svg {
    display: block
}

.departments__button-arrow {
    display: none;
    fill: currentColor;
    position: absolute;
    top: calc(50% - 4px);
    transition: transform .2s, color .2s;
    right: 14px
}

.departments__button-arrow svg {
    display: block
}

.departments__menu {
    position: absolute;
    z-index: 1;
    visibility: hidden;
    opacity: 0;
    top: 100%;
    transform: translateY(-10px);
    transition: opacity .2s, transform .2s, visibility 0s .2s
}

.departments__body {
    border-radius: 1.5px;
    pointer-events: auto;
    display: -ms-flexbox;
    display: flex;
    background-color: #fff;
    box-shadow: 0 2px 20px rgba(0, 0, 0, .2);
    color: #262626;
    float: left
}

.departments__list {
    -ms-flex-negative: 0;
    flex-shrink: 0;
    list-style: none;
    margin: 0;
    padding: 0;
    font-size: 15px;
    line-height: 20px;
    font-weight: 500
}

.departments__item-link {
    color: inherit;
    display: block;
    position: relative
}

.departments__item-arrow {
    fill: #bfbfbf;
    position: absolute;
    top: calc(50% - 6px)
}

.departments__item-arrow svg {
    display: block
}

.departments__item-menu {
    display: none
}

.departments__item--hover .departments__item-link {
    background: #f2f2f2;
    color: inherit
}

.departments__megamenu {
    min-height: 100%;
    display: none;
    box-shadow: inset 1px 0 #ebebeb
}

.departments__megamenu--open {
    display: block
}

.departments__arrow {
    position: absolute;
    width: 31px;
    height: 21px;
    pointer-events: none;
    bottom: 100%;
    overflow: hidden
}

.departments__arrow:before {
    position: absolute;
    display: block;
    content: "";
    width: 7px;
    height: 7px;
    top: 100%;
    margin-top: -3.5px;
    background-color: #fff;
    box-shadow: 0 2px 20px rgba(0, 0, 0, .2);
    border-radius: 1px;
    left: 50%;
    margin-left: -3.5px;
    transform: rotate(45deg) translateX(-.5px) translateY(-.5px)
}

.departments--open .departments__menu {
    transition-delay: 0s;
    visibility: visible;
    opacity: 1;
    transform: translateY(0)
}

.departments--open .departments__button-arrow {
    transform: rotate(180deg)
}

@media (min-width:1200px) and (max-width:1399.98px) {
    .departments__button {
        height: 32px;
        display: block;
        padding-right: 0
    }
    .departments__button-title {
        display: none
    }
}

@media (min-width:1400px) {
    .departments__list {
        width: 230px
    }
    .departments__list-padding {
        height: 14px
    }
    .departments__item-link {
        padding: 7px 29px 7px 20px
    }
    .departments__item-arrow {
        right: 14px;
        transform: scaleX(1)
    }
    .departments__megamenu {
        padding: 27px 30px 30px
    }
    .departments__megamenu--size--xl {
        width: 1120px
    }
    .departments__megamenu--size--lg {
        width: 902px
    }
    .departments__megamenu--size--md {
        width: 684px
    }
    .departments__megamenu--size--nl {
        width: 466px
    }
    .departments__megamenu--size--sm {
        width: 248px
    }
}

@media (min-width:1200px) and (max-width:1399.98px) {
    .departments__list {
        width: 210px
    }
    .departments__list-padding {
        height: 10px
    }
    .departments__item-link {
        padding: 6px 26px 6px 17px
    }
    .departments__item-arrow {
        right: 11px;
        transform: scaleX(1)
    }
    .departments__megamenu {
        padding: 17px 20px 20px
    }
    .departments__megamenu .row {
        margin: 0 -10px
    }
    .departments__megamenu .col,
    .departments__megamenu .col-1,
    .departments__megamenu .col-1of1,
    .departments__megamenu .col-1of2,
    .departments__megamenu .col-1of3,
    .departments__megamenu .col-1of4,
    .departments__megamenu .col-1of5,
    .departments__megamenu .col-2,
    .departments__megamenu .col-3,
    .departments__megamenu .col-4,
    .departments__megamenu .col-5,
    .departments__megamenu .col-6,
    .departments__megamenu .col-7,
    .departments__megamenu .col-8,
    .departments__megamenu .col-9,
    .departments__megamenu .col-10,
    .departments__megamenu .col-11,
    .departments__megamenu .col-12 {
        padding: 0 10px
    }
    .departments__megamenu--size--xl {
        width: 910px
    }
    .departments__megamenu--size--lg {
        width: 732px
    }
    .departments__megamenu--size--md {
        width: 554px
    }
    .departments__megamenu--size--nl {
        width: 376px
    }
    .departments__megamenu--size--sm {
        width: 198px
    }
}

.departments__button {
    background: #fff;
    color: #262626;
    font-weight: 500
}

.departments__button .departments__button-icon {
    color: #404040
}

.departments__button .departments__button-arrow {
    color: #bfbfbf
}

.departments--open .departments__button,
.departments__button:hover {
    background: #1a79ff;
    color: #fff
}

.departments--open .departments__button .departments__button-icon,
.departments__button:hover .departments__button-icon {
    color: #fff
}

.departments--open .departments__button .departments__button-arrow,
.departments__button:hover .departments__button-arrow {
    color: rgba(0, 0, 0, .25)
}

.dropcart {
    width: 320px;
    background-color: #fff;
    box-shadow: 0 2px 20px rgba(0, 0, 0, .2);
    border-radius: 1.5px;
    padding: 24px;
    color: #262626
}

.dropcart__list {
    list-style: none;
    padding: 0;
    margin: -8px 0 0
}

.dropcart__divider {
    height: 1px;
    background: #ebebeb;
    margin: 8px 0
}

.dropcart__item {
    display: -ms-flexbox;
    display: flex
}

.dropcart__item-image {
    -ms-flex-negative: 0;
    flex-shrink: 0;
    width: 70px
}

.dropcart__item-info {
    padding: 4px 0 5px;
    margin: 0 10px
}

.dropcart__item-name {
    font-size: 15px;
    line-height: 18px
}

.dropcart__item-name a {
    color: inherit;
    transition: color .2s
}

.dropcart__item-name a:hover {
    color: #0064f0
}

.dropcart__item-features {
    list-style: none;
    padding: 0;
    margin-top: 2px;
    font-size: 13px;
    line-height: 17px;
    color: #6c757d
}

.dropcart__item-meta {
    margin-top: 4px
}

.dropcart__item-meta,
.dropcart__item-remove {
    display: -ms-flexbox;
    display: flex;
    -ms-flex-align: center;
    align-items: center
}

.dropcart__item-remove {
    -ms-flex-negative: 0;
    flex-shrink: 0;
    width: 26px;
    height: 26px;
    border-radius: 13px;
    -ms-flex-pack: center;
    justify-content: center;
    padding: 0;
    border: none;
    fill: currentColor;
    background-color: #fff;
    color: #ccc;
    margin-right: -13px
}

.dropcart__item-remove:hover {
    background-color: #f2f2f2;
    color: #999
}

.dropcart__item-remove:active {
    background-color: #ebebeb;
    color: gray
}

.dropcart__item-remove:focus {
    outline: none
}

.dropcart__item-price,
.dropcart__item-quantity {
    position: relative;
    height: 16px;
    z-index: 0;
    font-size: 11px;
    padding: 1px 10.82352px 0
}

.dropcart__item-price:before,
.dropcart__item-quantity:before {
    position: absolute;
    display: block;
    content: "";
    width: calc(100% - 5.82352px);
    height: 100%;
    top: 0;
    z-index: -1;
    border-radius: 2.5px 3px;
    left: 0;
    transform: skewX(-20deg);
    transform-origin: left bottom
}

.dropcart__item-quantity {
    color: #fff;
    font-weight: 500;
    padding-left: 6px;
    margin-right: -2.82352px
}

@media (-webkit-max-device-pixel-ratio:1),
(max-resolution:1dppx) {
    .dropcart__item-quantity {
        font-weight: 400
    }
}

.dropcart__item-quantity:after,
.dropcart__item-quantity:before {
    background: #1a79ff
}

.dropcart__item-quantity:after {
    position: absolute;
    display: block;
    content: "";
    width: 8.32352px;
    height: 100%;
    top: 0;
    z-index: -1;
    left: 0;
    border-top-left-radius: 2.5px;
    border-bottom-left-radius: 2.5px
}

.dropcart__item-price {
    color: #262626;
    font-weight: 500
}

.dropcart__item-price:before {
    background: #ebebeb
}

.dropcart__totals {
    font-size: 15px;
    margin-top: 18px;
    margin-bottom: 24px
}

.dropcart__totals table {
    width: 100%
}

.dropcart__totals td,
.dropcart__totals th {
    padding: 0
}

.dropcart__totals th {
    font-weight: 500
}

.dropcart__totals td {
    text-align: right
}

.dropcart__totals tr+tr>* {
    padding-top: 4px
}

.dropcart__actions {
    display: -ms-flexbox;
    display: flex
}

.dropcart__actions>* {
    -ms-flex-positive: 1;
    flex-grow: 1
}

.dropcart__actions>*+* {
    margin-left: 8px
}

.header {
    display: grid;
    grid-template-columns: calc(75% / 2 - 1350px / 2) 1fr auto 1fr calc(75% / 2 - 1350px / 2);
    grid-template-rows: 30px auto
}

@media (min-width:1200px) and (max-width:1399.98px) {
    .header {
        grid-template-columns: calc(75% / 2 - 1110px / 2) 1fr auto 1fr calc(75% / 2 - 1110px / 2)
    }
}

.header__megamenu-area {
    grid-column: 2/5;
    grid-row: 1
}

.header__topbar-start-bg {
    grid-column: 1/3;
    grid-row: 1
}

.header__topbar-end-bg {
    grid-column: 4/6;
    grid-row: 1
}

.header__topbar-start {
    grid-column: 2;
    grid-row: 1
}

.header__topbar-end {
    grid-column: 4;
    grid-row: 1
}

.header__navbar {
    grid-column: 2;
    grid-row: 2
}

.header__logo {
    grid-column: 3;
    grid-row: 1/3
}

.header__search {
    grid-column: 3/3;
    grid-row: 1/3
}

.header__indicators {
    grid-column: 4;
    grid-row: 2
}

.header {
    position: relative;
    z-index: 10
}

@media (max-width:1199.98px) {
    .header {
        display: none
    }
}

.header__navbar {
    -ms-flex-item-align: center;
    align-self: center;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-align: center;
    align-items: center
}

.header__topbar-end-bg,
.header__topbar-start-bg {
    height: 100%;
    overflow: hidden
}

.header__topbar-end-bg:before,
.header__topbar-start-bg:before {
    display: block;
    content: "";
    width: 100%;
    height: 100%
}

.header__topbar-end,
.header__topbar-start {
    z-index: 1
}

.header__topbar-start {
    padding-right: 20px
}

.header__topbar-end {
    padding-left: 20px
}

.header__navbar {
    padding: 10px 0
}

.header__navbar-departments,
.header__navbar-menu {
    z-index: 2
}

.header__indicators {
    -ms-flex-item-align: center;
    align-self: center;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-pack: end;
    justify-content: flex-end;
    padding: 10px 0
}

.header__indicators .indicator+.indicator {
    margin-left: 4px
}

.header__topbar-start-bg:before {
    border-bottom-right-radius: 2.5px;
    transform: skewX(-30deg);
    transform-origin: top right
}

.header__topbar-end-bg:before {
    border-bottom-left-radius: 2.5px;
    transform: skewX(30deg);
    transform-origin: top left
}

.header__logo {
    padding: 0 20px;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-align: stretch;
    align-items: stretch
}

.header__navbar {
    min-height: 80px
}

.header__search {
    position: absolute;
    -ms-flex-item-align: end;
    align-self: flex-end;
    justify-self: center;
    bottom: -23px;
    width: 480px
}

@media (min-width:1200px) and (max-width:1399.98px) {
    .header__search {
        width: 440px
    }
}

.header {
    color: #262626;
    background: #fff;
    box-shadow: 0 1px 3px rgba(0, 0, 0, .09)
}

.header__topbar-start-bg:before {
    background: #3f51b5
}

.header__topbar-end-bg:before {
    background: #3f51b5
}

.header__logo {
    padding-bottom: 22px
}

.indicator {
    position: relative
}

.indicator__button {
    padding: 3px;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-direction: column;
    flex-direction: column;
    position: relative;
    height: 54px;
    min-width: 54px;
    color: inherit;
    border-radius: 2px;
    background: transparent;
    border: none;
    padding-right: 12px
}

.indicator__button:focus {
    outline: none
}

.indicator__button:hover {
    color: inherit;
    text-decoration: none
}

.indicator__icon {
    position: absolute;
    padding: 8px;
    display: block;
    width: 48px;
    height: 48px
}

.indicator__icon svg {
    display: block;
    transform: scaleX(1)
}

.indicator__counter {
    position: absolute;
    top: 5px;
    font-size: 10px;
    line-height: 1;
    padding: 2px 3px 1px;
    border-radius: 6.5px;
    text-align: center;
    z-index: 0;
    right: 4px
}

.indicator__counter:before {
    display: block;
    position: absolute;
    content: "";
    top: 0;
    bottom: 0;
    z-index: -1;
    border-radius: 2.5px;
    left: 0;
    right: 0;
    transform: skewX(-11deg)
}

.indicator__title,
.indicator__value {
    display: block;
    margin-left: 50px
}

.indicator__title {
    padding-top: 3px;
    margin-bottom: -3px;
    font-size: 13px
}

.indicator__value {
    font-size: 18px
}

.indicator__content {
    top: 100%;
    position: absolute;
    visibility: hidden;
    transform-origin: top;
    transform: rotateX(60deg);
    opacity: 0;
    transition: transform .2s, opacity .2s, visibility 0s .2s;
    right: 0
}

.indicator--trigger--click.indicator--open .indicator__content,
.indicator--trigger--hover:hover .indicator__content {
    z-index: 1;
    transition-delay: 0s, 0s, 0s;
    opacity: 1;
    visibility: visible;
    transform: rotateX(0deg)
}

.indicator--mobile .indicator__button {
    padding: 0 0 2px;
    height: 50px;
    width: 44px;
    min-width: auto;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-align: center;
    align-items: center;
    -ms-flex-pack: center;
    justify-content: center;
    border-radius: 0
}

.indicator--mobile .indicator__icon {
    padding: 0;
    position: relative;
    height: auto;
    width: auto
}

.indicator--mobile .indicator__counter {
    top: -7px;
    right: -7px
}

.indicator__icon {
    fill: #262626
}

.indicator__title {
    color: #999
}

.indicator__value {
    font-weight: 500
}

.indicator--open .indicator__button,
.indicator:hover .indicator__button {
    background: #f2f2f2
}

.indicator__counter {
    color: #fff;
    font-weight: 500
}

@media (-webkit-max-device-pixel-ratio:1),
(max-resolution:1dppx) {
    .indicator__counter {
        font-weight: 400
    }
}

.indicator__counter:before {
    background-color: #1a79ff
}

.logo__slogan {
    padding-top: 11px;
    font-size: 11px;
    line-height: 1;
    text-transform: uppercase
}

.logo__image {
    -ms-flex-align: center;
    align-items: center;
    height: 50px
}

.logo,
.logo__image {
    display: -ms-flexbox;
    display: flex
}

.logo {
    -ms-flex-direction: column;
    flex-direction: column
}

.logo__image {
    -ms-flex-pack: center;
    justify-content: center;
    -ms-flex-positive: 1;
    flex-grow: 1
}

.logo__slogan {
    color: #999;
    font-weight: 500
}

.logo__part-primary {
    fill: #1a79ff
}

.logo__part-secondary {
    fill: #404040
}

.main-menu {
    height: 100%
}

.main-menu__list {
    position: relative;
    list-style: none;
    padding: 0;
    margin: 0;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    height: 100%
}

.main-menu__link {
    display: block;
    padding: 5px 11px;
    border-radius: 2px;
    color: inherit;
    white-space: nowrap;
    font-size: 15px
}

.main-menu__link:hover {
    color: inherit
}

.main-menu__submenu {
    color: #262626
}

.main-menu__item--has-submenu .main-menu__link {
    position: relative;
    padding-right: 23px
}

.main-menu__item--has-submenu .main-menu__link svg {
    top: 14px;
    position: absolute;
    fill: currentColor;
    right: 10px
}

.main-menu__item--submenu--menu {
    position: relative
}

.main-menu__item--submenu--menu .main-menu__submenu {
    position: absolute;
    z-index: 1;
    top: 100%;
    opacity: 0;
    visibility: hidden;
    transform-origin: top;
    transform: rotateX(45deg);
    transition: transform .2s, opacity .2s;
    left: 0
}

.main-menu__item--submenu--menu:hover .main-menu__submenu {
    visibility: visible;
    opacity: 1;
    transform: rotateX(0)
}

.main-menu__item--submenu--megamenu .main-menu__submenu {
    position: absolute;
    z-index: 1;
    opacity: 0;
    visibility: hidden;
    transform-origin: top;
    transform: rotateX(45deg);
    transition: transform .2s, opacity .2s
}

.main-menu__item--submenu--megamenu:hover .main-menu__submenu {
    visibility: visible;
    opacity: 1;
    transform: rotateX(0)
}

.main-menu__megamenu {
    padding: 26px 30px 30px;
    background-color: #fff;
    box-shadow: 0 2px 20px rgba(0, 0, 0, .2)
}

@media (min-width:1400px) {
    .main-menu__megamenu--size--xxl {
        width: 1350px
    }
}

@media (min-width:1200px) and (max-width:1399.98px) {
    .main-menu__megamenu--size--xxl {
        width: 1110px
    }
}

@media (min-width:1400px) {
    .main-menu__megamenu--size--xl {
        width: 1130px
    }
}

@media (min-width:1200px) and (max-width:1399.98px) {
    .main-menu__megamenu--size--xl {
        width: 930px
    }
}

@media (min-width:1400px) {
    .main-menu__megamenu--size--lg {
        width: 910px
    }
}

@media (min-width:1200px) and (max-width:1399.98px) {
    .main-menu__megamenu--size--lg {
        width: 750px
    }
}

@media (min-width:1400px) {
    .main-menu__megamenu--size--md {
        width: 690px
    }
}

@media (min-width:1200px) and (max-width:1399.98px) {
    .main-menu__megamenu--size--md {
        width: 570px
    }
}

@media (min-width:1400px) {
    .main-menu__megamenu--size--nl {
        width: 470px
    }
}

@media (min-width:1200px) and (max-width:1399.98px) {
    .main-menu__megamenu--size--nl {
        width: 390px
    }
}

@media (min-width:1400px) {
    .main-menu__megamenu--size--sm {
        width: 250px
    }
}

@media (min-width:1200px) and (max-width:1399.98px) {
    .main-menu__megamenu--size--sm {
        width: 210px
    }
}

@media (min-width:1200px) and (max-width:1399.98px) {
    .main-menu__link {
        padding-left: 9px;
        padding-right: 21px
    }
    .main-menu__link svg {
        right: 9px
    }
}

.main-menu .main-menu__link {
    font-weight: 500
}

.main-menu .main-menu__item--has-submenu .main-menu__link svg {
    color: #bfbfbf
}

.main-menu .main-menu__item:hover .main-menu__link {
    background-color: #f2f2f2
}

.megamenu {
    position: relative
}

.megamenu__image {
    position: absolute;
    bottom: 0;
    right: 0;
    transform-origin: bottom right
}

.megamenu__image img,
.megamenu__image picture {
    display: block
}

@media (min-width:1200px) and (max-width:1399.98px) {
    .megamenu__image {
        transform: scale(.81)
    }
}

.megamenu-links {
    list-style: none;
    padding: 0;
    margin: 0
}

.megamenu-links__item {
    line-height: 18px
}

.megamenu-links__item+.megamenu-links__item {
    margin-top: 10px
}

.megamenu-links__item--has-submenu+.megamenu-links__item {
    margin-top: 24px
}

.megamenu-links__item-link {
    font-size: 16px;
    color: inherit;
    transition: color .15s;
    font-weight: 500
}

.megamenu-links__item-link:hover {
    color: #0064f0
}

.megamenu-links__item-link+.megamenu-links {
    border-top: 1px solid #ebebeb;
    padding-top: 12px;
    margin-top: 5px
}

.megamenu-links:not(.megamenu-links--root) .megamenu-links__item {
    line-height: 16px
}

.megamenu-links:not(.megamenu-links--root) .megamenu-links__item+.megamenu-links__item {
    margin-top: 9px
}

.megamenu-links:not(.megamenu-links--root) .megamenu-links__item-link {
    font-weight: 400;
    font-size: 14px;
    color: #6c757d
}

.megamenu-links:not(.megamenu-links--root) .megamenu-links__item-link:hover {
    color: #0064f0
}

@media (min-width:1200px) and (max-width:1399.98px) {
    .megamenu-links__item-link {
        font-size: 15px
    }
}

.menu {
    color: #262626;
    background-color: #fff;
    box-shadow: 0 1px 15px rgba(0, 0, 0, .1), 0 1px 3px rgba(0, 0, 0, .1);
    list-style: none;
    margin: 0;
    padding: 8px 0;
    width: 200px;
    font-size: 15px;
    line-height: 22px;
    font-weight: 500
}

.menu__submenu {
    position: absolute;
    top: -8px;
    visibility: hidden;
    opacity: 0;
    transition: opacity .2s;
    left: 100%
}

.menu__link {
    display: block;
    position: relative;
    padding: 5px 28px 5px 16px
}

.menu__link,
.menu__link:hover {
    color: inherit
}

.menu__arrow {
    fill: #bfbfbf;
    position: absolute;
    top: calc(50% - 5px);
    right: 14px
}

.menu__arrow svg {
    display: block;
    transform: scaleX(1)
}

.menu__item:hover>.menu__link {
    background: #f2f2f2
}

.menu__item:hover>.menu__submenu {
    opacity: 1;
    visibility: visible
}

.menu__item--has-submenu {
    position: relative
}

.search__dropdown {
    color: #262626;
    background-color: #fff;
    box-shadow: 0 2px 20px rgba(0, 0, 0, .2);
    position: absolute;
    top: 100%;
    border-radius: 1.5px;
    opacity: 0;
    transform: translateY(26px);
    visibility: hidden;
    transition: opacity .25s cubic-bezier(.645, .045, .355, 1), transform .25s cubic-bezier(.645, .045, .355, 1), visibility 0s .25s;
    left: 0;
    right: 0
}

.search__dropdown--open {
    opacity: 1;
    transform: translateY(0);
    visibility: visible;
    transition-delay: 0s
}

.search__button-icon svg {
    display: block
}

.search__body {
    position: relative;
    z-index: 1;
    height: 44px
}

.search__body,
.search__decor {
    display: -ms-flexbox;
    display: flex
}

.search__decor {
    position: absolute;
    bottom: -10px;
    height: 34px;
    width: calc(100% + 20px);
    z-index: -1;
    left: -10px
}

.search__decor-end,
.search__decor-start {
    overflow: hidden;
    height: 100%;
    -ms-flex-positive: 1;
    flex-grow: 1;
    padding: 0 10px
}

.search__decor-start:before {
    content: "";
    display: block;
    height: 24px;
    border-bottom-left-radius: 2px;
    margin-right: -20px;
    transform: skewX(30deg);
    transform-origin: left top
}

.search__decor-end:before {
    content: "";
    display: block;
    height: 24px;
    border-bottom-right-radius: 2px;
    margin-left: -20px;
    transform: skewX(-30deg);
    transform-origin: right top
}

.search__box {
    position: absolute;
    top: calc((100% - 34px) / 2);
    height: 34px;
    transition: color .2s, opacity .2s;
    opacity: 0;
    color: #f0f0f0
}

.search__box:after,
.search__box:before {
    position: absolute;
    content: "";
    display: block;
    background: currentColor;
    height: 100%;
    width: 80%;
    top: 0;
    border-radius: 3px
}

.search__box:before {
    left: 0;
    transform: skewX(30deg)
}

.search__box:after {
    right: 0;
    transform: skewX(-30deg)
}

.search__input {
    width: 0;
    -ms-flex-negative: 1;
    flex-shrink: 1;
    -ms-flex-positive: 1;
    flex-grow: 1;
    background: transparent;
    border: none;
    padding: 0 12px;
    text-align: center;
    font-size: 15px;
    margin: 6px 0;
    z-index: 1;
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    color: #262626
}

.search__input::-webkit-input-placeholder {
    color: #999
}

.search__input::-moz-placeholder {
    color: #999
}

.search__input:-ms-input-placeholder,
.search__input::-ms-input-placeholder {
    color: #999
}

.search__input::placeholder {
    color: #999
}

.search__input::-ms-clear {
    display: none
}

.search__input::-webkit-input-placeholder {
    transition: opacity .15s, transform .15s, color .15s
}

.search__input::-moz-placeholder {
    transition: opacity .15s, transform .15s, color .15s
}

.search__input:-ms-input-placeholder,
.search__input::-ms-input-placeholder {
    transition: opacity .15s, transform .15s, color .15s
}

.search__input::placeholder {
    transition: opacity .15s, transform .15s, color .15s
}

.search__input:focus {
    outline: none
}

.search__input:focus::-webkit-input-placeholder {
    opacity: 0;
    transform: translateY(-26px)
}

.search__input:focus::-moz-placeholder {
    opacity: 0;
    transform: translateY(-26px)
}

.search__input:focus:-ms-input-placeholder,
.search__input:focus::-ms-input-placeholder {
    opacity: 0;
    transform: translateY(-26px)
}

.search__input:focus::placeholder {
    opacity: 0;
    transform: translateY(-26px)
}

.search__input:focus~.search__box,
.search__input:hover~.search__box {
    opacity: 1;
    color: #f0f0f0
}

.search__button {
    margin: 5px 7px;
    width: 72px;
    padding: 0;
    border: none;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-pack: center;
    justify-content: center;
    -ms-flex-align: center;
    align-items: center;
    fill: currentColor;
    z-index: 1;
    pointer-events: none;
    position: relative;
    color: rgba(0, 0, 0, .3)
}

.search__button,
.search__button:after {
    background: transparent
}

.search__button:focus {
    outline: none
}

.search__button:before {
    width: 3px;
    bottom: 0;
    background: #ebebeb;
    border-radius: 1.5px;
    left: -8px
}

.search__button:after,
.search__button:before {
    position: absolute;
    display: block;
    content: "";
    top: 0;
    z-index: -1;
    transform: skewX(-30deg)
}

.search__button:after {
    width: 100%;
    height: 100%;
    pointer-events: auto;
    border-radius: 3px;
    transition: background .12s;
    left: 0
}

.search__button--hover:after,
.search__button:hover:after {
    background: #f0f0f0
}

.search__button--hover:active,
.search__button:active {
    transition-duration: 0s
}

.search__button--hover:active:after,
.search__button:active:after {
    background: #e5e5e5
}

.search__button-title {
    display: none
}

.search__button--start {
    -ms-flex-order: -1;
    order: -1
}

.search__button--start:before {
    left: auto;
    right: -8px;
    transform: skewX(30deg)
}

.search__button--start:after {
    transform: skewX(30deg)
}

.search__shadow {
    position: absolute;
    bottom: 100%;
    height: 10px;
    width: calc(100% - 20px);
    overflow: hidden;
    left: 10px
}

.search__shadow:before {
    display: block;
    content: "";
    width: 100%;
    height: 60px;
    position: relative;
    top: 100%;
    box-shadow: 0 -1px 4px rgba(0, 0, 0, .12), 0 -1px rgba(0, 0, 0, .02);
    border-radius: 120px/10px
}

.search__dropdown {
    top: calc(100% + 5px);
    left: 14px;
    right: 14px
}

.search__decor-end:before,
.search__decor-start:before {
    background-color: #fff;
    box-shadow: 0 1px 3px rgba(0, 0, 0, .09)
}

.search__box {
    left: 92px;
    right: 92px
}

.suggestions {
    padding: 14px 0
}

.suggestions__group+.suggestions__group {
    margin-top: 10px
}

.suggestions__group-title {
    padding: 3px 20px;
    font-size: 11px;
    font-weight: 500;
    text-transform: uppercase;
    color: #999
}

.suggestions__category {
    display: block;
    padding: 6px 20px;
    color: inherit;
    font-size: 15px;
    line-height: 17px
}

.suggestions__category:hover {
    color: inherit;
    background: #f2f2f2
}

.suggestions__product {
    display: -ms-flexbox;
    display: flex;
    padding: 6px 20px;
    color: inherit
}

.suggestions__product:hover {
    color: inherit;
    background: #f2f2f2
}

.suggestions__product-image {
    position: relative;
    border-radius: 1px;
    overflow: hidden;
    -ms-flex-negative: 0;
    flex-shrink: 0;
    width: 40px;
    background: #fff;
    margin-right: 10px
}

.suggestions__product-image:before {
    display: block;
    position: absolute;
    content: "";
    width: 100%;
    height: 100%;
    border: 1px solid rgba(0, 0, 0, .08);
    border-radius: inherit;
    pointer-events: none;
    z-index: 1
}

.suggestions__product-info {
    -ms-flex-positive: 1;
    flex-grow: 1;
    -ms-flex-negative: 1;
    flex-shrink: 1;
    padding-top: 4px;
    min-width: 0
}

.suggestions__product-name {
    font-size: 15px;
    line-height: 17px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis
}

.suggestions__product-rating {
    display: -ms-flexbox;
    display: flex;
    margin-top: 2px
}

.suggestions__product-rating-stars {
    margin-right: 8px
}

.suggestions__product-rating-label {
    font-size: 13px;
    line-height: 1;
    color: #6c757d
}

.suggestions__product-price {
    white-space: nowrap;
    -ms-flex-negative: 0;
    flex-shrink: 0;
    font-size: 13px;
    font-weight: 700;
    padding-top: 3px;
    width: 70px;
    margin-left: 14px;
    text-align: right
}

.topbar {
    display: -ms-flexbox;
    display: flex;
    height: 100%;
    font-size: 14px;
    line-height: 1
}

.topbar__item-spring {
    -ms-flex-positive: 1;
    flex-grow: 1
}

.topbar__item-text {
    display: -ms-flexbox;
    display: flex;
    -ms-flex-align: center;
    align-items: center;
    padding: 0 10px
}

.topbar__link {
    transition: color .12s
}

.topbar__link-label {
    transition: inherit
}

.topbar__button {
    display: -ms-flexbox;
    display: flex;
    -ms-flex-align: center;
    align-items: center;
    position: relative;
    background: transparent;
    font-family: inherit;
    border: none;
    padding: 0 10px;
    transition: background .12s;
    height: 100%
}

.topbar__button:focus {
    outline: none
}

.topbar__button-label,
.topbar__button-title {
    transition: color .12s
}

.topbar__button-label {
    margin-right: 3px
}

.topbar__button--has-arrow {
    padding-right: 18px;
    padding-right: 22px
}

.topbar__button-arrow {
    position: absolute;
    fill: currentColor;
    top: calc(50% - 3px);
    right: 8px;
    right: 10px
}

.topbar__button-arrow svg {
    display: block
}

.topbar__menu {
    position: relative
}

.topbar__menu-body {
    visibility: hidden;
    transform-origin: top;
    transform: rotateX(60deg);
    opacity: 0;
    transition: transform .2s, opacity .2s, visibility 0s .2s;
    color: #262626;
    background-color: #fff;
    box-shadow: 0 1px 15px rgba(0, 0, 0, .1), 0 1px 3px rgba(0, 0, 0, .1);
    position: absolute;
    width: 150px;
    padding: .5rem 0;
    font-size: 14px;
    line-height: 26px;
    z-index: 1;
    font-weight: 500;
    right: 0
}

.topbar__menu-item {
    display: block;
    padding: 3px 1rem;
    color: #262626
}

.topbar__menu-item:hover {
    color: #262626;
    background: #f2f2f2
}

.topbar__menu-item img {
    margin-right: 8px
}

.topbar__menu-item span {
    position: relative;
    top: 1px
}

.topbar__menu--open .topbar__menu-body {
    visibility: visible;
    transition-delay: 0s, 0s, 0s;
    opacity: 1;
    transform: rotateX(0deg)
}

.topbar--spaceship-end {
    -ms-flex-pack: end;
    justify-content: flex-end
}

.topbar--spaceship-start {
    background: #1a79ff
}

.topbar--spaceship-start .topbar__item-text {
    color: #fff;
    font-weight: 500
}

@media (-webkit-max-device-pixel-ratio:1),
(max-resolution:1dppx) {
    .topbar--spaceship-start .topbar__item-text {
        font-weight: 400
    }
}

.topbar--spaceship-start .topbar__link {
    color: #cce3ff;
    font-weight: 400
}

.topbar--spaceship-start .topbar__link:hover {
    color: #fff
}

.topbar--spaceship-start .topbar__button-label {
    color: #cce3ff;
    font-weight: 400
}

.topbar--spaceship-start .topbar__button-title {
    color: #fff;
    font-weight: 500
}

@media (-webkit-max-device-pixel-ratio:1),
(max-resolution:1dppx) {
    .topbar--spaceship-start .topbar__button-title {
        font-weight: 400
    }
}

.topbar--spaceship-start .topbar__button-arrow {
    color: rgba(0, 0, 0, .25)
}

.topbar--spaceship-start .topbar__button:hover,
.topbar--spaceship-start .topbar__menu--open .topbar__menu-button {
    background: rgba(0, 0, 0, .15)
}

.topbar--spaceship-start .topbar__button:hover .topbar__button-label,
.topbar--spaceship-start .topbar__menu--open .topbar__menu-button .topbar__button-label {
    color: #fff
}

.topbar--spaceship-end {
    background: #da291f
}

.topbar--spaceship-end .topbar__item-text {
    color: #fff;
    font-weight: 500
}

@media (-webkit-max-device-pixel-ratio:1),
(max-resolution:1dppx) {
    .topbar--spaceship-end .topbar__item-text {
        font-weight: 400
    }
}

.topbar--spaceship-end .topbar__link {
    color: #9e9e9e;
    font-weight: 400
}

.topbar--spaceship-end .topbar__link:hover {
    color: #fff
}

.topbar--spaceship-end .topbar__button-label {
    color: #9e9e9e;
    font-weight: 400
}

.topbar--spaceship-end .topbar__button-title {
    color: #fff;
    font-weight: 500
}

@media (-webkit-max-device-pixel-ratio:1),
(max-resolution:1dppx) {
    .topbar--spaceship-end .topbar__button-title {
        font-weight: 400
    }
}

.topbar--spaceship-end .topbar__button-arrow {
    color: gray
}

.topbar--spaceship-end .topbar__button:hover,
.topbar--spaceship-end .topbar__menu--open .topbar__menu-button {
    background: hsla(0, 0%, 100%, .08)
}

.topbar--spaceship-end .topbar__button:hover .topbar__button-label,
.topbar--spaceship-end .topbar__menu--open .topbar__menu-button .topbar__button-label {
    color: #fff
}

.vehicle-picker__panel {
    display: none
}

.vehicle-picker__panel--active {
    display: block
}

.vehicle-picker__panel-body {
    padding: 28px 28px 28px
}

.vehicle-picker__text {
    font-size: 15px;
    color: #6c757d;
    margin-bottom: 8px
}

.vehicle-picker__text:first-child {
    margin-top: -5px
}

.vehicle-picker__actions {
    display: -ms-flexbox;
    display: flex;
    -ms-flex-align: center;
    align-items: center;
    -ms-flex-pack: end;
    justify-content: flex-end;
    margin-top: 32px
}

.vehicle-picker__actions>*+* {
    margin-left: 20px
}

.search__car-selector-link a {
    font-size: 14px;
    color: #999
}

.search__car-selector-link a:hover {
    text-decoration: underline
}

@media (min-width:1200px) {
    .about__body {
        grid-template-rows: 124px auto auto
    }
}

@media (min-width:1200px) {
    .block-header:not(.block-header--has-breadcrumb) .block-header__title {
        padding-top: 60px
    }
}

@media (min-width:1200px) {
    .post-header {
        padding-top: 24px
    }
}