<ng-container *ngIf="view === 'WEB'">
    <div *ngIf="!user" class="indicator indicator--trigger--click">
        <a (click)="openModel()" class="indicator__button">
            <span class="indicator__icon"><svg width="32" height="32">
          <path d="M16,18C9.4,18,4,23.4,4,30H2c0-6.2,4-11.5,9.6-13.3C9.4,15.3,8,12.8,8,10c0-4.4,3.6-8,8-8s8,3.6,8,8c0,2.8-1.5,5.3-3.6,6.7
C26,18.5,30,23.8,30,30h-2C28,23.4,22.6,18,16,18z M22,10c0-3.3-2.7-6-6-6s-6,2.7-6,6s2.7,6,6,6S22,13.3,22,10z" />
        </svg> </span>
            <span class="indicator__title">Accéder a</span>
            <span class="indicator__value">Mon compte</span></a>
    </div>
    <div *ngIf="user" class="indicator indicator--trigger--click">
        <a routerLink="/user" class="indicator__button">
            <span class="indicator__icon"><svg width="32" height="32">
          <path d="M16,18C9.4,18,4,23.4,4,30H2c0-6.2,4-11.5,9.6-13.3C9.4,15.3,8,12.8,8,10c0-4.4,3.6-8,8-8s8,3.6,8,8c0,2.8-1.5,5.3-3.6,6.7
    C26,18.5,30,23.8,30,30h-2C28,23.4,22.6,18,16,18z M22,10c0-3.3-2.7-6-6-6s-6,2.7-6,6s2.7,6,6,6S22,13.3,22,10z" />
        </svg> </span>
            <span class="indicator__value">{{user.displayName}}</span>
            <span class="indicator__title">{{user.phoneNumber}}</span>
        </a>
    </div>
</ng-container>
<ng-container *ngIf="view === 'MOBILE'">
    <a *ngIf="!user" class="mobile-menu__indicator" style="width:unset;margin:16px" (click)="openModel()">
        <span class="mobile-menu__indicator-icon">
      <svg width="20" height="20">
        <path
          d="M20,20h-2c0-4.4-3.6-8-8-8s-8,3.6-8,8H0c0-4.2,2.6-7.8,6.3-9.3C4.9,9.6,4,7.9,4,6c0-3.3,2.7-6,6-6s6,2.7,6,6
                  c0,1.9-0.9,3.6-2.3,4.7C17.4,12.2,20,15.8,20,20z M14,6c0-2.2-1.8-4-4-4S6,3.8,6,6s1.8,4,4,4S14,8.2,14,6z">
        </path>
      </svg>
    </span>
        <span class="mobile-menu__indicator-title">Account</span>
    </a>
    <a *ngIf="user" routerLink="/user" class="mobile-menu__indicator" style="width:unset;margin:16px">
        <span class="mobile-menu__indicator-icon">
      <svg width="20" height="20">
        <path
          d="M20,20h-2c0-4.4-3.6-8-8-8s-8,3.6-8,8H0c0-4.2,2.6-7.8,6.3-9.3C4.9,9.6,4,7.9,4,6c0-3.3,2.7-6,6-6s6,2.7,6,6
                  c0,1.9-0.9,3.6-2.3,4.7C17.4,12.2,20,15.8,20,20z M14,6c0-2.2-1.8-4-4-4S6,3.8,6,6s1.8,4,4,4S14,8.2,14,6z">
        </path>
      </svg>
    </span>
        <span class="mobile-menu__indicator-title">{{user.displayName.split(" ")[0]}}</span>
    </a>
</ng-container>