<mat-tab-group mat-stretch-tabs dynamicHeight>
    <mat-tab>
        <ng-template mat-tab-label class="m-2">
            <mat-icon>login</mat-icon>
            CONNEXION
        </ng-template>
        <app-login></app-login>
    </mat-tab>

    <mat-tab>
        <ng-template mat-tab-label class="m-2">
            <mat-icon>how_to_reg</mat-icon>
            S'INSCRIRE
        </ng-template>
        <app-register></app-register>
    </mat-tab>
</mat-tab-group>